
@media (max-width:1199px){
}

@media (max-width:1024px){
}

@media (max-width:991px){
}

@media (max-width:900px){
}

@media (max-width:800px){
}

@media (max-width:768px){
}

@media (max-width:767px){
.main-header .sidebar-toggle{padding: 17px 15px;}	
.table-responsive{border:none;}
}

@media (max-width:640px){
}

@media (max-width:480px){
}

@media (max-width:414px){
.login-box{max-width: 300px;}	
}

@media (max-width:375px){
}

@media (max-width:360px){
}

@media (max-width:320px){
}


