
@media only screen and (max-width: 2200px) and (min-width: 1921px){
.fix_search md-tabs-wrapper {
    left: 390px;
}
}
@media only screen and (max-width: 1920px) and (min-width: 1700px){
.buy_rent_tab{margin-top:28%;}
.fix_search .left-search-menu {width: 68.6%;}
.fix_search .right-search-menu {width: 68.6%;}
.fix_search .search-bar {width: 73.6%;}
.back-button {top: 10%; right: 9px;}
.map-view-bottom .client_wrapp {padding: 10px 9px 11px;}
.fix_search .fix-logo {width: 14% !important;}
.fix_search md-tabs-wrapper {left: 390px;}
.fix_search .search-bar { width: 48%;}
}
@media only screen and (max-width: 1360px){
.fix_search .left-search-menu {
    width: 77%;
    float: left;
    padding: 0;
}
.fix_search .search-bar {
    width: 46%;
    z-index: 999;
}
.fix_search .right-search-menu {
    width: 77%;
    float: left;
    padding: 0;
}
}
@media only screen and (max-width: 1280px){
.fix_search .left-search-menu {width: 78%;} 
.fix_search .right-search-menu {
    width: 78%;
    float: left;
}
.fix_search .search-bar {width: 48%;}
.fix_search .more-btn1 .btn {border: 1px solid #ec6726; background: #ec6726; color: #FFF; text-transform: initial; font-size: 14px; padding: 10px 6px; border-radius: 0 !important; }
.fix_search .more-btn .btn {border: 1px solid #ec6726; background: #ec6726; color: #FFF; text-transform: initial; font-size: 14px; padding: 10px 6px; border-radius: 0 !important; }
.fix-head #cd-main-nav{height: auto; width: auto !important; }
#cd-main-nav {width: 73%;}
.map-view-bottom .tplt_sec {float: left; width: 100%; margin-top: 0px; margin-bottom: 0;}
.tprt_sec {float: right; width: 100%; }
.map-view-bottom .sel_wrapp {bottom: -4px;}
.thre_wrapp {bottom: -6px;}
.service_provider_result.fix_search .left-search-menu {width: 65.7%;}
.service_provider_result.fix_search .search-bar {width: 71.8%;}
.service_provider_result.fix_search .more-input, .fix_search .more-input1 {padding: 10px 17.59% 14px 18.59%;}
.service_provider_result.fix_search .more-input, .fix_search .more-input1 {float: none; height: auto; margin: 0 auto; overflow: hidden; padding: 10px 0 15px; width: 62.5%; }
.move {
    top: 46px !important;
}
}



@media only screen and (max-width: 1199px){
.testimonial-head h2 {font-size: 17px; }
.price-sec {padding: 0;}
.pro-info {padding-left: 15px;}
.profile-nearby ul, .profile-amenities ul, .profile-description ul {float: left; width: 100%;}
.profile-description ul > li, .profile-amenities ul > li, .profile-nearby ul > li{float: left; width: 33%;}
.featured_properties_details .col-md-12 {padding: 0;}
.featured_properties_details .col-md-4 {padding: 0 6px;}
.featured_properties_details ul.fea_list_top li {display: block; float: left; line-height: 35px; padding: 0; width: 50%;}
.similar-properties .col-md-12 {padding: 0;}
.similar-properties .col-md-4 {padding: 0 6px;}
.property-right-sec {padding-right: 2px;}
.property-right-sec .title-featured{font-size: 15px;}
.property-right-sec ul.fea_list_top li {display: block; float: left; line-height: 35px; padding: 0; width: 50%;}
.prtlt_img {margin-right: 10px;}
.similar-properties ul.fea_list_top li {display: block; float: left; line-height: 35px; padding: 0; width: 50%;}
.right_warraper .current_listing ul.fea_list_top li {float: left; width: 50%;}
.agency-profile .staff-agency {padding: 20px 5px;}
.staff-agency .col-md-4.col-sm-12 {padding: 15px 10px;}
.agency-profile .staff-agency .staff-details{padding: 20px 5px; }
.left_warraper .latest_f_p h2.title-featured{font-size:14px;}
.lst_box_wrapp.grid{min-height: 460px;padding: 10px;}
.grid .pro_nme span {float: left; background: #ec6726; color: #fff; padding: 0px 10px; width: 50%; margin-right: 20%; }
#cd-nav {float: right; width: 67%; }
#cd-main-nav {float: right; width: 88%; }
.cd-nav-trigger{right:280px; }
.service-details-right h2.title-featured {font-size: 14px; margin: 16px 0 40px;}
.service-details-right .latest_f_p #myCarousel1 .test-controls {top: -35px;}
.homepage .separator ul.fea_list_top li {
    width: 18% !important;
}
.homepage .separator ul.fea_list_top li.amount_price {
    width: 46% !important;
}
.banner-sec {
    min-height: 635px;
    background-attachment: fixed;
    height: 100% !important;
}
.agency-profile .container {
    float: left;
    width: 100%  !important;
    padding: 0 15px;
}
.agency-profile .container .row {
    float: left;
    margin: 0;
    width: 100%;
}
.test-controls {
    width: 44px;
}
.agent-profile-sec .container {
    float: left;
    width: 100%  !important;
    padding: 0 15px;
}
.agent-profile-sec .container .row {
    float: left;
    margin: 0;
    width: 100%;
}
.agent-profile .amount_price{
    width: 100%;
    float: left;
    text-align: left;
    line-height: normal;
    padding: 0px;
}
.agent-profile ul.fea_list_top {
    width: 90%;
}
.agent-profile .separator ul.fea_list_top li {
    float: left;
    width: auto;
}
.fix_search .more-input {
    padding: 10px 12% 15px;
    float: left; width: 100%;
}
.fix_search .more-input1 {
    padding: 10px 12% 15px;
    float: left; width: 100%;
}
.map-view-bottom .prtinfo_wrapp .pro_nme span{
    background: none;
    margin-right: 0px;
    width: 100%;
    color: #ec6726;
    padding: 0px;
    margin: 0px;
}
.client_sect {
    float: left;
    width: 66%;
}
.property-det-info .container {
    float: left;
    width: 100%;
    padding: 0 15px;
}
.property-det-info .container .row{
    float: left;
    width: 100%;
    margin: 0px;
}
}

@media only screen and (max-width: 1169px){
.cd-nav-trigger {right: 25px; position: relative; float: right; z-index: 999; }
#cd-main-nav ul{width: 60% !important; background: none !important; height: auto !important; position: absolute !important; top: 10px !important; right:100px !important; z-index: 99; }
#cd-main-nav ul li{width: auto !important; color:#fff !important; display:inline-block !important;; }
#cd-main-nav ul li a{width: 100% !important; color:#fff !important; display: inline-block !important; }
#cd-nav .cd-nav-trigger {visibility: visible; opacity: 1; }
.fix_search md-tabs-wrapper {
    left: 195px;
    width: 200px;
}
.navbar.navbar-inverse{
    background:#464646;
}
.property-det-info .buy_rent_box md-tab-content{
    overflow: visible;
}
}

@media only screen and (max-width: 1100px){
#cd-nav li a {display: block; padding: 0 4px;}
.cd-nav-trigger{right: 4px !important;}
}
@media only screen and (max-width: 1060px){
#boxscroll .client_spon {
    position: absolute;
    width: 30%;
    right: 0;
    bottom: 10px;
    float: left;
    margin: 0;
}
.map-view-bottom .lst_box_wrapp.grid {
    width: 100%;
}
.client_sect {
    float: left;
    width: 60%;
    margin: 0 0 0 20px;
}
.property-det-info.fix_search .search-bar {
    width: 40%;
}

}
@media only screen and (max-width: 1024px){
.inner-pages-container .buy_rent_tab md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
    min-height: 235px;}
.fix_search .bed-values{width: 90px;}
.fix_search .small-full {width: 23%; }
.fix_search .search-bar {width: 48%; }
.fix_search .layout-align-start-stretch.layout-column {width: 25%; float: left; padding-top: 0; }
.fix_search .more-btn {width: 50%;}
.fix_search .more-btn1 {width: 50%;}
.fix_search .more-btn .btn {font-size: 13px; padding: 10px 6px; }
.fix_search .more-btn1 .btn{font-size: 13px; padding: 10px 6px; }
.fix_search .arrow {z-index: 99; right: 4px; top: -2px; }
.lst_box_wrapp.grid {min-height: 400px; }
.overlap-img {width: 80px !important; }
.per-action a {
    width: 100%;
}
.per-action a:first-child {
    margin-right: 0;
    margin-bottom: 8px;
}
.fix_search .more-input, .fix_search .more-input1 {
    padding: 10px 5% 15px;
}
}

@media only screen and (max-width: 999px){
.add-img img{width: 100%;}
}


@media only screen and (max-width: 991px){

.container {width: 100%; padding:0 15px; }
.banner.animatedParent .container,
.featured_properties .container,
.latest_properties_news .container,
.footer-sec .container {width: 94%; padding: 0 3%;}
.property-det-info .property_fil {padding: 0 50px;}
.testimonial-container .test-det {float: left; padding: 14px 0 0; width: 50%;}
.testimonial-container .price-sec {float: right; padding: 14px 0 0; width: 50%;}
.testimonial-head .line{display: none;}
.testimonial-head .line1 {border-top: 1px solid #cccccc; float: left; margin: 0; width: 100%; display: block;}
.profile-info figure img {width: 100%;}
.profile-info figure {float: left; width: 30%;}
.pro-info ul li{margin-bottom: 5px;}
.profile-description ul > li img, .profile-amenities ul > li img, .profile-nearby ul > li img {width: 37px;}
.profile-nearby ul > li{width: 50%;}
.pro-head{margin-top:5px;}
#myCarousel1 .test-controls {top: -38px;}
.property-right-sec .title-featured {margin-bottom: 45px;}
.inner_sect_wrapper .property-right-sec {float: left; width: 100%;}
.inner_sect_wrapper .property-right-sec .carousel.slide.width-100 {float: left; width: 70%; padding-right: 15px;}
.inner_sect_wrapper .test-controls {top: -37px; right:15px;}
.inner_sect_wrapper .right-sec .add-img {float: left; padding-right: 15px; padding-top: 0; width: 30%;}
.withradi {top: 9px;}
.left-right-wrapper .container {width: 96%;}
.left_warraper .remix-add {background: #ffffff none repeat scroll 0 0; border: 1px solid #d7d7d7; margin-top: 20px; padding: 10px; width: 49%; float: left; }
.left_warraper .latest_f_p {background: #ffffff none repeat scroll 0 0; border: 1px solid #d7d7d7; margin-top: 20px; padding: 10px; width: 49%; float: right; }
.left_warraper .add-img img {padding-top: 0; width: 300px;}
.left_warraper .add-img {float: left; width: 100%;}
.agency-profile .staff-agency .per-action.width-100 {float: none; height: auto; margin: 20px auto 0; overflow: hidden; padding-top: 15px; width: 50%; }
.agency-profile .staff-agency .per-action a {border-radius: 0; font-family: "open_sanslight"; font-size: 16px; height: 35px; line-height: 33px; padding: 0; text-transform: capitalize; width: 48%; }
.agency-profile .nowshowladd{display: none !important;}
.agency-profile .left_warraper .latest_f_p h2.title-featured {margin-top: 2px;}
md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
    min-height: 285px;
}
md-tabs:not(.md-no-tab-content):not(.md-dynamic-height){
	min-height:365px;
}

#slider-range, #slider-range1, #slider-range2, #slider-range3, #slider-range4, #slider-range6, #slider-range7, #slider-range8, #slider-range10, #slider-range11{
	margin:15px 0 15px 8px;
}
/*.bed-values {width: 100%;}*/
.inner-pages-container .buy_rent_tab md-tabs:not(.md-no-tab-content):not(.md-dynamic-height){min-height:265px; }
.inner-pages-container .buy_rent_tab md-tabs:not(.md-no-tab-content):not(.md-dynamic-height){min-height:330px; }
.inner-pages-container .search-menu {padding-right: 0px !important; padding-top: 0px; padding-left: 0px ;  margin-top: 0px;}
.search-menu{padding-left: 30px ; margin-top: 20px; }
.grid .pro_nme span {float: right; background: #ec6726; color: #fff; padding: 0px 10px; width: auto; margin-right: auto; }
.fix_search .property-det-info .property_fil {padding: 0 0px !important;}
.fix_search .buy_rent_tab md-tabs:not(.md-no-tab-content):not(.md-dynamic-height){min-height: 80px !important; }
.fix_search .search-bar {width: 42%;  }
.fix_search .small-full {width: 50%; float: left; min-height: 50px; }
.fix_search .layout-align-start-stretch.layout-column {width: 22%; float: left; padding-top: 0; }
.fix_search .more-btn {width: 100%;}
.container > .navbar-header {width: 25%;}
#mapview-page #cd-main-nav ul {top: 65px !important; }
#cd-main-nav ul {width: 220px !important; top: 52px !important; background: #000 !important; color: #FFF !important; right: 0px !important; padding:0px 0; z-index: 99999999 !important; }
#cd-main-nav ul li{width: 100% !important; float: left; }
#cd-main-nav ul li a{display: block !important; color:#FFF !important; padding: 8px 15px; font-size: 15px; border-bottom: 1px solid #242424; }
#cd-main-nav ul li:last-child a{border-bottom:none; }
#cd-nav {float: right; width: 64%; }
#cd-main-nav ul li a:hover{color:#EC6726 !important; }
.fix_header #cd-nav.is-fixed ul li a{color:#ffffff!important;}
.map-view-bottom .property-right-sec {
    width: 55% !important;}
.service_provider md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
    min-height: 220px;
}
.fix_search .fix-menu-sec {
    display: block;
    width: 25%;
}
.service_provider .more-refine-btn{
	padding-left: 0;
}
.service_provider .buy_rent_tab {width: 95%;}
.fix_search .fix-logo {
    padding-left: 15px;}
.service_provider_result.fix_search .search-bar {float: right;}
.service_provider_result .more-refine-btn {margin-bottom: 0; margin-top: 0; padding-top: 0; }
.service_provider_result.fix_search .search-menu {float: left; margin-left: 1%; margin-right: 0; padding-right: 0; width: 23%; }
.service_provider_result.fix_search .buy_rent_tab md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
    min-height: 70px !important;
}
.service_provider_result.inner-pages-container .search-menu {
    padding-top: 13px;
}
.move {
    position: fixed;
    top: 0 !important;
}
ul.fea_list_top li.amount_price {
    font-size: 14px !important;
    font-weight: normal !important;
}
.homepage .separator ul.fea_list_top li.amount_price {
    width: 38% !important;
    padding: 0 3px !important;
}
.homepage .separator ul.fea_list_top li {
    width: 20% !important;
}
.agency-profile .container .row .col-sm-12 {
    float: left;
    width: 100%;
    padding: 0;
}
.agency-profile .left_warraper {
    padding: 25px 0 0 0;
    position: relative;
    float: left;
    width: 100%;
}
.agency-profile .right_warraper {
    padding: 25px 0 0 0;
    position: relative;
    float: left;
    width: 100%;
}
.per-action a:first-child {
    margin-right: 0;
    margin-bottom: 0;
}
.agent-profile-sec .col-sm-12{
    float: left;
    padding: 0px;
    width: 100%;
}
.agent-profile-sec .left_warraper .add-img {
    float: left;
    width: 100%;
    padding: 0;
}
.agent-profile-sec .right_warraper {
    padding: 25px 0 0 0px;
    position: relative;
    float: left;
    width: 100%;
}
.agent-profile-sec .left_warraper {
    padding:0px 0 0 0px;
    position: relative;
    float: left;
    width: 100%;
}
.fix_search .more-input .bed-slider {
    width: 21%;
}
.fixed.fix-head #cd-main-nav ul{
    top: 75px !important;
}
#staffaddprofile .ltshow .add-img {
    float: right;
    width: 48%;
    margin-top: 20px;
}
#staffaddprofile .ltshow .add-img img{
    margin: 0 auto; float: none;
}
#staffaddprofile .ltshow .latest_f_p {
    float: left;
    width: 50%;
}
}
@media only screen and (max-width: 960px){
#featured ul.fea_list_top li img {
    width: 30px !important;
}
.homepage .separator ul.fea_list_top li {
    width: 25% !important;
}
.homepage .separator ul.fea_list_top li.amount_price {
    width: 100% !important;
    padding: 3px 3px !important;
    float: left !important;
    text-align: left;
    line-height: normal;
    height: auto;
}

}

@media only screen and (max-width: 935px){
.margin-right-30 {margin-right: 10px !important; }
.col-item .photo img{height: 160px;}
.col-item .info{padding: 10px 10px;}
#cd-nav {float: right; width: 56%;}
.map-view-bottom .prtlt_img {width: 100%;}
.map-view-bottom .prtinfo_wrapp {float: right; width: 100%;}
.map-view-bottom .lst_box_wrapp.grid {
    width: 100%;
}
#boxscroll .client_spon {
    position: absolute;
    width: 20%;
    right: 29px;
    bottom: 8px;
    float: left;
    margin: 0;
}
}


@media only screen and (max-width: 900px){
.container > .navbar-header {width: 25%;}
#cd-main-nav ul {width: 220px !important; top: 52px !important; background: #000 !important; color: #FFF !important; right: 0px !important; padding:0px 0; z-index: 99999999 !important; }
#cd-main-nav ul li{width: 100% !important; float: left; }
#cd-main-nav ul li a{display: block !important; color:#FFF !important; padding: 8px 15px; font-size: 15px; border-bottom: 1px solid #242424; }
#cd-main-nav ul li:last-child a{border-bottom:none; }
#cd-nav {float: right; width: 53%; }
#cd-main-nav ul li a:hover{color:#EC6726 !important; }
.fix_header #cd-nav.is-fixed ul li a{color:#ffffff!important;}
.thre_box {
    float: left;
    width: auto;
    margin-left: 5px;
}
.map-view-bottom .lt_prop {
    width: 54%;
}
.map-view-bottom .property-right-sec {
    width: 45% !important;
    padding: 0 !important;
}
.fix_search md-tabs-wrapper {
    left: 156px;
    width: 202px;
}
.fix_search .buy_rent_box md-tab-item {
    font-size: 16px;
    width: 82px !important;
}

.fix_search .left-search-menu {
    width: 72%;
}
.fix_search .right-search-menu {
    width: 72%;
    float: left;
}
}

@media only screen and (max-width: 865px){
.container > .navbar-header {width: 19%;}
.logo_wrapp img {padding-top: 18px; }

.fix_search .layout-align-start-stretch.layout-column {
    width: 50%;
    float: left;
    padding-top: 0;
}
.more-input .small-full.bed-slider {
    float: left;
    width: 50%;
}
.more-input1 .small-full.bed-slider {
    float: left;
    width: 50%;
}
.fix_search .more-input .bed-slider {
    width: 50%;padding: 0 15px;
}
.fix_search .more-input1 .bed-slider {
    width: 50%;padding: 0 15px;
}
}


@media only screen and (max-width: 800px){
.pmd-navbar .navbar-nav > li > a{padding: 0 5px;font-size: 15px;}
.pmd-navbar .navbar-nav > li > a:hover{padding: 0 5px;}
.map-view-bottom .lt_prop {width: 54%;}
.map-view-bottom .property-right-sec {width: 45% !important; padding: 0 !important; }

}


@media only screen and (max-width: 768px){
.banner-caption{width:300px;}
.caption-top{font-size:17px;}
.caption-bottom{font-size:15px; width:92%;}
.main-content .breadcrumb{padding-bottom:0;}
.property-right-sec {padding-right: 2px; padding-left: 0;}
.agency-profile .resp-tabs-container {float: left; width: 100%;}
.agency-profile .resp-accordion.resp-tab-active {background: #ec6726 none repeat scroll 0 0 !important; color: #ffffff; font-size: 18px; padding: 15px 20px !important; }
.agency-profile .resp-accordion {background: #FFF none repeat scroll 0 0 !important; color: #474747; font-size: 18px; padding: 15px 20px !important; width:100%; float: left; }
.agency-profile .resp-tabs-list {display: none !important; }
.agency-profile #horizontalTab {float: left; padding-bottom: 20px; width: 100%; }
.agency-profile h2.resp-tab-active span.resp-arrow{border-color:currentcolor rgba(0, 0, 0, 0) #ffffff !important;}
.agency-profile .staff-agency .per-action.width-100 {float: none; height: auto; margin: 20px auto 0; overflow: hidden; padding-top: 15px; width: 50%; }
.agency-profile .staff-agency .per-action a {border-radius: 0; font-family: "open_sanslight"; font-size: 16px; height: 35px; line-height: 33px; padding: 0; text-transform: capitalize; width: 48%; }
.agency-profile .staff-agency .col-md-4.col-sm-12 {float: left; margin-bottom: 20px; width: 100%; }
.agency-profile .staff-news .col-md-12.col-sm-12 {float: left; width: 100%; }
.agency-profile .staff-news .news-data{float: left; padding-top: 20px; width: 100%; }
md-tabs:not(.md-no-tab-content):not(.md-dynamic-height){
	min-height:375px;
}
.search-menu {padding-left: 30px; padding-top: 15px; }
.property-det-info #tab-content-1 .padding-left-0{padding-left: 5px;padding-right:5px;}
.property-det-info #tab-content-0 .padding-left-0{padding-left: 5px;padding-right:5px;}
.inner-pages-container .search-menu{padding-right: 10px !important;}
.inner_sect_wrapper .property-right-sec {padding-left: 15px;}
.fix_search .right-search-menu {
    width: 62%;
    float: left;
}
.fix_search .left-search-menu {
    width: 62%;
}
.fix_search .search-bar {
    width: 50%;
}
.fix_search .fix-logo {
    padding-left: 10px;
    width: 20%;
}
.fix_search md-tabs-wrapper {
    left: 15%;
    float: left;
    position: relative;
    width: auto;
}
.fix_search .SearchBar {
    display: none;
}
.Changepassword form {
    width: 94%;
}
.Changepassword h2{width: 94%;}
}

@media only screen and (max-width: 767px){

.log_section_button {background: #ffffff none repeat scroll 0 0; border: 1px solid #ec6626; color: #ec6626 !important; float: right; font-family: "open_sanslight"; font-size: 14px !important; line-height: 35px !important; margin-right: -1px; padding: 0 12px !important; }
.log_section_button:hover,
.log_section_button:active,
.log_section_button:focus {background: #ec6726 !important; border: 1px solid #ec6626; color: #fff !important;}
.log_section_button.act:hover{background: #ec6726 !important;} 
.container > .navbar-header {width: 100%; margin: auto;padding: 0;}
.logo_wrapp {width: auto;height:auto!important;}
.logo_wrapp img {padding-top: 8px; }
.footer-menu-list li{width: 100%;padding: 0 0px;text-align: center;}
.copyright-line, .socialmedia{width: 100%;text-align: center;}
.footer-sec.animatedParent{padding: 23px 0 15px;}
.footer-menu-list {margin-bottom: 20px; }
.socialmedia ul {float: none; margin-top: 10px; }
.well-none .carousel-control{width: 20px; top: 15%; height: 26px; margin: -6px 0 0 0;}
.buy_rent_tab md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {min-height: 400px;}
.menu-btn{display: block !important; margin-top: 13px;}
.pmd-navbar-sidebarr{position:relative !important; left: 0; min-height: 100%; top: 0; transform: translate3d(0%, 0px, 0px) !important; display: block; width:100%; }
.login-details {float: right !important; height: auto; margin-top: 12px; overflow: hidden; position: absolute; right: 0; top: 0; width: 145px; }
.collapse {display: block; }
.padding-left-0 {padding-left: 15px;}
.collapse.navbar-collapse {border: medium none;}
.navbar-header {min-height: 60px;}
.nav-menu-sec {height: 100%; width: 0; position: fixed; z-index: 1; top: 0; left: 0; background-color: #111; overflow-x: hidden; padding-top: 60px; transition: 0.5s; }
.nav-menu-sec a {padding: 8px 8px 8px 32px; text-decoration: none; font-size: 25px; color: #818181; display: block; transition: 0.3s }
.nav-menu-sec .closebtn {display: block !important; font-size: 31px !important; margin-left: 50px; position: absolute; right: 11px; top: -8px; }
.nav-menu-sec > li {display: block; float: left !important; margin-bottom: 6px; width: 100% !important; padding-left: 20px !important; min-width: 250px  ; }
.nav-menu-sec > li:first-child{min-height: 35px; }
.nav-menu-sec > li:first-child:hover{background:none;}
.nav-menu-sec > li:hover{background:#EC6726;}
.nav-menu-sec .closebtn {color: #ffffff !important; display: block;}
.nav-menu-sec a {color: #ffffff !important;}
.nav-menu-sec {margin-top: 61px; padding-top: 15px;}
.show {width: 265px !important; padding-left: 15px;}
.dont-show{width:0px !important;}
.property-det-info .property_fil {padding: 0 18px !important;}
.property-det-info #tab-content-0 .padding-left-0 {padding-left: 5px; padding-right: 5px; }
.property-details div {float: left; width: 33%;}
.profile-info {float: left; width: 100%;}
.pro-head {float: left; margin-top: 5px; width: 100%;}
.carousel,.testimonial-head, .profile-description > p, .profile-inspection p{float: left; width: 100%;}
.profile-info .col-md-8 {float: left; width: 100%;}
.property-icons {float: left; width: 100%;}
.profile-info figure {float: left; width: 20%;}
.property-icons {padding-left: 0;}
.property-icons img {float: left; width: 120px;}
.featured_properties_details h2.title-featured{margin-bottom:20px;}
.featured_properties_details .col-md-4 {margin-bottom: 15px; padding: 0;}
.featured_properties_details .col-md-4:last-child{margin-bottom: 0px;}
.featured_properties_details ul.fea_list_top li {width: 25%;}
.similar-properties ul.fea_list_top li {width: 25%;}
.similar-properties h2.title-featured{margin-top: 0; margin-bottom: 20px;}
.similar-properties {margin-top: 0; padding: 15px 0; }
.similar-properties .col-md-4 {margin-bottom: 15px; padding: 0;}
.similar-properties .col-md-4:last-child{margin-bottom: 0px;}
.property-right-sec{width:100%; float: left;}
.property-right-sec .title-featured {font-size: 22px; }
.property-right-sec ul.fea_list_top li {width: 25%;}
.right-sec .carousel.slide.width-100 {float: left; width: 65%;}
.add-img {float: right; width: 30%; padding: 0 0 20px;}
.featured-prop-sec .add-img {padding: 20px 0 0;}
.footer-sec .col-sm-9.col-md-9 {float: left; width: 100%;}
.footer-sec .well-none {float: left; width: 100%;}
.prtlt_img {float: left; margin-right: 10px;}
.tprt_sec {float: right; padding: 8px 0 5px; width: 100%;}
.tplt_sec {border-bottom: 1px solid #cccccc; float: left; padding-bottom: 3px; width: 100%; }
.map-img #ninja-slider .slider-inner ul {min-height: 400px; padding-top: 0 !important;}
.map-img #thumbnail-slider ul li {height: 80px !important; margin-bottom: 10px !important; width: 135px !important;}
.map-img.width-100 > #thumbnail-slider{width:160px;}
.inner-pages-container .buy_rent_tab md-tabs:not(.md-no-tab-content):not(.md-dynamic-height){min-height:360px;}
.lst_box_wrapp.grid {margin: 0.5% !important; width: 49%; float: left; }
.lst_box_wrapp.middle-sec.grid {margin: 0.5% !important; }
.lst_box_wrapp.grid{margin: 1%; }
.right_warraper .add-img.width-100.padding-tb-30 {float: left; width: 100%; }
.add-tab-section .add-img {float: right; width: 100%; padding: 15px 0; }
.inner-pages-container .buy_rent_tab md-tabs:not(.md-no-tab-content):not(.md-dynamic-height){
	min-height:410px;
}
.inner-pages-container .bed-slider {padding-left: 0; padding-right: 20px; }
.property-det-info #tab-content-1 .padding-left-0{padding-left: 5px;padding-right:5px;}
.prop_list_wrapp .add-img {float: right; width: 100%; padding: 0 0 20px; }
.grid .pro_nme span {float: right; background: #ec6726; color: #fff; padding: 0px 10px; width: auto; margin-right: 0; margin-left: 15%; }
.cd-nav-trigger {right: 155px !important; position: absolute !important; float: right !important; z-index: 999 !important; width: 35px !important; top: 16px !important;}
#cd-main-nav ul{top: 46px !important; }
#mapview-page #cd-main-nav ul {top: 65px !important; }
.modal-dialog{margin:20px auto; }
.create_tagline{padding: 25px 35px;}
.map-view-bottom .lt_prop {width: 100%;position: relative;}
.map-view-bottom .property-right-sec {position: relative;width: 100% !important; padding: 0 !important; }
.service_provider .more-input{display: none}
.service_provider .more-refine-btn {float: left; width: 35%; }
.service_provider .propert-type{float: left; width: 65%;padding-left: 0 }
.service_provider .buy_rent_tab md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {min-height: 220px;}
.service_provider .search-menu {padding-top: 0;}
.service_provider .more-input .col-md-4 {padding: 0;} 
.service-det-content .add-img{width: 100%;float: left;}
.service-details-left .add-img img{width:100%;}
.service-details-left {float: left; width: 100%;}
.result{float: left;width: 100%;}
.homepage .separator ul.fea_list_top li.amount_price {
    width: 25% !important;
    padding: 8px 3px 0 3px !important;
    float: left !important;
    text-align: center;
    line-height: normal;
    height: auto;
    font-size: 15px !important;
    font-weight: 600 !important;
}
.listings .client_spon img {
    width: 100%;
}
.client_spon {
    position: relative;
    width: 30%;
    right: 0;
    bottom: 0;
    float: left;
    margin: 7px 0 0 0;
}
#boxscroll .client_sect {
    float: left;
    width: 50%;
    margin: 0 0 0 20px;
}
.client_sect {
    float: left;
    width: 76%;
    margin: 0 0 0 20px;
}
#boxscroll .lst_box_wrapp.grid .client_spon {
    position: absolute;
    width: 18%;
    right: 0px;
    bottom:10px;
    float: none;
    margin: 0px 0 0px 0;
    top: auto;
    left: auto;
    padding: 0;
}
#boxscroll .client_spon {
    position: absolute;
    width: 13%;
    right: 10px;
    bottom:4px;
    float: none;
    margin: 0px 0 0px 0;
    top: auto;
    left: auto;
    padding: 0;
}
.left_warraper .latest_f_p h2.title-featured {
    font-size: 18px;
}
.fix_search .fix-menu-sec {
    display: block;
    width: 50%;
    float: left;
}
.fix_search .fix-slider {
    width: 50%;
    float: left;
    margin-bottom: 15px;
    padding: 0 15px !important;
}
.fix_search .fix-slider {
    width: 50%;
    float: left;
    margin-bottom: 15px;
    padding: 0 15px !important;
}
#boxscroll.prop_list_inner{
    overflow: visible !important;
}
.map-view-bottom .lst_box_wrapp.grid {
    width: 100%;
    margin: 0px 0 15px 0 !important;
}
.map-view-bottom .container {
    width: 100%;
    padding: 0 15px;
}
.inner_sect_wrapper.map-view-bottom.padding-top {
    padding-top: 10px;
}
.back-button {
    position: absolute;
    top: 11%;
    right: 2%;
    z-index: 1;
}
.fix_search .indoor {
    width: 100%;
    margin: 10px 0 0 0;
    padding: 0 15px !important;
}
.banner-top {
    margin: 58px 0 0;
}
.buy_rent_box .small-full.bed-slider {
    float: left;
    width: 50%;
}
.service_provider_result .select-list {
    padding: 0 15px !important;
}
.property-det-info .fix-slider {
    float: left;
    width: 50%;
    padding: 0 15px !important;
    margin-bottom: 15px;
}
.property-det-info .indoor {
    float: left;
    width: 50%;
    padding: 0 15px !important;
    margin-bottom: 15px;
}
}
/*@media only screen and (max-width: 750px){
.filtertab.bg-46.map-view.inner-pages-container.fix_search {
    float: left;
    width: 100%;
    position: relative !important;
    height: auto !important;
}
md-tabs-content-wrapper{
    position: relative;
}

.filtertab.bg-46.map-view.inner-pages-container.fix_search {
    float: left;
    width: 100%;
    position: relative !important;
    height: auto !important;
}
}*/
@media only screen and (max-width: 730px){
.service_provider .more-refine-btn {float: left; width: 39%;}
.service_provider .propert-type {width: 61%;}
.fix_search .search-menu .padding-right-0 {
    padding: 0;
    margin: 0;
    float: left;
}
.service_provider_result.fix_search .fix-logo {
    padding-left: 10px;
    width: 33%;
}
.service_provider_result.fix_search .search-bar {
    width: 60%;
}
.service_provider_result.fix_search .left-search-menu {
    width: 59%;
}
.addstaffsect form .form-group {
    width: 100%;
    float: left;
    padding: 0;
}
.addstaffsect h2 {
    padding: 0px 0 10px 0px;
    font-size: 26px;
    text-align: center;
}


@media only screen and (max-width: 640px){
.property-details p {font-size: 14px;}
.banner-caption {display:none;}
.lst_box_wrapp.grid {margin: 0; width: 100%; min-height: 535px;}
.grid .client_img > img {height: auto; width: 120px; }
.grid .client_img > img {height: auto; width: 120px;}
.grid .client_spon {text-align: left; }
.grid .client_spon > img {width: 120px;}
.grid .client_img {padding-right: 10px; width: auto;}
.grid .line{display:block;}
.left_warraper .remix-add{width:100%;}
.left_warraper .latest_f_p {width:100%;}
.left_warraper .remix-logo img {
    width: 200px;
    margin: 0 auto 15px auto;
    display: block;
}
.right_warraper {float: left; width: 100%; padding: 25px 10px; }
.grid .client_img img {width: 100%; height: 46px; }
.grid .client_spon {position: absolute; width: 21%; right: 15px; bottom: 0px; }
.grid .client_spon img {width: 100%; }
.result .ser_img {width: 18%;}
.result .ser_sect {width: 60%;}
.result .client-logo {width: 22%;}
.service_provider_result.fix_search .fix-logo{width: 35%;}
.service_provider_result.fix_search .search-bar {width: 62.8%;}
.service_provider_result.fix_search .more-refine-btn a {font-size: 14px; padding: 8px 0 0 6px;}
.service_provider_result .more-refine-btn {padding-left: 0;}
.service_provider_result.fix_search .more-input, .fix_search .more-input1{width:100%;}
.more-input .col-md-4{width:33%;float: left;padding-right: 0px;}

.agent-profile-sec .left_warraper .add-img {
    float: left;
    width: 100%;
    padding: 20px 0 0 0;
    text-align: center;
}
.agent-profile-sec .left_warraper .add-img img {
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 300px;
    float: none;
}
#boxscroll .lst_box_wrapp.grid .client_spon {
    position: absolute;
    width: 13%;
    right: 15px;
    bottom: 8px;
    float: none;
    margin: 0px 0 0px 0;
    top: auto;
    left: auto;
    padding: 0;
}
.banner-sec{min-height:600px; }
.service_provider .more-input .col-md-4 {
    padding: 0;
    width: 100%;
}
#staffaddprofile .ltshow .latest_f_p {
    float: left;
    width: 100%;
}
#staffaddprofile .ltshow .add-img {
    float: right;
    width: 100%;
}
}   

@media only screen and (max-width: 639px){
.main-content {padding: 0; }
.testimonial-head h2 {font-size: 16px;}
.testimonial-head .price {margin-right: 2px; padding: 3px 6px;}
.property-right-sec {padding: 0 15px 20px;}
.prtlt_img {width: 100%;}
.prtinfo_wrapp {float: right; padding: 15px 0 0; width: 100%; }
.map-img.width-100 > #thumbnail-slider {display: none;}
.map-img #ninja-slider .slider-inner ul {min-height: 330px;}
.agency-profile .staff-agency .per-action.width-100 {width: 80%;}
.title_dow_app{position: relative; bottom: 0; }
.down_btns a {width: auto; margin-bottom: 15px; padding: 0; }
#tabContainer {margin-bottom: 25px; }
.download-link {margin-bottom: 0px; }
.service_provider .more-refine-btn {float: left; width: 46%;}
.service_provider .propert-type {width: 54%;}
.result .ser_img {width: 18%;}
.result .ser_sect {width: 50%;}
.result .client-logo {width: 32%;}
.resp-tabs-container .prtlt_img img {
    width: 100%;
    height: auto;
}
.listings .prtlt_img {
    float: left;
    width: 100%;
    margin: 0;
}
.listings .prtinfo_wrapp {
    float: left;
    width: 100%;
}
.agent_profile_contact .email-logo a{
    margin-top: 0px;
}
.agent_profile_contact .email-logo img {
    position: relative;
    right: 0;
    bottom: 0;
}
.agent_profile_contact .agn-info {
    width: 100%;
    float: left;
    padding: 20px 0 0 0;
}
.agent_profile_contact .agn-avat {
    width: 100%;
    float: left;
}
.agent_profile_contact .agn-avat img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: block;
    text-align: center;
}
.per-loca {
    font-size: 14px;
}
.per-mobile {
    font-size: 14px;
}

}


@media only screen and (max-width: 535px){
.title_dow_app h2{margin-top: 0px}
.down_btns a{width: 28%;margin-bottom: 15px;}
.service_provider .more-refine-btn {float: left; width: 50%;}
.service_provider .propert-type {width: 50%;}	
.map-view.fix_search #tabContainer {
    margin: 0px !important;
    padding: 0px 0 0 0;
    float: left;
    width: 100%;
    background: #333;
    height: 131px;
}
.buy_rent_box {
    background: none;
    float: left;
    width: 100%;
    height: 100%;
    position: relative !important;
}
.map-view.fix_search #tabContainer {
    margin: 0px !important;
    padding: 0px 0 0 0;
    float: left;
    width: 100%;
}
.fix_search .buy_rent_tab md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
    min-height: 100% !important;
}
.md-accent.ng-isolate-scope {
    float: left;
    width: 100%;
    height: 100%;
}
.buy_rent_box {
    background: none;
    float: left;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.fix_search .search-menu {
    width: 100%;
    float: left;
    margin-left: 0% !important;
}
.fix_search .search-menu .padding-right-0 {
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
}
.fix_search .more-btn {
    width: 100%;
    float: left;
    text-align: center;margin-top: 10px;
}
.fix_search .more-btn .btn {
    font-size: 13px;
    padding: 10px 6px;
    float: none;
    margin: 0 auto;
    display: inline;
    text-align: center;
    width: auto;
}
.fix_search .more-btn1 {
    width: 100%;
    float: left;
    text-align: center;margin-top: 10px;
}
.fix_search .more-btn1 .btn {
    font-size: 13px;
    padding: 10px 6px;
    float: none;
    margin: 0 auto;
    display: inline;
    text-align: center;
    width: auto;
}
.fix_search .left-search-menu {
    width: 90%;
}
.fix_search .right-search-menu {
    width: 90%;
}
.fix_search md-tabs-wrapper {
    left: 32%;
    float: left;
    position: relative;
    width: auto;
    top: 13px;
}
.fix_search .fix-logo {
    padding-left: 10px;
    width: 33%;
}
.thre_wrapp {
    float: left;
    width: auto;
    position: relative;
    bottom: -6px;
    margin: 0px 0 3px 0;
}
.back-button {
    position: absolute;
    top: 16%;
    right: 2%;
    z-index: 1;
}
.prop_list_wrapp {
    float: left;
    width: 100%;
    margin-top: 50px;
}
#mapview-page #cd-main-nav ul {
    top: 116px !important;
}
.fix_search .more-input, .fix_search .more-input1 {
    background:#464646;
}
.service_provider_result.fix_search .left-search-menu {
    width: 42%;
}
.service_provider_result.fix_search .fix-logo {
    width: 56%;
}
.service_provider_result.fix_search .search-bar {
    width: auto;
}
.service_provider_result.fix_search .search-menu {
    margin-left: 2% !important;
    margin-right: 5px !important;
}
.service_provider_result.fix_search .more-input .select-list{
    width: 100%;
}
.service_provider_result.fix_search .more-refine-btn a {
    font-size: 13px;
    padding: 8px 0 0 5px;
    text-transform: inherit;
}
}

@media only screen and (max-width: 508px){
.property-details div {float: left; width: 100%;}
.property-details span {display: inline-block; float: left; width: auto;}
.property-details p {float: left; margin-left: 15px; margin-top: 8px; width: auto;}
.property-details img {width: 50px;}
.map-img #ninja-slider .slider-inner ul {min-height: 300px;}
.inner-pages-container .buy_rent_tab md-tabs:not(.md-no-tab-content):not(.md-dynamic-height){min-height:460px;}

}


@media only screen and (max-width: 500px){
.small-full {width: 100% !important; float: left;}
.buy_rent_tab md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {min-height: 510px; }
.buy_rent_tab{margin-top: 110px;}

.width-20{padding: 0 5px;}
.carousel-control.left{left: -10px; margin: 0px;}
.carousel-control.right{right: -10px;margin: 0px;}
.test-controls {
    width: 55px;
}
.test-controls .carousel-control.left{left: 0px; margin: 0px;}
.test-controls .carousel-control.right{right: 0px;margin: 0px;}
.agency-profile .staff-agency .per-action.width-100 {width: 100%;}
.agency-profile .staff-agency {padding: 20px 5px;}
.agency-profile .staff-news {padding: 20px;}
#slider-range, #slider-range1, #slider-range2, #slider-range3, #slider-range4, #slider-range6, #slider-range7, #slider-range8{margin:15px 0 20px 8px;}
.buy_rent_tab md-tabs:not(.md-no-tab-content):not(.md-dynamic-height){min-height:530px;}
.banner-sec{min-height:auto; }
.service_provider .more-input .col-md-4 {
    padding: 0;
    width: 100%;
}
.title_dow_app{position: relative; bottom: 0; }
.down_btns a {width: auto; margin-bottom: 15px; }
#tabContainer {margin-bottom: 25px; }
.download-link {margin-bottom: 0px; }
#section05 {background: rgba(0, 0, 0, 0) none repeat scroll 0 0; border: medium none; bottom: 15px; box-shadow: none; height: 40px; left: 0; position: relative; width: 100%; z-index: 9999; text-align: center; }
.inner-pages-container .buy_rent_tab md-tabs:not(.md-no-tab-content):not(.md-dynamic-height){
	min-height: 570px;
}
.inner-pages-container .search-menu{padding-right:5px !important; }
.inner-pages-container .bed-slider{padding-right:5px; }
.lst_box_wrapp.grid {margin: 0 0 15px !important; width: 100%; min-height: 400px; }
.agency-profile .container .row .col-sm-12{
    float: left;
    width: 100%;
    padding: 0;
}
.agency-profile .container .left_warraper {
    padding-right: 0;
    position: relative;
}
.agency-profile .container .right_warraper {
    padding: 20px 0 0 0px;
    position: relative;
}
.fix_search .layout-align-start-stretch.layout-column {
    width: 100%;
    float: left;
    padding-top: 0;
}
.back-button a {
    padding: 8px 6px;
    font-size: 13px;
}
.map-view-bottom .home_find{
    font-size: 14px;
}

}


@media only screen and (max-width: 480px){
.well-none .carousel-control {top: -5%; }
.test-controls a{width: 60%;}
.testimonial-container .test-det {float: left; padding: 1px 0 0; text-align: center; width: 100%;}
.testimonial-head h2 {font-size: 15px;}
.testimonial-container .price-sec {float: none; padding: 14px 0 0; width: auto; margin: 0 auto; left: 50%; position: relative; margin-left: -96px; }
.breadcrumb li {font-size: 13px;}
.breadcrumb li a {font-size: 13px;}
.breadcrumb {margin-bottom: 5px;}
.right-sec .carousel.slide.width-100 {float: left; width: 100%; }
.add-img {float: right; width: 100%; padding: 10px 0 10px;}
.thre_box {margin-left: 6px;}
.thre_box a {padding: 6px 4px 9px;}
.sel_wrapp {width: auto;}
.thre_wrapp {float: left; padding: 0px 0 0px; width: auto; bottom: -8px;}
.sel_wrapp select{border-bottom: 1px solid #CCC;}
.thre_box a {padding: 6px 4px 8px;}
.inner_sect_wrapper .property-right-sec .carousel.slide.width-100 {width: 100%; float: left}
.inner_sect_wrapper .add-img {float: left !important; width: 100% !important; padding-top: 20px !important; }
.inner_sect_wrapper .add-img img{width:100%;}    
.agent-profile {background: #ffffff none repeat scroll 0 0; padding: 15px;}
.agn-avat {float: left; width: 100%; }
.agn-avat img {display: inline; float: none; margin: 0 auto; width: 140px;}
.agn-info {color: #474747; float: left; padding-left: 0; padding-top: 15px; width: 100%;}
.email-logo img{right:-10px; }
.agency-profile .staff-news {padding: 20px 10px;}
.signup .modal-dialog {max-width: 400px; width: 100%; padding: 0 15px;}
.modal-body{height: auto;overflow: hidden;}
.social-media ul li a {padding: 10px 11px 10px 37px; text-align: left; font-size: 14px !important; }
.social-media ul li {width: 100%; margin-right: 0; }
.service_provider .more-refine-btn {width: 100%;}
.service_provider .propert-type {width: 100%;}
.service_provider .buy_rent_tab md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {min-height: 275px;}
.result .ser_sect {width: 80%;}
.result .client-logo {float: left; margin: 0; width: 100%;padding: 12px 0 0;}
.result .client-logo figure {display: inline-block; margin: 0;}
.result .client-logo figure img{vertical-align: top;}
.result .client-logo figure {display: inline-block; height: auto; margin: 0; overflow: hidden; vertical-align: top;padding-right: 10px;}
.result .client-logo .details-btn {margin: 10px auto;}
.prtinfo_wrapp .pro_nme span {
    float: left;
    padding: 1px 0px;
    width: 100%;

}
.client_sect {
    float: left;
    width: 100%;
    margin: 4px 0 4px 0px;
}
.client_img img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: block;
}
.client_img {
    float: left;
    width: 100%;
}
.pro_fac ul li {
    margin-right: 15px;
   }
   .line {
   margin: 3px 8px;
}
.map-view-bottom .grid .client_img {
    width: 100%;
}
.grid .client_img img {
    width: 150px;
    height: 150px;
}
.breadcrumb {
    padding: 8px 4px;
}
.breadcrumb li a {
    font-size: 13px;
}
.property-det-info .more-btn{
    width: 100%;float: left;
}
.property-det-info .more-btn .btn{
    width: 100%;float: left;
}
.property-det-info .more-btn1 {
    width: 100%; float: left;
}
.property-det-info .more-btn1 .btn{
    width: 100%;float: left;
}
.property-det-info .fix-slider {
    width: 100%;padding: 0px !important;
}
.property-det-info .indoor {
    width: 100%;padding: 0px !important;
}
#staffaddprofile .ltshow .add-img img {
    margin: 0 auto;
    float: none;
    width: 100%;
}
}
@media only screen and (max-width: 440px){
.down_btns a {width: 50%; margin: 0; padding: 0; float: left; }
.down_btns a {width: 50%; margin-bottom: 15px; }
.bedmin-max{font-size:17px; }
.client_spon{width: 29%; }
/*.social-media ul li {list-style-type: none; width: 49.50%; float: left; padding: 5px 0; margin-right: 2px;}*/
}

@media only screen and (max-width: 400px){
h2.title-featured{padding-right: 20%;padding-left:0px;}
.latest_properties_news h2.title-featured span{padding-bottom: 5px;}
.main-content .container {padding: 0;}
.breadcrumb-sec .breadcrumb {padding-left: 0; padding-right: 0;}
.testimonial-head {padding-left: 0; padding-right: 0;}
.testimonial-head h2 {font-size: 15px; width: 80%; }
.profile-description ul > li, .profile-amenities ul > li, .profile-nearby ul > li {float: left; width: 100% !important;}
.profile-info figure {float: left; width: 100%; text-align: center;}
.profile-info figure img {width: 150px; float: none; margin: 0 auto;}
.pro-info {float: left; width: 100%; padding: 10px 0;}
.property-icons img {width: 140px;}
.pmd-checkbox-label {
    float: left;
}
.terms label .text {
    width: 84%;
    float: left;
}
.thre_wrapp {
    float: left;
    padding: 10px 0 0px;
    width: 100%;
    bottom: -6px;
}
#boxscroll .client_sect {
    float: left;
    width: 69%;
    margin: 0 0 0 5px;
}
.fix_search .fix-menu-sec {
    display: block;
    width: 100%;
    float: left;
}
.fix_search .fix-slider {
    width: 100%;
    float: left;
    margin: 15px 0 0 0;
    padding: 0 15px !important;
}
.fix_search .indoor {
    width: 100%;
    margin: 15px 0 0 0;
    padding: 0 15px !important;
}
.left_warraper .remix-add{
    margin-top: 0px;
}
.modal.fade.signup.in .modal-dialog {
    margin-top: 50px !important;
}
.map-view.fix_search .buy_rent_box md-tab-item {
    font-size: 14px;
    width: 62px !important;
}
.fix_search md-tabs-wrapper {
    left: 38%;
    float: left;
    position: relative;
    width: 300px;
    top: 13px;

}
.service_provider_result.fix_search .fix-logo {
    width: 62%;
}
.breadcrumb {
    padding: 8px 4px;
}
.breadcrumb li a {
    font-size: 13px;
}
}

@media only screen and (max-width:380px){
h2.title-featured span{padding-bottom: 7px;}
.login-details {
    float: right !important;
    height: auto;
    left: auto;
    margin: 9px 3px 0 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 128px;
}
.log_section_button{
font-size: 13px !important;
padding: 0 5px !important;
}
.navbar-header {min-height: auto; }
.menu-btn {display: block !important; margin-top: 7px; right: 30px; }
.nav-menu-sec {margin-top: 101px;}
.cd-nav-trigger {right: 145px  !important;}
#cd-main-nav ul {top: 38px !important; }
.service_provider_result_sec h2.title-featured span {padding-bottom: 34px;}
.agent_profile_contact .email-logo a {
    margin-top: 15px;
    float: left;
}
.agent_profile_contact .email-logo img {
    position: relative;
    right: 0;
    bottom: 0;
    float: left;
    width: 100px;
    margin-left: 0px;
}
.logo_wrapp{ margin-left: 0px;}
.email-logo {
    position: relative;
    padding-left: 14px;
}
#boxscroll .lst_box_wrapp.grid .client_spon {
    position: relative;
    width: 34%;
    right: 0px;
    bottom: 0;
    float: none;
    margin: 10px 0 7px 0;
    top: auto;
    left: auto;
    padding: 0;
    float: left;
}
.logo_wrapp img {
    padding-top: 15px;
    width: 133px;
    height: auto;
}
.carousel-control.left{left: -10px; margin: -3px 0 0 0px;}
.carousel-control.right{right: -10px;margin: -3px 0 0 0px;}
.banner-top {
    margin: 50px 0 0;
}
}


@media only screen and (max-width:360px){
 md-pagination-wrapper {width: 100% !important; }
.buy_rent_box md-tab-item{width: 50% !important}
.client_spon {position: relative; width: 40%; right: 0; margin-bottom: 10px; top: 0; display: inline-block; left: 0px; }
.grid .client_spon {position: relative; width: 40%; right: 0;  margin-bottom: 10px; top: 0; display: inline-block; left: 0px; }
.result .ser_img {float: left; padding-bottom: 12px; text-align: center; width: 100%;}
.result .ser_img img {float: none; margin:0 auto; width: 100px;}
.ser_sect {float: left; padding: 0;}
#boxscroll .client_spon {
    position: absolute;
    width: 20%;
    right: 15px;
    bottom: 5px;
    float: none;
    margin: 0px 0 0px 0;
    top: auto;
left: auto;
}
.banner-top {
    margin: 50px 0 0;
}
.login-details {
    width: 118px;
}
.cd-nav-trigger {right: 130px  !important;}
.fix_search md-tabs-wrapper {
    left: 33%;
    float: left;
    position: relative;
    width: 300px;
    top: 13px;
    
}
.service_provider_result.fix_search .search-menu {
    margin-left: 3% !important;
    margin-right: 0px !important;
}
.service_provider_result.fix_search .left-search-menu {
    width: 43%;
}
}



@media only screen and (max-width:320px){
.pmd-navbar .navbar-toggle {margin-right: 0px;margin-left: -10px;	 }
.logo_wrapp {width: auto; }
.testimonial-head h2 {margin-left: 8px;}

}

