.owl-carousel .owl-stage {
    margin: 0 0px;
}

#sync1 .owl-item.active .item,
#sync2 .owl-item.active .item {
    margin: 0 15px;
}

#sync1 .item,
#sync2 .item {
    color: #000;
    border-radius: 0px;
}

.owl-theme .owl-nav {
   position: absolute;
    top: -80px;
    right: 11px;
    margin-top: 0;
}

.owl-theme .owl-nav [class*='owl-'] {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.owl-theme .owl-nav [class*='owl-'].disabled:hover {
    background-color: #D6D6D6;
}

#sync1.owl-theme,
#sync2.owl-theme,
#sync3.owl-theme {

    position: relative;
}

#testi .carousel-control:focus, 
#testi .carousel-control:hover{opacity:1!important;}

#sync1.owl-theme .owl-next,
#sync2.owl-theme .owl-next,
#sync1.owl-theme .owl-prev,
#sync2.owl-theme .owl-prev,
#sync3.owl-theme .owl-prev,
#sync3.owl-theme .owl-next {
    width: 30px;
    height: 30px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    border-radius: 0px;
    background: #EC6626;
    color: #fff;
    padding:1px 0;
    font-size:16px;

}

#sync1.owl-theme .owl-prev,
#sync2.owl-theme .owl-prev,
#sync3.owl-theme .owl-prev {
    left: 0;
    position: relative;
    margin: 0;
}

#sync1.owl-theme .owl-next,
#sync2.owl-theme .owl-next,
#sync3.owl-theme .owl-next {
    right: 0;
    position: relative;
    margin: 0;
}



/*#sync2 .item {
  background: #fff;
  padding: 10px 0px;
  margin: 5px;
  color: #000;
  border-radius: 0px;
  text-align: left;
  cursor: pointer;
}*/


#sync2 .item h1 {
  font-size: 18px;
}
#sync2 .current .item {
  background: #0c83e7;
}






.col-item {
    border: none;
    border-radius: 0;
    background: #FFF;
}

.col-item .photo{
    border-bottom: 3px solid #ec6626;
}


.col-item .photo img {
    margin: 0 auto;
    width: 100%;
    height: 235px;
}

.col-item .info {
    padding: 10px 15px;
    border-radius: 0;
}

 
.col-item .price h5 {
    line-height: 20px;
    margin: 0px 0 5px;
    font-size: 16px;
}

.col-item h5.price-text-color{
    margin-bottom: 15px;
}

 h5.price-text-color span{
    border-bottom: 2px solid #EC6626;
    padding-bottom: 14px;
 }
 

.col-item .separator {
    border-top: 1px solid #E1E1E1;
}

.clear-left {
    clear: left;
}

.col-item .separator p {
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: left;
}

.col-item .separator p i {
    margin-right: 5px;
}

.col-item .btn-add {
    width: 50%;
    float: left;
}

.col-item .btn-add {
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details {
    width: 50%;
    float: left;
    padding-left: 10px;
}

.controls {
    margin-top: 20px;
}

[data-slide="prev"] {
    margin-right: 10px;
}

.authors {
    font-size: 15px;
}

.authors span {
    font-size: 15px;
    border-bottom: 2px solid #EC6626;
    padding-bottom: 11px;
}


.col-item .separator p{
    font-size: 14px;
    margin: 20px 0;
    line-height: 25px;
}

.separator p a{
    color: #EC6626;
    font-family: 'open_sansitalic';
    
}

.latest_properties_news h2.title-featured{
    border-color: #cccccc;
}
 
.latest_properties_news .col-item{
    border:1px solid #cccccc;
}
