body{margin:0;padding:0!important;color:#000;font-size:14px;font-weight:normal;background:#fff;font-family:'open_sansregular';}
html{margin:0;padding:0}
a{margin:0;padding:0;outline:0;text-decoration:none;outline:none!important}
a:hover{margin:0;padding:0;outline:0;text-decoration:none;outline:none!important}
a:focus{margin:0;padding:0;outline:0;text-decoration:none;outline:none!important}
input, button{outline:none!important}
input, button:focus{outline:none!important}
textarea{outline:none!important;resize:none!important}
input::-ms-clear{display:none}
select::-ms-expand{display:none}
select{appearance:none;-moz-appearance:none;-webkit-appearance:none;}
::-moz-selection{background:#000;color:#fff}
::selection{background:#ccc;color:#333}
.wrapper{float:left;width:100%;overflow:hidden;}
.top_header{float:left;position:relative;top:0;width:100%;z-index:9;}
.fix_header{background:#ebebeb;}
.fix_header #cd-nav.is-fixed ul li a{color:#000!important;}
.logo_wrapp{width:100%;float:left;height:65px;margin-left:15px;}
.logo_wrapp h1{margin:0;}
.logo_wrapp img{padding-top:15px;width:160px;height:auto;}
.log_section{float:right;margin-right:0px;}
.log_section button{background:#fff;border:1px solid #ec6626;color:#ec6626;float:right;margin-right:-1px;padding:5px 12px;}
.log_section button.act{background:#ec6626;color:#ffffff;}
.wrapper section{float:left;width:100%;}
.active-menu{color:#fded4f !important;}
.banner-sec{min-height:680px;background-attachment:fixed;}
.banner-sec:after{content:"";position:absolute;background:rgba(0, 0, 0, 0.60);}
.latest_properties_news{background:#f5f5f5}
.add-tab-section{background:#f5f5f5}
.col-md-9.col-sm-9.nav-menu-content{padding-right:0;}
.nav-menu-content .header-bottom{text-align:right;}
.menu-list.main-menu{display:inline-block;list-style-type:none;padding:0;margin:5px 50px 0 0;}
.menu-list.main-menu li{display:inline-block;padding:0 8px;}
.menu-list.main-menu li a{color:#000;}
.main-menu .active-menu{color:#EC6726 !important;}
.padding-left-0{padding-left:0px;}
.margin-top-100{margin-top:100px}
.margin-top-140{margin-top:50px}
.margin-bottom-140{margin-bottom:55px;}
.margin-bottom-100{margin-bottom:100px}
.margin-bottom-30{margin-bottom:30px;}
.margin-top-30{margin-top:30px;}
.buy_rent_tab{float:left;display:block;width:100%;margin-top:250px;}
.buy_rent_box{background:none;}
md-pagination-wrapper{width:300px !important}
.buy_rent_box md-tab-item{background:#000;color:#fff !important;width:120px !important;text-transform:capitalize;font-size:18px;}
.buy_rent_box md-tabs.md-accent > md-tabs-wrapper{background:none;}
.buy_rent_box .md-tab.md-active{background:#ec6726;border:none;}
.SearchIcon{color:#fff;}
.SearchButton{background-color:#ec6726;border-radius:0px;height:40px;font-size:16px;text-transform:capitalize;}
.SearchButton:hover{background-color:#EC6726;}
.buy_rent_box md-tabs-content-wrapper{background:rgba(0, 0, 0, 0.69);color:#fff;}
.buy_rent_box md-tab-content{top:20px;}
.buy_rent_box md-input-container{margin:0;width:100%;}
.form-control.SearchBar{height:40px;border-radius:0;line-height:40px;font-family:'open_sanslight';font-size:16px;}
.buy_rent_box md-input-container > md-select{background:#fff;height:40px;}
.details-o-tab .md-icon{border-color:#fff;}
.details-o-tab .md-icon{background:#fff}
md-checkbox .md-icon{border-color:#fff;background:none}
md-checkbox.md-default-theme.md-checked .md-ink-ripple, md-checkbox.md-checked .md-ink-ripple{color:#EC6726;}
c md-tabs.md-default-theme.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-ink-bar, md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-ink-bar{background:none;color:inherit;}
md-select-menu md-content{background:#EC6726;padding:0 !important;}
md-option{color:#fff;font-family:'open_sanslight';text-transform:capitalize;font-size:18px;}
md-select-menu md-option:focus:not([disabled]):not([selected]){background:none;}
.tab-list-new{float:left;width:100%;display:block;}
.tab-list-new > li > a{background:rgba(0, 0, 0, 0.69);color:#fff !important;width:150px !important;text-transform:capitalize;font-size:14px;text-align:center;line-height:24px;padding:12px 24px;transition:background-color .35s cubic-bezier(.35, 0, .25, 1);cursor:pointer;white-space:nowrap;position:relative;text-transform:capitalize;float:left;font-weight:500;box-sizing:border-box;overflow:hidden;text-overflow:ellipsis;border-radius:0px;}
.tab-list-new > li > a:hover, .tab-list-new > li > a:active, .tab-list-new > li > a:focus{background:rgba(0, 0, 0, 0.69);border:none;}
.tab-list-new > li.active > a, .tab-list-new > li.active > a:hover, .tab-list-new > li.active > a:active{background:#EC6726;border:none;}
.details-o-tab{background:rgba(0, 0, 0, 0.69);color:#fff;padding:30px;float:left;width:100%;}
#selectContainer select{height:40px;width:100%;background:#fff;border:1px solid #fff;color:#000;padding-left:10px;}
.range-slider-container{position:relative;height:100px;}
.range-slider-container md-slider{margin:0;}
.range-track-line{position:absolute;height:2px;top:23px;background-color:rgb(255, 64, 129);}
.range-slider-container md-slider.md-default-theme.md-min .md-thumb:after{background-color:rgb(255, 64, 129) !important;}
.range-slider-left, .range-slider-right{position:absolute;top:0px;}
.range-slider-right{right:0px;}
.range-slider-left md-slider .md-thumb-container{transition:-webkit-transform 0s linear;transition:transform 0s linear;}
.range-slider-left md-slider.md-default-theme .md-track.md-track-fill{background-color:rgba(188, 188, 188, 1) !important;}
.range-slider-left md-slider.md-default-theme .md-track:not(.md-track-fill){background-color:rgb(255, 64, 129) !important;}
.range-slider-container md-slider .md-thumb-container{transition:-webkit-transform 0s linear;transition:transform 0s linear;}
.range-slider-container md-slider .md-track-container{transition:-webkit-transform 0s linear;transition:transform 0s linear;}
.beds_slider .md-padding{padding:0;float:left;width:100%;overflow:initial;background:none;height:50px;}
md-slider .md-track{background-color:#fff;}
.title_dow_app{}
.title_dow_app h2{text-align:center;color:#fff;font-size:22px;text-transform:uppercase;margin-bottom:0px;}
.down_btns{text-align:center;}
.down_btns a{display:inline-block;height:auto;line-height:46px;margin:0 15px;padding:5px 20px;color:#fff;font-size:18px;}
.down_btns a img{padding-right:5px;vertical-align:middle;width:30px;margin-top:-5px;}
.down_btns a:hover{color:#fff;border-color:#EC6726;}
.featured_properties{min-height:500px;background-attachment:fixed;}
md-slider .md-thumb{cursor:pointer;}
.owl-carousel{margin-left:-1%;width:102%;}
.featured_properties .container{overflow:hidden;}
h2.title-featured{color:#fff;margin-bottom:40px;padding-bottom:10px;border-bottom:1px solid #fff;text-transform:uppercase;font-size:26px;font-family:'open_sanssemibold';}
h2.title-featured span{border-bottom:2px solid #ec6626;padding-bottom:5px;}
ul.fea_list_top{margin:0;float:left;width:100%;padding:15px 0 5px;}
ul.fea_list_top li{width:25%;padding:0;display:block;float:left;line-height:35px;}
ul.fea_list_top li img{display:inline-block !important;width:auto;}
ul.fea_list_top li span{font-size:16px;}
ul.fea_list_top li.amount_price{color:#EC6626;background:none;padding:0;height:35px;text-align:center;font-size:15px !important;font-weight:600 !important;}
.color-black{color:#464646 !important;}
.width-100{float:left;width:100%;}
.footer-menu-list{}
.footer-menu-list li a{color:#fff;padding:0px 0;font-size:14px;line-height:27px;font-family:'open_sanslight';}
.footer-menu-list li a:hover{color:#EC6726;}
.width-20{width:20%;float:left;padding:0 10px}
.well-none{padding-bottom:20px;border-bottom:1px solid #a3a3a3;}
.well-none .carousel-inner{width:90%;margin:auto;}
.well-none .carousel-control{background:none;background-image:none;width:35px;top:27%;height:35px;margin:0;opacity:1;}
.copyright-div{padding:15px 0 0;float:left;width:100%;}
.copyright-line{color:#fff;width:50%;float:left;line-height:25px;font-size:15px;}
.socialmedia{width:50%;float:left;}
.md-select-value .md-text{display:block;transform:none;}
.md-select-value:first-child{color:#000;line-height:40px;transform:none;padding-left:10px;text-transform:capitalize;}
.socialmedia ul{float:right;}
.socialmedia ul li{padding:0;}
.socialmedia ul li a{color:#fff;border:2px solid #fff;text-align:center;width:28px;height:28px;border-radius:100%;display:inline-block;line-height:23px;font-weight:bold;}
.socialmedia ul li a:hover{color:#EC6726;border-color:#EC6726;}
.socialmedia ul li a .fa{font-size:13px;}
.add-img{text-align:center;padding:40px 0;}
.navbar-inverse{background-color:#EBEBEB;border-color:#EBEBEB;margin:0;}
.navbar-right{float:right !important;margin-right:0;margin-top:15px;}
.pmd-navbar .navbar-nav > li > a{padding:0 10px;color:#000;font-size:16px;line-height:35px;text-transform:capitalize;}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover{padding:0 10px;color:#EC6726;}
.log_section_button{cursor:pointer;background:#fff;border:1px solid #ec6626;color:#ec6626 !important;float:right;margin-right:-1px;padding:0px 12px !important;font-family:'open_sanslight';font-size:14px !important;line-height:35px !important;}
.log_section_button.act{background:#EC6726 !important;color:#fff !important;}
.log_section_button:hover, .log_section_button:active, .log_section_button:focus{background:#EC6726 !important;border:1px solid #ec6626;color:#fff !important;float:right;margin-right:-1px;}
.bedmin-max{font-family:'open_sanslight';font-size:16px;}
.carousel-control.left img{-moz-transform:scaleX(-1);-o-transform:scaleX(-1);-webkit-transform:scaleX(-1);transform:scaleX(-1);filter:FlipH;-ms-filter:"FlipH";}
.margin-right-30{margin-right:30px !important;}
.footer-sec.animatedParent{float:left;width:100%;background:#464646;padding:35px 0 15px;}
.bed-values{background:none;color:#fff;border:none;width:120px;text-align:right;}
#slider-range, #slider-range1, #slider-range2, #slider-range3,#slider-range4,#slider-range6,#slider-range7,#slider-range8,#slider-range10,#slider-range11{margin:10px 0 10px 8px;}
.ui-slider-horizontal{height:1px;}
.ui-slider-horizontal .ui-slider-handle{top:-8px;margin-left:-.6em;border-radius:100%;background:#fff !important;border:none !important;cursor:pointer;}
.ui-slider-horizontal .ui-slider-handle:hover{box-shadow:0px 0px 5px 4px #fff;}
.sel{width:100%;background:#fff url("http://192.168.1.108/mhiq/img/icons/dropdown.png");background-repeat:no-repeat;background-position:98% center;color:#8e8e8e;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:0;height:40px;line-height:40px;padding:0 25px 0px 10px;}
md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon{background-color:#EC6726;}
md-slider.md-default-theme .md-thumb::after, md-slider .md-thumb::after{border-color:#fff !important;background-color:#fff !important;}
.range-track-line{border-color:#EC6726 !important;background-color:#EC6726 !important;}
md-slider .md-track{background-color:#fff;}
md-slider.md-default-theme .md-track.md-track-fill, md-slider .md-track.md-track-fill{background-color:#fff !important;}
md-slider.md-default-theme .md-track.md-track-fill{background-color:#fff !important;}
md-slider.md-default-theme .md-focus-ring, md-slider .md-focus-ring{background-color:rgba(255, 255, 255, 0.78);}
.bed-slider .md-track{background-color:#EC6726;}
.bed-slider .md-track-ticks{background-color:rgb(236, 103, 38);}
.md-thumb-text{color:#EC6726 !important;}
.margin-bottom-80{margin-bottom:80px}
#section05{background:rgba(0, 0, 0, 0) none repeat scroll 0 0;border:medium none;bottom:20px;box-shadow:none;height:40px;left:0;position:absolute;width:100%;z-index:1;text-align:center;}
#section05::after{z-index:0;position:absolute;bottom:0;left:0;content:'';width:100%;height:80%;}
#section05 a{display:inline-block;float:none;height:40px;margin:0 auto;padding-top:40px;width:40px;position:relative;z-index:99;}
.bg_section{float:left;width:100%;background-image:url(http://192.168.1.108/mhiq/img/icons/aus-vic.png);background-size:cover;background-attachment:fixed;}
.create_tagline{float:left;width:100%;background-color:#e5e5e5;color:#000;text-align:center;padding:25px 0;font-size:22px;}
#section05 a span{position:absolute;top:0;left:50%;width:24px;height:24px;margin-left:-12px;border-left:1px solid #fff;border-bottom:1px solid #fff;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-animation:sdb05 1.5s infinite;animation:sdb05 1.5s infinite;box-sizing:border-box;bottom:0;right:0;}
@-webkit-keyframes sdb05{0%{-webkit-transform:rotate(-45deg) translate(0, 0);opacity:1;}
50%{opacity:1;}
100%{-webkit-transform:rotate(-45deg) translate(0px, 0px);opacity:1;}
}
@keyframes sdb05{0%{transform:rotate(-45deg) translate(0, 0);opacity:1;}
50%{opacity:1;}
100%{transform:rotate(-45deg) translate(0px, 0px);opacity:1;}
}
.title_dow_app{bottom:70px;left:0;position:absolute;text-align:center;width:100%;z-index:0;}
.banner.animatedParent{position:relative;}
#preloader{background:#fff none repeat scroll 0 0;bottom:0;display:block;left:0;position:fixed;right:0;top:0;z-index:999999;text-align:center;}
#preloader > div{left:50%;height:auto;margin:-50px auto 0 -125px;position:absolute;top:50%;width:250px;z-index:9999;float:none;display:inline-block;}
#status > img{width:130px;}
.more-btn{width:100%;float:left;}
.more-btn .btn:hover,.more-btn .btn:focus,.more-btn .btn:active{background:#ec6726;padding:8px 14px;}
.more-btn .btn{border:1px solid #ec6726;background:#ec6726;color:#FFF;text-transform:initial;font-size:16px;padding:8px 14px;border-radius:0!important;}
.more-btn{width:auto;float:right;}
.more-btn1{width:100%;float:left;}
.more-btn1 .btn:hover,.more-btn1 .btn:focus,.more-btn1 .btn:active{background:#ec6726;padding:8px 14px;}
.more-btn1 .btn{border:1px solid #ec6726;background:#ec6726;color:#FFF;text-transform:initial;font-size:16px;padding:8px 14px;}
.more-btn1{width:auto;float:right;}
.layout-align-start-stretch.layout-column{width:auto;float:left;padding-top:5px;}
.inner_sect_wrapper .cli_pho{display:none;}
.prop_list_inner .add-img{text-align:center;padding:20px 0 32px;}
.rotate{transform:rotateX(180deg);top:2px;}
.inner-pages-container .buy_rent_tab md-tabs:not(.md-no-tab-content):not(.md-dynamic-height){min-height:225px;}
md-tabs:not(.md-no-tab-content):not(.md-dynamic-height){min-height:215px;}
.color-black{color:#000 !important;}
.border-ccc{border-color:#cccccc;}
.bg-f5{background-color:#f5f5f5}
.bg-46{background:#464646;}
.padding-right-0{padding-right:0px !important}
.property_fil{margin-bottom:0;margin-top:90px !important;}
.property_fil .buy_rent_box md-tabs-content-wrapper{background:none;}
.login-details{float:right !important;height:auto;overflow:hidden;width:145px;margin-top:15px;}
.login-details > ul{float:left;padding:0;width:100%;}
.login-details ul li{float:left;list-style-type:none;}
.sidenav{height:100%;width:0;position:fixed;z-index:999 !important;top:0;left:0;background-color:#111;overflow-x:hidden;padding-top:60px;transition:0.5s;}
.sidenav a{padding:8px 8px 8px 32px;text-decoration:none;font-size:25px;color:#818181;display:block;transition:0.3s}
.sidenav a:hover, .offcanvas a:focus{color:#f1f1f1;}
.sidenav .closebtn{display:block !important;font-size:31px !important;margin-left:50px;position:absolute;right:11px;top:-8px;}
.shrink .sidenav > li{display:block;float:left !important;margin-bottom:px;border-bottom:1px solid #2d2d2d;width:100% !important;padding-left:15px;min-width:250px;}
.shrink .sidenav > li:first-child{min-height:35px;}
.shrink .sidenav > li:first-child:hover{background:none;}
.sidenav .closebtn{color:#ffffff !important;display:block;}
.sidenav a{color:#ffffff !important;}
.sidenav{margin-top:66px;padding-top:15px;}
.closebtn{display:none !important;}
.nav-menu-sec li{float:left !important;width:auto !important;display:inline-block !important;}
.normal-nav{width:auto !important;float:right !important;}
.shrink .menu-btn{display:block;}
.menu-btn{border:medium none;display:none;height:35px;margin-right:8px;margin-top:16px;padding:7px;position:absolute;right:160px;width:35px;background:none;}
.menu-btn span{background-color:#ec6726;width:20px;display:block;height:2px;margin-bottom:2px;}
.shrink .container{position:relative;}
.buy_rent_tab{margin-top:16%;}
.ui-widget-header{background-color:#EC6726 !important;}
.ui-slider-range.ui-corner-all.ui-widget-header{height:2px;top:-1px;z-index:1;}
.show{width:250px;}
.dont-show{width:0px;}
.email-container{height:auto;position:fixed;right:0;top:200px;width:auto;z-index:1;cursor:pointer;}
.email-container .head .mail-icon{background:#b74813 none repeat scroll 0 0;border-top-left-radius:2px;color:#fff;display:block;float:right;font-size:18px;text-align:center;width:98%;padding:2px 0;}
.email-container .head{width:35px;float:left;}
.mail-head{background:#ec6626 none repeat scroll 0 0;border-top-left-radius:2px;clear:both;color:#fff;float:left;font-size:16px;height:34px;line-height:normal;margin:17px -17px;padding:5px;text-align:center;transform:rotate(-90deg);width:70px;}
.right-sec .col-item .photo img{height:175px;}
.col-item .photo img{height:235px;margin:0 auto;width:100%;}
.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img{display:block;height:auto;max-width:100%;}
.banner-caption{bottom:30px;height:100px;position:absolute;width:370px;z-index:2;}
.caption-top{background:rgba(250, 250, 250, 0.7) none repeat scroll 0 0;color:#ec6726;float:left;font-size:20px;padding-left:30px;padding-top:5px;text-align:left;width:100%;padding-bottom:5px;position:relative;transform:skewX(-30deg);height:42px;}
.caption-top::before{background:rgba(250, 250, 250, 0.7) none repeat scroll 0 0;bottom:0;content:"";height:auto;position:absolute;left:-19.5px;top:0;width:20px;}
.caption-bottom::before{background:#ec6726;bottom:0;content:"";height:auto;position:absolute;left:-13px;top:0;width:20px;}
.caption-top p{margin-bottom:0;transform:skewX(30deg);font-family:'open_sansregular';color:#ec6626;}
.caption-bottom p{line-height:38px;margin-bottom:0;}
.caption-bottom{background:#ec6726 none repeat scroll 0 0;color:#ffffff;float:left;font-size:18px;padding-left:31px;text-align:left;width:93.1%;transform:skewX(-30deg);position:relative;height:42px;}
.caption-bottom img{float:right;height:auto !important;padding:2px;width:28px !important;transform:skewX(30deg);margin:7px 15px 0 auto;}
.caption-bottom p{transform:skewX(30deg);font-family:'open_sansregular';}
.caption-bottom span{float:right;position:relative;width:auto;}
.caption-bottom span{transform:skewX(-30deg);background:#bc3700 none repeat scroll 0 0;height:42px;}
.caption-bottom span::before{background:#bc3700 none repeat scroll 0 0;bottom:0;content:"";left:-12px;position:absolute;top:0;transform:skewX(30deg);width:30px;}
.featured_properties_details .col-item .photo img{height:175px;}
.similar-properties .col-item .photo img{height:175px;}
.right-sec .col-item .photo img{height:175px;}
.property-details .nav-tabs > li > a:focus,.property-details .nav-tabs > li > a:active,.property-details .nav-tabs > li > a:hover{border:none;}
.margin-bottom-15{margin-bottom:15px;}
.lst_box_wrapp.grid{margin:0 0 2% 0;padding:15px;width:32%;min-height:395px;box-shadow:1px 1px 5px #dcdcdc;}
.grid .prtlt_img{float:left;margin-right:0;width:100%;}
.grid .prtinfo_wrapp{float:left;padding-top:5px;width:100%;}
.grid .client_spon{float: left; margin: 0; padding: 12px 0 0 12px; position: relative; right: 0; text-align: left; width: 60%;}
.map-view-bottom .grid .client_spon {
float: left;
margin: 0;
padding: 0;
position: absolute;
right: 0;
text-align: left;
width: 30%;
top: 16px;
}
.grid .client_spon > img{float:none;margin:0 auto;width:70%;}
.grid .client_img{width:32%;}
.grid .client_sect{margin:0;padding-left:10px;}
.grid .line{display:none;}
.grid .client_img > img{height:50px;width:50px;}
.grid .client_wrapp{padding:10px 10px 0;}
.property-details{height:auto;margin:0 auto;max-width:890px;min-height:50px;overflow:hidden;padding:0;text-align:center;width:100%;}
.property-details span{display:block;float:left;text-align:center;width:100%;min-height:60px;}
.property-details p{color:#333333;float:left;font-size:18px;margin-bottom:0;width:100%;}
.property-details img{width:58px;}
.property-plans{border-left:2px solid #dddddd;border-right:2px solid #dddddd;}
.propert-details-sec{clear:both;}
.property-description{float:left;width:100%;}
.breadcrumb-sec{padding:0;}
.breadcrumb-sec .breadcrumb{padding-left:0;}
.breadcrumb li{font-size:16px;font-family:'open_sanssemibold';color:#484848;}
.breadcrumb li a{color:#484848;display:inline-block;padding-bottom:5px;text-decoration:underline #a3a3a3;font-size:16px;font-family:'open_sanssemibold';}
.testimonial-container{border:1px solid #cccccc;float:left;padding:10px 15px 15px;width:100%;background:#FFF;}
.testimonial{padding:0;}
.testimonial-head{padding-left:0;border-bottom:1px solid #cccccc;padding-right:0;}
.testimonial-head span{border-bottom:2px solid #ec6626;display:inline-block;float:left;}
.testimonial-head h2{color:#474747;display:inline-block;float:left;font-size:18px;height:auto;margin-left:12px;margin-top:12px;overflow:hidden;margin-bottom:0;font-family:'open_sanssemibold';}
.testimonial-head .price{background:#ec6626 none repeat scroll 0 0;color:#ffffff;font-size:16px;margin-right:12px;min-height:25px;padding:3px 13px;text-align:center;}
.price-sec{display:inline-block;float:right;height:auto;overflow:hidden;width:auto;margin-bottom:0;}
.price-sec > li{float:left;list-style-type:none;}
.testimonial-container .test-det{float:left;padding:14px 52px 0;width:100%;}
.profile-info{border:1px solid #cccccc;padding:10px;}
.profile-info .col-md-8{padding-left:0;}
.profile-info figure img{width:100px;}
.profile-info figure{float:left;width:25%;}
.pro-info{float:left;width:70%;}
.pro-info h3{color:#020202;font-size:20px;margin-top:5px;font-family:'open_sansregular';}
.pro-info ul{height:auto;margin-bottom:0;overflow:hidden;padding:13px 0 0;}
.pro-info ul li{display:inline-block;float:left;list-style-type:none;padding:1px 9px 0 0;width:auto;border-right:1px solid #dddddd;}
.pro-info ul li.pro-email{background:#ec6626 none repeat scroll 0 0;color:#ffffff;font-size:14px;margin-left:10px;margin-right:12px;min-height:25px;padding:2px 13px;text-align:center;}
.property-icons img{float:right;padding-top:19px;width:70%;}
.pro-head{border-bottom:1px solid #cccccc;font-size:17px;padding-bottom:7px;font-family:'open_sansregular';}
.profile-description > p{color:#272727;font-size:14px;font-family:'open_sanslight';padding-top:8px;}
.profile-description ul > li{width:25%;float:left;}
.profile-description ul > li span{color:#272727;display:inline-block;float:left;font-family:"open_sansregular";font-size:14px;margin-top:0;padding-left:5px;padding-top:5px;}
.profile-description ul > li img{float:left;width:30px;}
.profile-amenities ul > li{width:25%;float:left;font-family:'open_sansregular';color:#272727;}
.profile-amenities ul > li span{display:inline-block;float:left;font-size:14px;margin-top:0;padding-left:5px;padding-top:5px;}
.profile-amenities ul > li img{float:left;width:30px;}
.profile-nearby,.profile-amenities,.profile-description{padding-left:0;padding-bottom:10px;position:relative;}
.profile-nearby ul > li{padding-right:20px;margin-bottom:10px;width:25%;float:left;font-family:'open_sansregular';color:#272727;}
.profile-nearby ul > li span{display:inline-block;float:left;font-size:14px;margin-top:0;padding-left:5px;padding-top:5px;}
.profile-nearby ul > li img{float:left;width:30px;}
.profile-inspection{border:1px solid #ccc;padding:5px;width:40%;float:right;margin:5px 0;}
.profile-inspection h3{border-bottom:medium none;font-size:16px;margin-top:10px;padding-bottom:0;font-family:'open_sansregular';color:#272727;}
.profile-inspection p{color:#272727;font-size:16px;line-height:25px;font-family:'open_sansregular';}
.profile-inspection p img{margin-left:35px;margin-top:-3px;width:22px;}
.test-controls{float:right;position:absolute;right:0;top:-47px;width:60px;}
.test-controls a{background:#ec6626 none repeat scroll 0 0 !important;color:#ffffff;display:block;float:left;font-size:16px;height:30px;line-height:28px;opacity:1;text-align:center;text-shadow:none;width:50%;}
.test-content{padding:20px 0 0px;}
.test-content .carousel .item p{color:#333333;font-size:15px;font-style:italic;font-family:'open_sansitalic';}
.test-content .carousel .item p span{font-size:27px;line-height:normal;vertical-align:middle;}
.featured_properties_details{padding:15px 0;}
.featured_properties_details h2.title-featured{border-bottom:1px solid #cccccc;color:#474747;float:left;font-family:"open_sanssemibold";font-size:22px;width:100%;margin-bottom:25px;}
.featured_properties_details .col-item{border:1px solid #ccc;}
.featured_properties_details .col-md-12{padding:0 8px;}
.featured_properties_details .col-md-4{padding:0 8px;}
.featured_properties_details .col-item .info{border-radius:0;padding:10px 12px;}
.featured_properties_details .separator ul.fea_list_top li img{display:inline-block !important;width:36px !important;}
.similar-properties h2.title-featured{border-bottom:1px solid #cccccc;color:#333333;float:left;font-family:"open_sanssemibold";font-size:22px;width:100%;margin-bottom:25px;}
.similar-properties{margin-top:0;padding:10px 0 15px;}
.similar-properties .col-item{border:1px solid #ccc;}
.similar-properties .col-md-12{padding:0 8px;}
.similar-properties .col-md-4{padding:0 8px;}
.similar-properties .col-item .info{border-radius:0;padding:10px 12px;}
.similar-properties .separator ul.fea_list_top li img{display:inline-block !important;width:36px !important;}
.featured-prop-sec .add-img{float:left;padding:40px 0;text-align:center;width:100%;}
.featured-prop-sec .add-img img{width:100%;}
.property-right-sec .title-featured{font-size:17px;margin-top:0;margin-bottom:24px;font-family:'open_sanssemibold';color:#474747;}
#myCarousel1 .test-controls{top:-61px;}
#mycarousel1 .carousel .item .property-slider{padding:0 !important;width:100%;float:left;}
.property-slider ul.fea_list_top li img{width:27px !important;}
.property-slider .col-item .info{border-radius:0;padding:10px;}
.property-slider ul.fea_list_top li.amount_price{font-size:13px;}
.carousel-inner{padding-bottom:2px !important;}
.map-sec{padding:30px 0 20px;}
.map-sec .col-md-12{padding:0;}
.map-sec .nav .active a{background:#ec6626 none repeat scroll 0 0;border:1px solid #ec6726;border-radius:0;color:#ffffff;opacity:1 !important;font-family:'open_sansregular';}
.map-sec .nav li a:hover{background:#ec6726 none repeat scroll 0 0 !important;border:1px solid #ec6726;color:#ffffff !important;opacity:1 !important;}
.map-sec .nav li:last-child{margin-left:-2px;}
.map-sec .nav .active a:focus{background:#ec6726 none repeat scroll 0 0;border:1px solid #ec6726;color:#ffffff;opacity:1 !important;}
.map-sec .nav .active a:active{background:#ec6726 none repeat scroll 0 0;border:1px solid #ec6726;color:#ffffff;opacity:1 !important;}
.map-sec .nav .active a::before{bottom:-13px !important;content:"\f0d8";font-family:FontAwesome;font-size:23px;left:50%;margin-left:-7px;position:absolute;right:auto;text-align:center;}
.map-sec .nav li a{border-left:1px solid #dddddd;border-radius:0;border-right:1px solid #dddddd;border-top:1px solid #dddddd;opacity:1;background:#ebebeb none repeat scroll 0 0;color:#333;padding:10px 20px;}
.map-img img{height:400px;width:100%;}
.main-content{width:100%;float:left;box-shadow:inset 5px 8px 7px -4px #939393;padding-top:25px;position:relative;}
.test-det{width:100%;float:left;}
.testimonial-head .line{border-top:1px solid #cccccc;float:left;margin:0;width:100%;border-right:none;height:1px;}
.test-det span{border-bottom:medium none;float:none;}
.line1{display:none;}
.property-details ul{float:left;width:100%;border-bottom:none;}
.property-details .nav.nav-tabs > li{float:left;width:33%;padding:15px 0;}
.property-details ul li a div{float:left;width:100%;}
.property-details .nav-tabs > li > a{opacity:1;padding:0;border:none;background:none;cursor:pointer;display:block;width:100%;float:left;font-family:'open_sansregular';}
.property-details .nav-tabs > li > a:hover, .property-details .nav-tabs > li > a:focus,.property-details .nav-tabs > li > a:active{border-top:none;}
.property-details .nav.nav-tabs > li.active{background-color:#ec6726;}
.nor_img{display:block;}
.property-details .nav.nav-tabs > li.active .act_img{display:block;}
.property-details .nav.nav-tabs > li.active .nor_img{display:none;}
.property-details img{margin:0 auto;}
.property-details .property-plans{border:0!important;}
.property-details .nav.nav-tabs > li.active{border:0;}
.property-details .nav.nav-tabs > li.active p{color:#ffffff;}
.property-details .nav-tabs > li.active > a,
.property-details .nav-tabs > li.active > a:focus,
.property-details .nav-tabs > li.active > a:hover{background-color:#ec6726;border:0;}
#Virtual .carousel .item img{height:550px;width:100%;}
#Videos video{float:left;height:600px;width:100%;}
.menu-btn .ink.animate{display:none;}
.map-img{position:relative;}
.map-img.width-100 > #ninja-slider{float:left;width:100%;}
.map-img.width-100 > #thumbnail-slider{background:rgba(250, 250, 250, 0.45) none repeat scroll 0 0;bottom:0;float:right;height:auto;position:absolute;right:0;top:0;width:200px;z-index:1;}
.map-img #ninja-slider .slider-inner ul{padding-top:0 !important;min-height:550px;margin-bottom:0;}
.map-img #ninja-slider .slider-inner ul li a{background-size:cover;}
.map-img #thumbnail-slider div.inner{background-color:rgba(0, 0, 0, 0.1) !important;}
.map-img #thumbnail-slider ul li{width:172px !important;height:80px !important;margin-bottom:10px !important;}
.map-img #ninja-slider-prev, #ninja-slider-next{z-index:1;}
.map-img #ninja-slider-prev, #ninja-slider-next{z-index:1;}
#Plans .map-img{height:600px;}
#Videos{background:#eeeeee none repeat scroll 0 0;float:left;width:100%;}
#thumbnail-slider #thumbnail-slider-next{background:rgba(0, 0, 0, 0.57) none repeat scroll 0 0;}
#thumbnail-slider #thumbnail-slider-prev{background:rgba(0, 0, 0, 0.57) none repeat scroll 0 0;}
.withradi{color:#9a9a9a;font-style:italic;position:absolute;right:15px;top:14px;font-size:13px;}
.map-sec .map-img{border-bottom:1px solid #ddd;border-left:1px solid #ddd;border-right:1px solid #ddd;position:relative;padding:15px;background:#FFF;}
.similar-properties .authors > span{float:left;height:0;width:50px;}
.sel option{padding:4px;}
.inner_sect_wrapper{float:left;width:100%;padding:15px 0;background-color:#f5f5f5;}
.bredcumb_sect{float:left;width:100%;}
.bredcumb_sect li a{color:#484848;}
.breadcrumb > li + li::before{color:#484848;}
.bredcumb_sect li.active a{border-bottom:none;}
.bredcumb_sect ul{margin-bottom:8px;}
.prop_list_wrapp{float:left;width:100%;}
.top_sect{float:left;width:100%;border-bottom:1px solid #ccc;padding-bottom:3px;margin-bottom:20px;}
.tplt_sec{float:left;width:auto;}
.tprt_sec{float:right;width:auto;}
.home_icon{float:left;width:auto;margin-right:12px;padding:0 10px;position:relative;}
.home_icon img{width:100%;}
.bor_bot{position:absolute;bottom:-6px;border-bottom:2px solid #ec6726;width:100%;left:0;}
.home_find{font-family:'open_sanssemibold';float:left;width:auto;font-size:20px;line-height:42px;color:#474747;}
.thre_wrapp{float:left;width:auto;position:relative;bottom:-12px;}
.thre_box{float:left;width:auto;margin-left:8px;}
.thre_box a{border:1px solid #ccc;padding:6px 4px 10px;cursor:pointer;}
.thre_box a.active_grid{border:1px solid #f2ad8c;}
.sel_wrapp{float:left;width:auto;font-size:14px;position:relative;bottom:-9px;font-family:'open_sansregular';color:#272727;}
.sel_wrapp select{margin-bottom:-1px;z-index:0;border-bottom:1px solid #CCC;border-top:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;height:37px;line-height:normal;outline:medium none !important;padding:5px!important;width:170px;background:#fff url(http://192.168.1.108/mhiq/img/icons/dropdown.png);background-repeat:no-repeat;background-position:92% center;background-size:13px auto;}
.prop_list_inner{float:left;width:100%;}
.lst_box_wrapp{float:left;width:100%;border:1px solid #ccc;background-color:#fff;padding:15px;margin-bottom:12px;}
.prtlt_img{float:left;width:34%;margin-right:20px;position:relative;}
.prtlt_img span{position:absolute;top:8px;right:10px;}
.prtlt_img span i{font-size:20px !important;color:#fff;cursor:pointer;}
.prtlt_img img{width:100%;}
.prtinfo_wrapp{float:right;width:63%;}
.pro_nme{font-family:'open_sanssemibold';color:#3b3b3b;float:left;width:100%;font-size:14px;border-bottom:1px solid #ccc;padding-bottom:8px;position:relative;;}
.pro_nme span{float:right;color:#ec6726;background:none;padding:1px 10px;font-size:15px;font-weight:600;}
.pro_nme::after{background-color:#ec6627;bottom:-1px;content:"";height:2px;left:0;margin-left:0;position:absolute;text-align:center;width:36px;}
.pro_fac{float:left;width:100%;margin:12px 0;}
.pro_fac ul{float:left;width:100%;margin:0;padding:0;}
.pro_fac ul li{margin-right:40px;padding:0;display:inline-block;float:left;line-height:35px;}
.pro_fac ul li span{font-size:15px;margin-left:6px;display:inline-block;}
.client_wrapp{float:left;width:100%;border:1px solid #ccc;padding:10px;background:#f5f5f5;position:relative;}
.client_img{float:left;width:46px;}
.client_img img{width:100%;height:46px;}
.client_sect{float:left;width:60%;margin:0 20px;}
.cli_nme{float:left;width:100%;color:#494949;font-size:15px;font-family:'open_sanssemibold';padding-top:12px;}
.arrow{font-size:12px;padding-left:8px;line-height:normal;padding-top:0;margin-top:0;display:inline-block;width:auto;position:relative;top:-2px;}
.pho_img{float:left;width:auto;font-family:'open_sansregular';color:#272727;}
.pho_img img{margin-right:8px;}
.emai_txt a{float:left;background:#ec6726;color:#fff;padding:1px 16px;font-size:13px;}
.line{border-right:1px solid #494949;width:auto;height:16px;float:left;margin:3px 15px;}
.client_spon{position:absolute;width:21%;right:15px;bottom:10px;}
.client_spon img{width:100%;}
.IQ_feat_wrapp{float:left;width:100%;}
.inner_sect_wrapper .col-md-12{padding-left:0;}
.inner_sect_wrapper .latest_properties_news.margin-top-30{margin-top:16px;}
.inner_sect_wrapper .test-controls{top:-59px;}
.add-img{float:left;width:100%;text-align:center;}
.add-img img{}
.margin-bottom-5{margin-bottom:5px}
.margin-bottom-10{margin-bottom:10px}
.margin-bottom-15{margin-bottom:15px}
.margin-bottom-80{margin-bottom:80px}
.margin-bottom-40{margin-bottom:40px}
.margin-bottom-30{margin-bottom:30px}
.margin-bottom-53{margin-bottom:53px}
.padding-tb-30{padding-top:30px;padding-bottom:30px;}
.banner-top{margin:65px 0 0;}
.banner-pic_beach{background:rgba(0, 0, 0, 0) url("http://192.168.1.108/mhiq/img/icons/banner.png"); background-repeat: no-repeat; background-size: cover; background-position:25% 36% ;height:320px;-moz-transform:scaleX(-1);-o-transform:scaleX(-1);-webkit-transform:scaleX(-1);transform:scaleX(-1);filter:FlipH;-ms-filter:"FlipH";}
.left_warraper{padding-right:15px;position:relative;}
.right_warraper{padding-left:15px;padding-top:25px;position:relative;}
#horizontalTab{float:left;}
ul.resp-tabs-list{margin:0px;padding:0px;display:block;width:100%;float:left;}
.resp-tabs-container{padding:0px;background-color:#fff;float:left;display:block; width: 99.9%;}
.resp-tabs-list li{background:#EC6726;color:#fff;width:25%;text-align:center;border-right:1px solid #ccc;font-family:'open_sansregular';font-size:15px;font-weight:normal;text-transform:uppercase;}
.resp-tabs-list li.resp-tab-active{border:1px solid #ec6726;color:#474747;border-left:none;border-right:none;background:#FFF;padding:8px 10px !important;border-top:1px solid #ec6726 !important;border-bottom:1px solid #ec6726 !important;}
.resp-tabs-list li:first-child.resp-tab-active{border-left:1px solid #ec6726}
.resp-tabs-list li:last-child.resp-tab-active{border-right:1px solid #ec6726}
.resp-tab-content{border:1px solid #d7d7d7;border-top:0px;}
.about-agency{font-family:'open_sanslight';color:#474747;padding:25px 20px;}
.about-agency .info-top p{font-size:14px;padding-bottom:15px;font-family:'open_sansregular'; line-height: 24px;}
/*.about-agency .info-bottom{font-size:14px;padding-bottom:15px;}*/
.left_warraper .latest_f_p h2.title-featured{font-size:18px;margin-bottom:15px;margin-top:30px;border-bottom:1px solid #d7d7d7;}
.latest_f_p #myCarousel1{border:1px solid #d7d7d7;}
.test-controls a{height:25px;line-height:24px;font-size:15px;}
.latest_f_p #myCarousel1 .test-controls{top:-52px;}
.latest_f_p ul.fea_list_top li span{font-size:14px;position:relative;top:2px;color:#7c7c7c;}
.latest_f_p ul.fea_list_top{padding:10px 0 0px;}
.latest_f_p .col-item .price h5{line-height:20px;margin:0px 0 0px;font-size:14px;}
.latest_f_p .col-item h5.price-text-color{margin-bottom:10px;}
.latest_f_p h5.price-text-color span{padding-bottom:8px;}
.remix-add{padding:10px;background:#fff;border:1px solid #d7d7d7;margin-top:-96px;}
.remix-logo img{width:100%;padding:20px;border:1px solid #d7d7d7;margin-bottom:15px;}
.remix-address,
.remix-phone,
.remix-wen{position:relative;font-family:'open_sansregular';font-size:14px;color:#474747;}
.remix-address img,
.remix-phone img,
.remix-wen img{position:absolute;}
.remix-address p,
.remix-phone p,
.remix-wen p{margin-left:30px;padding-bottom:10px;border-bottom:1px solid #d7d7d8;margin-bottom:10px;font-family:'open_sansregular';}
.remix-wen p{border-bottom:0px;padding-bottom:0;}
.staff-agency{padding:30px 15px;}
.staff-details{padding:20px 20px;border:1px solid #d7d7d8;text-align:center;color:#474747;}
.per-pic{}
.avatar-staff{height:150px;width:150px;background:#a1a1a1;display:inline-block;overflow:hidden;}
.avatar-staff img{width:100%;min-height:150px;}
.per-name{position:relative;padding-bottom:3px;margin-bottom:5px;font-size:18px;font-family:'open_sanssemibold';}
.per-name span{display:block;border-bottom:1px solid #EC6726;height:2px;width:100px;margin:auto;padding:3px 0 0;}
.per-mobile{font-size:16px;margin-bottom:5px;}
.sale-sold{padding:0 10%;}
.sale-num{float:left;width:50%;display:block;}
.sold-num{float:left;width:50%;display:block;}
.numerss{font-size:18px;color:#000;}
.num-title{font-size:14px;}
.per-action{margin:15px 0 0;}
.per-action a{height:30px;line-height:27px;padding:0px;font-family:'open_sanslight';font-size:15px;text-transform:capitalize;border-radius:0px;width:48%;}
.per-action a:first-child{margin-right:2%;background:#EC6726;}
.per-action a.btn-default{color:#EC6726;border:1px solid #EC6726;}
.per-action a:hover{height:30px;line-height:27px;}
.border-box{border:1px solid #d7d7d8;padding:20px 5px;}
.staff-news{padding:30px 30px;}
.twoimg-box{width:58%;float:left;}
.twoimg-box:first-child{margin-right:2%;width:40%}
.twoimg-box img{width:100%;max-height:137px;}
.heading-news{border-bottom:1px solid #d7d7d8;margin-bottom:15px;padding-bottom:15px;position:relative;}
.heading-news:after{content:"";position:absolute;width:70px;height:2px;background:#EC6726;bottom:0;top:auto;}
.heading-news .tittle{font-size:18px;margin:0 0 10px;color:#2d2d2d;font-family:'open_sansregular';}
.heading-news .author{font-size:14px;color:#474747;margin:15px 0 0;}
.news-body{color:#474747;font-family:'open_sansregular';}
.agent-profile{padding:25px;background:#fff;}
.agent_profile_contact{padding:15px;}
.agn-avat{width:24%;float:left;}
.agn-avat img{width:100%;}
.agn-info{width:74%;float:left;padding-left:20px;color:#474747;}
.agn-info h2{margin:0 0 15px;padding:0 0 10px 0;border-bottom:1px solid #d7d7d8;font-family:'open_sanssemibold';font-size:18px;color:#474747;position:relative;}
.line-mimo:after{content:"";position:absolute;width:60px;height:2px;background:#EC6726;bottom:0;top:auto;left:0;}
.agn-info > .per-mobile img{vertical-align:top;}
.per-loca{font-size:16px;}
.per-loca img{vertical-align:top;margin-bottom:10px;}
.sale-sold-details{font-family:'open_sanslight';font-size:16px;padding-left:30px;}
.sale-sold-details span:first-child{padding-right:13%;}
.email-logo{position:relative;padding-left:30px;}
.email-logo a{height:30px;line-height:28px;padding:0px 15px;margin-top:15px;text-transform:capitalize;background:#ec6626;font-size:16px;border-radius:0;}
.email-logo a:hover, .email-logo a:active, .email-logo a:focus{height:30px;line-height:28px;padding:0px 15px;}
.email-logo img{position:absolute;right:-20px;bottom:-15px;}
.about-profile h2{margin:0 0 15px;padding:0 0 15px 0;border-bottom:1px solid #d7d7d8;font-family:'open_sanssemibold';font-size:20px;color:#474747;position:relative;text-transform:uppercase;}
.about-profile .line-mimo:after{width:70px;}
.about-testi h2{margin:0 0 15px;padding:0 0 10px 0;border-bottom:1px solid #d7d7d8;font-family:'open_sanssemibold';font-size:20px;color:#474747;position:relative;text-transform:uppercase;}
.about-testi .test-controls{top:-55px;}
.test-controls a{line-height:27px; height: 30px;}
.about-testi .line-mimo:after{width:140px;}
.about-profile .details p{color:#474747;font-family:'open_sanslight';font-size:14px;}
.by-testimonal{font-size:16px;color:#ec6626;}
.by-says{font-family:'open_sanslight';font-size:14px;color:#474747;line-height:24px;padding-bottom:5px;font-style:italic;}
.current_listing h2.title-featured{color:#474747;border-color:#d7d7d8;font-size:20px;}
.current_listing .col-item{border:1px solid #d7d7d8;}
.current_listing ul.fea_list_top li img{width:30px;}
.current_listing ul.fea_list_top li.amount_price{font-size:13px;}
.current_listing .col-item .info{padding:10px 10px;}
.current_listing #sync1 .owl-item.active .item,
.current_listing #sync2 .owl-item.active .item{margin:0 10px;}
.remix-address img{padding-top:4px;}
.remix-wen img{padding-top:0px;}
.agent-profile-sec .col-item .photo img{height:175px;}
.agent-profile-sec .padding-tb-30{padding-bottom:25px;padding-top:25px;}
.agent-profile-sec h5.price-text-color span{border-bottom:2px solid #ec6626;float:left;padding-bottom:14px;width:auto;}
.agency-profile .latest_f_p{padding-bottom:25px;}
.agency-profile .btn.pmd-ripple-effect.btn-default:hover{background:#fff none repeat scroll 0 0;}
.agency-profile .left_warraper .add-img{padding:20px 0 30px;}
.agency-profile .col-item .photo img{height:175px;}
.listings p{color:#474747;font-size:14px;font-family:'open_sansregular';}
.sel_wrapp:not(*:root){bottom:-9px;}
.lst_box_wrapp.middle-sec.grid{margin:0 2% 1% 2%;}
_::-moz-svg-foreign-content,:root #preloader > div{left:50% !important;}
_::-moz-svg-foreign-content,:root .form-control:focus{line-height:normal;!important;}
.google:hover a{color:#FFF !important;border:2px solid #d14836 !important;background:#d14836 !important;}
.facebook:hover a{background:#4867AA !important;border:2px solid #4867AA !important;color:#FFF !important;}
.pintrest:hover a{color:#FFF !important;background:#bd081c !important;border:2px solid #bd081c !important;}
.twitter:hover a{color:#FFF !important;background:#1DA1F2 !important;border:2px solid #1DA1F2 !important;}
.instagram:hover a{background:radial-gradient(circle farthest-corner at 35% 100%,#fec564,transparent 50%),radial-gradient(circle farthest-corner at 10% 140%,#feda7e,transparent 50%),radial-gradient(ellipse farthest-corner at 0 -25%,#5258cf,transparent 50%),radial-gradient(ellipse farthest-corner at 20% -50%,#5258cf,transparent 50%),radial-gradient(ellipse farthest-corner at 100% 0,#893dc2,transparent 50%),radial-gradient(ellipse farthest-corner at 60% -20%,#893dc2,transparent 50%),radial-gradient(ellipse farthest-corner at 100% 100%,#d9317a,transparent),linear-gradient(#6559ca,#bc318f 30%,#e42e66 50%,#fa5332 70%,#ffdc80 100%) !important;color:#FFF !important;border:2px solid;border-image:linear-gradient(#464646,#464646);}
.srpgs-container{height:600px;position:relative !important;width:100%;float:left;overflow:hidden;padding:0;}
#srpgs-slideshow{width:100%;float:left;}
.srpgs-holder{width:100%;height:500px;}
.srpgs-holder img{width:100%;float:left;height:600px;}
#srpgs-control{position:absolute !important;height:100% !important;bottom:0px !important;margin:0 auto !important;right:0 !important;top:0 !important;}
#featured ul.fea_list_top li img{width:30px !important;}
#featured .separator ul.fea_list_top li{width:25%;}
.homepage .separator ul.fea_list_top li{width:21% !important;}
.homepage .separator ul.fea_list_top li.amount_price{width:36% !important;}
#cd-main-nav{float:right;width:72%;}
#cd-nav{float:right;width:72%;}
#cd-nav ul{position:relative;width:auto;max-width:none;bottom:auto;top:0px;margin:0px;margin-top:15px;padding:0px;border-radius:0px;box-shadow:none;background:white;visibility:hidden;overflow:hidden;z-index:1;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transform:scale(0);-moz-transform:scale(0);-ms-transform:scale(0);-o-transform:scale(0);transform:scale(0);-webkit-transform-origin:100% 100%;-moz-transform-origin:100% 100%;-ms-transform-origin:100% 100%;-o-transform-origin:100% 100%;transform-origin:100% 100%;-webkit-transition:-webkit-transform 0.3s, visibility 0s 0.3s;-moz-transition:-moz-transform 0.3s, visibility 0s 0.3s;transition:transform 0.3s, visibility 0s 0.3s;}
#cd-nav ul li{-webkit-backface-visibility:hidden;backface-visibility:hidden;}
#cd-nav ul.is-visible{visibility:visible;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1);-webkit-transition:-webkit-transform 0.3s, visibility 0s 0s;-moz-transition:-moz-transform 0.3s, visibility 0s 0s;transition:transform 0.3s, visibility 0s 0s;}
#cd-nav ul.is-visible li:nth-child(1){-webkit-animation:cd-slide-in 0.2s;-moz-animation:cd-slide-in 0.2s;animation:cd-slide-in 0.2s;}
#cd-nav ul.is-visible li:nth-child(2){-webkit-animation:cd-slide-in 0.3s;-moz-animation:cd-slide-in 0.3s;animation:cd-slide-in 0.3s;}
#cd-nav ul.is-visible li:nth-child(3){-webkit-animation:cd-slide-in 0.4s;-moz-animation:cd-slide-in 0.4s;animation:cd-slide-in 0.4s;}
#cd-nav ul.is-visible li:nth-child(4){-webkit-animation:cd-slide-in 0.5s;-moz-animation:cd-slide-in 0.5s;animation:cd-slide-in 0.5s;}
#cd-nav ul.is-visible li:nth-child(5){-webkit-animation:cd-slide-in 0.6s;-moz-animation:cd-slide-in 0.6s;animation:cd-slide-in 0.6s;}
#cd-nav li a{display:block;padding:0 10px;}
#cd-nav li:last-child a{}
footer-sec.animatedParent{float:left;width:100%;background:#464646;padding:35px 0 15px;height:300px;}
@media only screen and (max-width:1170px){#cd-nav{width:68%;}
#cd-main-nav{float:right;width:85%;}
}
@media only screen and (min-width:1170px){#cd-nav ul{position:relative;width:auto;max-width:none;bottom:auto;top:0px;background:transparent;visibility:visible;box-shadow:none;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1);-webkit-transition:all 0s;-moz-transition:all 0s;transition:all 0s;}
#cd-nav li{display:inline-block !important;float:right;}
#cd-nav li a{opacity:1;padding:0 10px;margin-left:0;color:#fff;font-size:16px;line-height:35px;text-transform:capitalize;}
#cd-nav li a:hover{color:#EC6726;}
#cd-nav.is-fixed ul{background:rgba(0, 0, 0, 0) none repeat scroll 0 0;bottom:auto;float:right;margin:10px 0 0;max-width:none;padding:8px 2px;position:relative;transform:scale(0);visibility:hidden;width:auto;}
#cd-nav.is-fixed ul li{display:block;float:right;}
#cd-nav.is-fixed ul li a{padding:0 14px;margin-left:0;border-bottom:none;font-size:16px;line-height:35px;text-transform:capitalize;}
#cd-nav ul.has-transitions{-webkit-transition:-webkit-transform 0.3s, visibility 0s 0.3s;-moz-transition:-moz-transform 0.3s, visibility 0s 0.3s;transition:transform 0.3s, visibility 0s 0.3s;}
#cd-nav ul.is-visible{visibility:visible;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1);-webkit-transition:-webkit-transform 0.3s, visibility 0s 0s;-moz-transition:-moz-transform 0.3s, visibility 0s 0s;transition:transform 0.3s, visibility 0s 0s;}
#cd-nav ul.is-hidden{-webkit-transform:scale(0);-moz-transform:scale(0);-ms-transform:scale(0);-o-transform:scale(0);transform:scale(0);-webkit-transition:-webkit-transform 0.3s;-moz-transition:-moz-transform 0.3s;transition:transform 0.3s;}
}
.cd-nav-trigger{position:relative !important;right:15px !important;top:23px !important;z-index:999 !important;float:right;display:inline-block;width:35px;height:auto;overflow:hidden;}
.cd-nav-trigger span{position:absolute;display:block;width:20px;height:2px;background:#ec6726;top:50%;margin-top:-1px;left:50%;margin-left:-10px;-webkit-transition:background 0.3s;-moz-transition:background 0.3s;transition:background 0.3s;}
.cd-nav-trigger span::before,
.cd-nav-trigger span::after{content:'';position:absolute;left:0;background:inherit;width:100%;height:100%;-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition:-webkit-transform 0.3s, background 0s;-moz-transition:-moz-transform 0.3s, background 0s;transition:transform 0.3s, background 0s;}
.cd-nav-trigger span::before{top:-6px;-webkit-transform:rotate(0);-moz-transform:rotate(0);-ms-transform:rotate(0);-o-transform:rotate(0);transform:rotate(0);}
.cd-nav-trigger span::after{bottom:-6px;-webkit-transform:rotate(0);-moz-transform:rotate(0);-ms-transform:rotate(0);-o-transform:rotate(0);transform:rotate(0);}
.cd-nav-trigger.menu-is-open{box-shadow:none;}
.cd-nav-trigger.menu-is-open span{background:rgba(232, 74, 100, 0);}
.cd-nav-trigger.menu-is-open span::before,
.cd-nav-trigger.menu-is-open span::after{background:#ec6726;}
.cd-nav-trigger.menu-is-open span::before{top:0;-webkit-transform:rotate(135deg);-moz-transform:rotate(135deg);-ms-transform:rotate(135deg);-o-transform:rotate(135deg);transform:rotate(135deg);}
.cd-nav-trigger.menu-is-open span::after{bottom:0;-webkit-transform:rotate(225deg);-moz-transform:rotate(225deg);-ms-transform:rotate(225deg);-o-transform:rotate(225deg);transform:rotate(225deg);}
@media only screen and (min-width:1170px){.cd-nav-trigger{visibility:hidden;-webkit-transform:scale(0);-moz-transform:scale(0);-ms-transform:scale(0);-o-transform:scale(0);transform:scale(0);-webkit-transition:-webkit-transform 0.3s, visibility 0s 0.3s;-moz-transition:-moz-transform 0.3s, visibility 0s 0.3s;transition:transform 0.3s, visibility 0s 0.3s;}
.is-fixed .cd-nav-trigger{visibility:visible;-webkit-transition:all 0s;-moz-transition:all 0s;transition:all 0s;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1);-webkit-animation:cd-bounce-in 0.3s linear;-moz-animation:cd-bounce-in 0.3s linear;animation:cd-bounce-in 0.3s linear;}
}
@media only screen and (min-width:768px){#cd-gallery-items li{width:48%;float:left;margin-bottom:2em;margin-right:4%;}
#cd-gallery-items li:nth-child(2n){margin-right:0;}
}
@media only screen and (min-width:1170px){#cd-gallery-items li{width:31%;float:left;margin-bottom:2.5em;margin-right:3.5%;}
#cd-gallery-items li:nth-child(2n){margin-right:3.5%;}
#cd-gallery-items li:nth-child(3n){margin-right:0;}
}
@-webkit-keyframes cd-slide-in{0%{-webkit-transform:translateX(100px);}
100%{-webkit-transform:translateY(0);}
}
@-moz-keyframes cd-slide-in{0%{-moz-transform:translateX(100px);}
100%{-moz-transform:translateY(0);}
}
@keyframes cd-slide-in{0%{-webkit-transform:translateX(100px);-moz-transform:translateX(100px);-ms-transform:translateX(100px);-o-transform:translateX(100px);transform:translateX(100px);}
100%{-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0);}
}
@-webkit-keyframes cd-bounce-in{0%{-webkit-transform:scale(0);}
60%{-webkit-transform:scale(1.2);}
100%{-webkit-transform:scale(1);}
}
@-moz-keyframes cd-bounce-in{0%{-moz-transform:scale(0);}
60%{-moz-transform:scale(1.2);}
100%{-moz-transform:scale(1);}
}
@keyframes cd-bounce-in{0%{-webkit-transform:scale(0);-moz-transform:scale(0);-ms-transform:scale(0);-o-transform:scale(0);transform:scale(0);}
60%{-webkit-transform:scale(1.2);-moz-transform:scale(1.2);-ms-transform:scale(1.2);-o-transform:scale(1.2);transform:scale(1.2);}
100%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1);}
}
_:-ms-fullscreen,:root #preloader{text-align:center !important;}
_:-ms-fullscreen,:root #preloader > div{display:inline-block !important;float:none !important;}
.more-input{width:100%;float:left;padding:0px 0 20px;display:none;}
.more-input1{width:100%;float:left;padding:0px 0 20px;display:none;}
.inner_header .#cd-nav.is-fixed ul{position:absolute!important;}
.inner_header .navbar-collapse{padding:0 15px;}
.inner_header #cd-nav li a{color:#333;}
.inner_header #cd-nav li a:hover{color:#ec6726;}
#Plans .map-img img{height:600px !important;width:100%;}
.fix_header #cd-nav.is-fixed ul li a:hover{color:#ec6726 !important;}
.new{background:#e8e8e8;box-shadow:0;}
.prop_list_inner .add-img img{width:100%;}
.property-description .test-controls{top:-37px;}
.modal.fade.in .modal-dialog{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);transform:scale(1);-webkit-transform:translate3d(0, -300px, 0);transform:translate3d(0, -300px, 0);opacity:1;}
.modal.fade .modal-dialog{-webkit-transform:scale(0.1);-moz-transform:scale(0.1);-ms-transform:scale(0.1);transform:scale(0.1);top:300px;opacity:0;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;transition:all 0.3s;}
.signup .form-group .form-control{width:100%;float:left;border-radius:0;height:43px;border:2px solid #dfdfdf;box-shadow:0 0;}
.signup .form-group{width:100%;float:left;margin-bottom:10px;}
.signup .modal-dialog{max-width:400px;width:100%;}
.signup .modal-body{background:#FFF;padding:0;margin-top:0;}
.signup .signup-content{padding:0 20px;min-height:610px;}
.terms{width:100%;float:left;}
.terms .checkbox{margin-bottom:7px;margin-top:6px;}
.policy .checkbox{margin-top:5px;}
.signup .header-content{width:100%;float:left;text-align:center;background:#74797c;}
.signup .signup-title{font-size:18px;text-align:center;width:100%;display:inline-block;margin:0;float:none;border:0;padding:11px 29px;height:auto;overflow:hidden;color:#FFF;}
.signupform{width:100%;float:left;padding-top:16px;}
.submit-btn-sec .create-btn{border:1px solid #EC6726;padding:6px 10px;width:47%;float:left;font-size:16px;background:#EC6726;color:#FFF;}
.submit-btn-sec .close{border:1px solid #c6c6c6;padding:13px 10px !important;width:47%;float:right;font-size:16px !important;background:#FFF;color:#333 !important;opacity:1;font-weight:normal;}
.signup p.signinlink{width:100%;float:left;font-size:15px;text-align:center;margin-top:-11px;}
.signup p.signinlink a{color:#337ab7;}
.social-media ul li{list-style-type:none;width:100%;float:left;padding:5px 0;}
.social-media ul{padding:0;width:100%;float:left;}
.signup .form-group{width:100%;float:left;margin-bottom:12px;}
.social-media ul li a{display:block;padding:10px 11px 10px 0;color:#FFF;font-size:11px !important;text-align:right;position:relative;overflow:hidden;height:40px;border-radius:0;line-height:20px;}
.social-media ul li.fb a{background:#4867AA;}
.social-media ul li.fb a:hover,.social-media ul li.fb a:focus,.social-media ul li.fb a:active{background:#4867AA;}
.social-media ul li.gplus a{background:rgb(223,80,67);}
.social-media ul li.gplus a:hover,.social-media ul li.gplus a:focus,.social-media ul li.gplus a:active{background:rgb(223,80,67);}
.social-media ul li a span{width:30px !important;display:inline-block;float:left;font-size:14px;position:absolute;left:0;top:0;height:44px;line-height:40px;text-align:left;padding-left:7px;}
.innertext{color:#337ab7;}
.policy{width:100%;float:left;}
.submit-btn-sec .close:hover{background:#333;color:#FFF !important;text-shadow:none;}
.create_tagline img{width:90px;padding-left:5px;}
.or{width:100%;float:left;text-align:center;font-size:16px;font-weight:600;}
.listing-page .add-img{text-align:center;padding:0px 0 40px;}
.grid .pro_fac ul li{margin-right:0 !important;width:33%;}
.fix_search #tabContainer{margin:0 !important;padding:0;}
.fix_search{position:fixed;width:100%;float:left;top:0;left:0;z-index:99;}
.fix_search .container{width:100%;padding:0;}
.fix_search .container .row{padding:0px 15px}
.fix_search md-tabs-wrapper{display:none;}
.fix_search .select-list{display:none;}
.fix_search .search-bar{width:36%;}
.fix_search .small-full{width:21%;}
.fix_search .left-search-menu{width:66%;float:left;padding:0;}
.fix_search .search-menu{width:15%;float:left;margin-left:1% !important;}
.fix_search .more-btn .btn{margin:7px 0 0 0;padding:10px 14px 9px;}
.fix_search .buy_rent_tab md-tabs:not(.md-no-tab-content):not(.md-dynamic-height){min-height:180px !important;}
.fix_search .more-btn .btn{margin:13px 0 0 0px;padding:10px 14px 9px;}
.fix_search md-tabs-content-wrapper{top:0;}
.fix_search .buy_rent_tab md-tabs:not(.md-no-tab-content):not(.md-dynamic-height){min-height:130px !important;}
.fix_search .buy_rent_box md-tab-content{top:0px;}
.fix_search .buy_rent_tab md-tabs:not(.md-no-tab-content):not(.md-dynamic-height){min-height:65px !important;}
.fix_search #slider-range, .fix_search #slider-range1, .fix_search #slider-range2, .fix_search #slider-range3, .fix_search #slider-range4, .fix_search #slider-range6, .fix_search #slider-range7, .fix_search #slider-range8, .fix_search #slider-range10, .fix_search #slider-range11{margin:12px 0 8px 8px;}
.fix_search .fix-sec{display:none;}
.fix_search md-tab-content{overflow:hidden;}
.fix_search .bedmin-max{font-size:12px;}
.fix_search .input-group, .fix_search .SearchBar{width:100%;position:relative;}
.fix_search .input-group-btn{display:none;}
.fix_search .SearchBar{padding-right:40px;width:100%;float:left;}
.overlap-img{left:-5px;position:absolute;top:-6px;width:130px !important;}
.search-icon{display:none;}
.fix_search .search-icon{line-height: 36px;background:#ec6726 none repeat scroll 0 0;border:0 none;color:#fff;display:block;float:left;font-size:16px;height:40px;position:absolute;right:0;text-align:center;top:0px;width:43px;z-index:99;}
.padding-top{padding-top:188px;}
.inner_sect_wrapper .latest_properties_news.margin-top-30{margin-top:9px;}
.grid .cli_nme{padding-top:0;}
#boxscroll3{height:400px;overflow:hidden;padding-top:15px;}
#boxscroll2{height:400px;overflow:hidden;}
#ascrail2000 div{background:rgba(0,0,0,0.7) !important;}
#ascrail2001 div{background:rgba(0,0,0,0.7) !important;}
.listings .prtlt_img{float:left;width:25%;}
.listings .prtinfo_wrapp{float:right;width:72%;}
.listings .pro_fac{float:left;width:100%;margin:2px 0;}
.listings .cli_nme{padding-top:0;}
.listings .client_wrapp{padding:5px;}
.listings .client_spon img{width:76%;}
.agency-profile .add-img{padding-top:19px;}
.listings .lst_box_wrapp{margin-bottom:20px;}
.modal-backdrop.in{filter:alpha(opacity=50);opacity:.8;z-index:999;}
.filtertab{-webkit-transition:all 0.5s ease-out;-moz-transition:all 0.5s ease-out;-o-transition:all 0.5s ease-out;transition:all 0.5s ease-out;}
.form-control.SearchBar{font-size:15px;border:0;}
.inner-pages-container md-tabs-canvas{overflow:inherit;}
.inner-pages-container .buy_rent_box md-tab-item{border:2px solid #ec6726!important;background:#464646 !important;}
.inner-pages-container md-tab-item.md-active{background:#ec6726!important;}
.current_listing ul.fea_list_top li{width:auto;padding-right:4px;}
.current_listing ul.fea_list_top li img{width:30px;}
.current_listing ul.fea_list_top li:last-child{float:right;padding:0 7px;}
.separator ul.fea_list_top li{width:auto;padding-right:4px;}
.left_warraper ul.fea_list_top li{width:auto;padding-right:7px;}
.separator ul.fea_list_top li:last-child{float:right;padding:0 7px;}
md-tabs-content-wrapper{top:47px;}
.add-tab-section .add-img img{width:100% !important;}
.fix-logo{display:none;}
.fix_search .fix-logo{display:block;}
.fix_search .bed-slider{display:none;}
.fix_search .layout-align-start-stretch{display:none;}
.fix_search .fix-logo{display:block;width:20%;float:left;background:none;margin-right:1.5%;text-align:center;height:65px;line-height:60px;padding-left:35px;padding-top:4px;}
.fix_search .fix-logo img{width:100%;}
.cd-nav-trigger.menu-is-open span{background:transparent !important;}
.fix_search .search-bar{width:72%;padding:0px;margin:13px 0 0 0;float:right;}
.fix_search .more-btn{float:left;}
.fix-menu-icons{display:none;}
.fix_search .fix-menu-icons{position:absolute !important;right:0 !important;top:0 !important;z-index:999 !important;display:block !important;background:none;width:50px;height:65px;visibility:visible !important;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1);}
.fix-head #cd-nav{float:none;width:auto;position:absolute !important;top:0;background:#464646;z-index:99;left:0;text-align:center;transition:all 0.6s ease-in-out;right:0;}
.fix-head #cd-nav .cd-nav-trigger{display:none;}
.fix-head #cd-nav li a{color:#fff !important;}
.fix-head #cd-main-nav{float:none;margin:0 auto;width:auto;height:auto;overflow:hidden;display:inline-block;}
.fix_search .cd-nav-trigger span{background:#FFF;}
.fix-head #cd-nav.is-fixed ul{margin-top:0;padding-bottom:3px;}
.top{top:235px !important;transition:all 0.2s ease-out;}
.more-input .bed-slider,.more-input .select-list,.more-input .surround{display:none;}
.fix_search .more-input .bed-slider{display:block !important;width:25%;min-height:58px;}
.fix_search .more-input .select-list{display:block !important;}
.fix_search .more-input .surround{display:block !important;width:25%;float:left;min-height:58px;padding-left:15px;}
.fix_search .more-input .surround span{color:#FFF;}
.fix_search .bedmin-max{color:#FFF;}
#slider-range12,#slider-range13,#slider-range14,#slider-range15,#slider-range16,#slider-range17{margin:11px 0 25px;}
.fix_search .more-input,.fix_search .more-input1{padding:10px 18.59% 15px;}
.fix_search .right-search-menu{width:66%;float:left;padding:0;}
.fix_search .more-btn1 .btn{margin:13px 0 0 0px;padding:10px 19% 12px;}
.fix_search .right-search-menu .search-icon{line-height:38px;}
.fix_search #tab-content-1 .search-menu{margin-left:0%;}
.fix_search .more-input1 .bed-slider{display:block;}
.fix_search .more-input1 .surround{display:block !important;width:25%;float:left;min-height:58px;padding-left:15px;}
.fix_search .more-input1 .surround span{color:#FFF;}
.fix_search .more-input1 .small-full{width:25%;}
.more-input1 .bed-slider,.more-input1 .select-list,.more-input1 .surround{display:none;}
#top-link-block .well.well-sm.hvr-rectangle-out{background:#ec6726;border-radius:0;border:1px solid #dc5716;width:33px;height:33px;color:#FFF;line-height:10px;}
#top-link-block{right:15px;bottom:0px;z-index: 1;}
#top-link-block .well.well-sm.hvr-rectangle-out:hover{padding:9px;margin-bottom:20px;}
#top-link-block .well.well-sm.hvr-rectangle-out:focus{padding:9px;margin-bottom:20px;}
.inner-pages-container .md-tab{padding:8px 14px;}
.fix-head #cd-nav li a:hover{color:#ec6726 !important;}
.fix-menu-sec{display:none;}
.fix-slider{width:33.33%;}
.fix_search .fix-menu-sec{display:block;}
.fix_search .fix-slider{width:25%;}
.inner_header .navbar-fixed-bottom, .inner_header .navbar-fixed-top{position:absolute;}
.fixed .navbar-fixed-bottom, .fixed .navbar-fixed-top{position:fixed !important;}
.banner .md-tab{padding:9px 20px;margin-top:5px;}
.forgotpass a{text-align:right;display:inline-block;color:#333;float:right;text-decoration:underline;padding-bottom:5px;}
.forgotpass a:hover{color:#337ab7;}
#myModal1 .signup-content{padding:0 20px;min-height:400px !important;}
#myModal2 .signup-content{min-height:185px !important;}
#cd-nav .cd-nav-trigger{visibility:hidden;opacity:0;}
.property-right-sec .latest_properties_news{background:#f5f5f5;margin-top:13px !important;}
.logout-details{float:right !important;height:auto;overflow:hidden;width:145px;margin-top:15px;}
.logout-details a{background:#EC6726;padding:6px 14px !important;float:right;color:#FFF;font-size:20px;}
.fix_search .more-btn1 .btn{margin:13px 0 0 0px;padding:10px 14px 9px;border-radius: 0;}
_:-ms-fullscreen,:root .SearchBar.form-control{line-height:normal;}
_:-ms-fullscreen,:root .fix_search .left-search-menu{width:79%;}
.fix_search .cd-nav-trigger:not(*:root){-webkit-transform:scale(1) !important;}
.fix_search .more-btn1 {float: left !important;}

#slider-range, #slider-range1, #slider-range2, #slider-range3, #slider-range4, #slider-range5, #slider-range6, #slider-range7,#slider-range8, #slider-range9, #slider-range10, #slider-range11{margin:10px 0 10px 8px;}
.btn_download i{color:#FFF;background:transparent;font-size:22px;padding-right:3px;}
.well.well-sm.hvr-rectangle-out{text-align:center;font-size:18px;line-height:normal;padding-top:5px;}
#top-link-block .well.well-sm.hvr-rectangle-out:hover{padding:5px !important;}
#top-link-block .well.well-sm.hvr-rectangle-out:focus,#top-link-block .well.well-sm.hvr-rectangle-out:active{padding:5px !important;}
.footer-sec .carousel-control i{font-size:26px;color:#FFF;text-shadow:none;}
.banner.animatedParent{margin-top:-65px;}
.form-group.submit-btn-sec{text-align:center;padding-top:6px;}
.submit-btn-sec .create-btn{float:none;}
.social-media ul li{list-style-type:none;width:47%;float:left;padding:5px 0;margin-right:6%;}
.social-media ul li:last-child{margin-right:0%;}
#section05{bottom:30px;}
.signup .signup-content{min-height:425px;}
.terms label .text{width:90%;float:right;}
.create_tagline a{font-size:25px;color:#000;padding:0 5px;}
.indoor{width:25%;float:left;display:block;padding-right:0px;padding-left:15px;}
.indoor .btn-group, .indoor .btn-group-vertical{width:100% !important;float:left;display:block;}
.indoor .multiselect.dropdown-toggle.btn.btn-default{width:97%;float:left;background:#FFF;color:#8E8E8E;border-radius:0;margin-top:15px;text-align:left;height:40px;padding:0 15px 0px 10px;background:#fff url("http://192.168.1.108/mhiq/img/icons/dropdown.png");background-repeat:no-repeat;background-position:99.3% center;margin:0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.indoor .btn .caret{margin-left:0;display:none;}
.indoor .multiselect-container{border-radius:0;right:10px !important;}
.fix-slider{width:25%;}
.fix_search .indoor{width:100%;margin:10px 0 0 0;padding-left:0;}
.fix_search .indoor .multiselect.dropdown-toggle.btn.btn-default{width:100%;text-transform:capitalize;}
.fix_search .indoor .multiselect-container{border-radius:0;right:0px !important;}
.fix_search .indoor .multiselect-container > li{padding:0;width:25%;float:left;}
.fix_search .multiselect-container > li > a{padding:10px 0 5px;}
.act_img{display:none;}
.pro-email a{color:#FFF;}
.property-description .testimonial-container .test-det{float:left;padding:0px 0px 3px 0px;width:100%;}
.pro-head{padding-top:10px;}
.test-det .list-inline.list-unstyled{width:50%;float:left;padding:16px 0 0 0 !important;}
.test-det .list-inline.list-unstyled img{width:30px;}
.test-det .list-inline.list-unstyled li span{font-size:14px;padding-top:0;}
.myhiq_details .separator ul.fea_list_top li{text-align:center;width:33%;}
.price-text-color .amount_price{color:#EC6626 !important;background:none !important;padding:0!important;height:27px;text-align:center;float:right;padding:3px 5px;font-size:14px;margin-top:5px;border-bottom:none;font-size:15px;font-weight:600;}
.property-right-sec ul.fea_list_top li span{font-size:14px;}
.profile-inspection .pro-head{padding-top:0;}
.padding-top1{padding-top:165px;}
.validate_error{width:100%;float:left;color:red;padding-bottom:1px;font-size:14px;}
.price-text-color .amount_price{background:#EC6626;color:#fff;padding:0;height:27px;text-align:center;float:right;padding:3px 5px;font-size:14px;margin-top:5px;}
.indoor .btn-group:before{width:50px;position:absolute;right:0;top:0;bottom:0;background-image:#fff url("http://192.168.1.108/mhiq/img/icons/dropdown.png");content:"";background:#FFF;}
.readmorecontent{display:none;width:100%;float:left;}
.read-more{background:#ec6726 none repeat scroll 0 0 !important;border:1px solid #ec6726;color:#ffffff !important;opacity:1 !important;width:auto;display:inline-block;padding:6px 10px 6px !important;font-size:14px !important;margin-top:12px;line-height:normal !important;cursor:pointer;float:right;}
.col-md-12.col-sm-12.profile-description.width-100{padding-bottom:0;}
.author span{float:right;font-size:12px;font-style:italic;}
.agent-profile .separator ul.fea_list_top li:last-child{float:left;padding:0 7px;}
.agent-profile .separator ul.fea_list_top li{width:auto;padding-right:6px;}
.agent-profile .amount_price{float:right;color:#ec6726;background:none;padding:1px 10px;font-size:15px;font-weight:600;width:100%;text-align:center;}
.agent-profile ul.fea_list_top{margin:0;float:left;width:55%;padding:5px 0 5px;}
.agent-profile .current_listing ul.fea_list_top li img{width:23px;}
.agent-profile ul.fea_list_top li span{font-size:13px;}
.agent-profile .amount_price{float:right;color:#ec6726;background:none;padding:14px 10px 0;font-size:13px;font-weight:600;width:45%;text-align:center;}
.property-right-sec .separator ul.fea_list_top li{width:auto;padding-right:3px;}
.property-description .testimonial-head .price{color:#ec6626 !important;background:none!important;font-size:16px;margin-right:12px;min-height:25px;padding:3px 13px;text-align:center;border-bottom:none;font-weight:600 !important;}
.property-description .test-content .carousel .item p{font-family:'open_sanslight';font-size:14px;color:#474747;line-height:24px;padding-bottom:5px;font-style:italic;}
.modal .close{float:right;font-size:21px;font-weight:700;line-height:1;color:#000;text-shadow:0 1px 0 #fff;filter:alpha(opacity=20);opacity:.2;position:absolute;right:15px;top:9px;color:#FFF;opacity:1;}
.read-more .arrow{font-size:12px;padding-left:5px;line-height:normal;padding-top:0;margin-top:0;display:inline-block;width:auto;position:relative;top:0;}
.test-det .list-inline.list-unstyled li span{font-size:14px;padding-top:0;}
.profile-inspection{border:1px solid #ccc;padding:5px;width:29%;float:right;margin:5px 0 4px;}
.profile-inspection .pro-head{padding-top:0;margin-top:0;font-size:13px;}
.profile-inspection p{color:#272727;font-size:13px;line-height:25px;font-family:'open_sansregular';}
.testimonial-container .list-inline.list-unstyled{padding-top:5px;}
.featured_properties_details .separator ul.fea_list_top li img{display:inline-block !important;width:30px !important;line-height:normal;vertical-align:middle;}
.featured_properties_details .separator ul.fea_list_top li span, .similar-properties .separator ul.fea_list_top li span{font-size:14px;}
.similar-properties .separator ul.fea_list_top li img{display:inline-block !important;width:30px !important;line-height:normal;vertical-align:middle;}
.featured_properties_details .separator ul.fea_list_top, .similar-properties .separator ul.fea_list_top{padding:8px 0 2px;}
.social-media .ink{background:#FFF !important;}
md-tabs-content-wrapper{top:47px;}
md-pagination-wrapper{height:50px;}
.md-tab.ng-scope.ng-isolate-scope.md-ink-ripple{border:2px solid #ec6726 !important;height:auto !important;padding:7px;}
.resp-tabs-container .prtlt_img img{width:100%;height:139px;}
.fix_search .SearchBar{border-radius:0 !important;}
.testimonial-container .testimonial-head{border-bottom:none;}
.property-listing .pro_fac ul li {margin-right: 20px; padding: 0; display: inline-block; float: left; line-height: 40px; }
.property-listing .pro_fac img {width: 30px; }
.property-listing .pro_fac ul li span {font-size: 14px; margin-left: 6px; display: inline-block; }
.map-view-bottom .container {width: 100%; padding-right: 0; }
.map-view-bottom .tplt_sec {float: left; width: auto; margin-top: 11px; margin-bottom: -11px; }
.map-view-bottom .sel_wrapp {bottom: -10px;}
.map-view-bottom .lt_prop {width: 45%; float: left; position: fixed; top: 68px; left: 0; bottom: 70px; background: #FFF; padding-top: 10px; padding-right: 14px; }
.map-view-bottom .property-right-sec {width: 55%; float: right; position: fixed; right: 0; top: 63px; bottom: 0px; padding: 0 0 0 15px; }
.map-view-bottom .home_icon img {width: 30px; }
.map-view-bottom .bor_bot {position: absolute; bottom: -6px; border-bottom: 2px solid #ec6726; width: 100%; left: 0; }
.map-view-bottom .home_find {font-family: 'open_sanssemibold'; float: left; width: auto; font-size: 16px; line-height: 42px; color: #474747; }
.map-view-bottom .home_icon {padding: 0 0px;}
.map-view-bottom .top_sect {padding-bottom: 4px; float: left; width: auto; position: relative; width: 100%; }
.map-view-bottom .lst_box_wrapp.grid {width: 48%;}
.map-view-bottom .overlap-img {left: -3px; position: absolute; top: -2px; width: 80px !important; }
.map-view-bottom .lst_box_wrapp.grid:nth-child(even) {float: right; }
.map-view-bottom .lst_box_wrapp.grid {width: 49%; }
.map-view-bottom .prtlt_img {width: 33.50%;}
.map-view-bottom .prtinfo_wrapp {float: right; width: 64%; }
.map-view-bottom .prtinfo_wrapp .pro_fac img {width: 30px; }
.map-view-bottom .pro_fac ul li {margin-right: 20px; padding: 0; display: inline-block; float: left; line-height: 16px; }
.map-view-bottom .pro_fac {margin: 5px 0; }
.map-view-bottom .client_wrapp {padding: 4px;}
.map-view-bottom .prtlt_img{margin-right: 0; }
.map-view-bottom .prtlt_img img {width: 100%; min-height: 131px; }
.map-view-bottom .prtlt_img .overlap-img{width: 100%; min-height: 80px; }
#boxscroll{height: 100%; }
#ascrail2000 div {background: #ec6726 !important; opacity: 1 !important; border-radius: 10px !important; }
.map-view-bottom .grid .prtlt_img {width: 100%; }
.map-view-bottom .grid .prtinfo_wrapp {float: right; width: 100%; }
.map-view-bottom .grid .pro_fac ul li {margin-right: 0; width: 25%; }
.map-view-bottom .lst_box_wrapp.grid {min-height: 375px;}
.map-view-bottom .grid .client_img {width: 23%; }
.thre_wrapp:not(*:root){bottom: -13px !important; }
.option1 .thre_wrapp:not(*:root){bottom: -8px !important; }
_:-ms-fullscreen, :root .thre_wrapp{bottom: -6px !important; }
.move{top: 52px !important; }
.back-button {position: absolute; top: 16%; right: 0.8%; z-index: 1; }
.back-button a {display: inline-block; width: auto; padding: 8px 12px; background: #74797c; color: #FFF; font-size: 14px; }
.back-button a:hover,.back-button a:focus,.back-button a:active{background:#ec6726;}
.fixed .logo_wrapp, .fixed .login-details {opacity: 0;}


/*Service Provider page css starts here*/
.service_provider md-tab-item {display: none;}
.service_provider .buy_rent_tab {width: 75%; float: none; margin: 16% auto 0; overflow: hidden; }
.service_provider .more-refine-btn a {border-radius: 0; height: 40px; line-height: 22px; width: 100%; background: #ec6726 none repeat scroll 0 0; }
.service_provider .more-refine-btn a:hover,.service_provider .more-refine-btn a:focus,.service_provider .more-refine-btn a:active {padding: 10px 14px; background: #ec6726 none repeat scroll 0 0;}
#cd-main-nav ul li.active a{color: #ec6726 !important; }
.service_provider .buy_rent_box md-tab-content {top: 37px; }
.service_provider .more-input {background: rgba(0, 0, 0, 0.69) none repeat scroll 0 0; padding:0 30px 20px; }
/*Service Provider page css ends here*/



/*Service Provider result page css starts here*/
.service_provider_result{transition: all 0.6s ease-in-out; }
.service_provider_result .more-refine-btn a:hover, .service_provider_result .more-refine-btn a:focus {padding: 10px 14px; }
.service_provider_result  md-tabs-wrapper{display: none !important; }
.fix_search .service_provider_result .more-refine-btn .btn {margin: 13px 0 0; padding: 10px 14px 9px; }
.service_provider_result.fix_search .more-refine-btn a {border-radius: 0;height: 40px;line-height: 21px;background: #ec6726 none repeat scroll 0 0;}
.service_provider_result_sec{height: auto;width: 100%;float: left;background: #f6f6f6 none repeat scroll 0 0;}
.service_provider_result.fix_search .search-bar {width: 71.70%; z-index: 999; }
.service_provider_result .more-refine-btn {margin-bottom: 0; margin-top: 13px; }
.service_provider_result_sec{width: 100%; float: left; padding-top: 80px; }
.service_provider_result_sec .breadcrumb{background: none; padding-left: 0; margin-bottom: 0; }
.result-count{width: 100%; float: left; border-bottom: 1px solid #cccccc; margin-bottom: 30px; }
.result-count .result-no {color: #474747; float: left; font-family: "open_sanssemibold"; font-size: 20px; line-height: 42px; width: auto; margin-bottom: 0; }
.service-det-content{width: 100%; float: left; }
.service-details-right .add-img img {float: left; width: 100%; }
.service-details-right .right-sec.listing-page {float: left; width: 100%; }
.service-details-right h2.title-featured {font-size: 16px; margin:16px 0 30px; }
.service-details-right .latest_f_p #myCarousel1 .test-controls {top: -68px; }
.result {background: #ffffff none repeat scroll 0 0; padding: 15px; box-shadow: 0 0 4px 0 #dfdfdf; margin-bottom: 25px; }
.det-sec {float: left; position: relative; width: 100%; z-index: 8; }
.ser_img {float: left; width: 15%; }
.ser_img > img {float: left; width: 100%; }
.ser_sect {float: left; padding: 0 0 0 20px; width: 62%; }
.ser_nme{border-bottom: 1px solid #cccccc; color: #3b3b3b; float: left; font-family: "open_sanssemibold"; font-size: 16px; padding-bottom: 8px; position: relative; width: 100%; }
.ser_nme:after {background-color: #ec6627; bottom: -1px; content: ""; height: 2px; left: 0; margin-left: 0; position: absolute; text-align: center; width: 36px; }
.ser_img_phone {float: left; font-size: 14px; padding: 10px 0 8px; width: 100%; }
.ser_img_phone > img {padding-right: 10px; }
.ser-email {float: left; width: 100%; }
.details-btn{background: #ec6726 none repeat scroll 0 0; border: 1px solid #ec6726; border-radius: 0; color: #ffffff; display: inline-block; float: none; font-size: 14px; margin: 0 auto; padding: 8px 14px; text-transform: initial; }
.details-btn:hover,.details-btn:focus{padding: 8px 14px; background: #ec6726 none repeat scroll 0 0; color:#FFF; }
.client-logo {background: #f6f6f6 none repeat scroll 0 0; float: right; padding: 12px 0; text-align: center; width: 20%; }
.client-logo figure img {padding: 0 0 15px; width: 110px; }
.ser-email a{color: #000000; }
.ser-email a i {color: #b2b2b2; font-size: 18px; padding: 0 11px 0 4px; }
.ser_pho {float: left; padding-top: 6px; width: 100%; }
.service-details-left .add-img {padding: 10px 0 40px; text-align: center; }
.service-details-left .add-img img{width:100%;}

/*Service Provider result page css starts here*/




/*New Listing page option1 css starts here*/

.option1{background: #F6F6F6 !important; }
.option1 .lst_box_wrapp {background: #FFF none repeat scroll 0 0; padding: 0 15px 0 0; position: relative; cursor: pointer; border:none; margin-bottom: 25px; box-shadow: 0 0 4px 0 #dfdfdf; }
.option1 .overlap-img {display: none; }
.option1 .pro_fac {float: left; margin: 14px 0 12px; width: 60%; }
.option1 .breadcrumb {background-color: none !important;}
.option1 .price {background: #ec6726 none repeat scroll 0 0; bottom: 0; color: #ffffff; font-size: 13px; left: 0; padding: 3px 15px; position: absolute; right: auto; top: auto; z-index: 5; height: 27px; }
.option1 .prtlt_img span {z-index: 5; }
.option1 .prtlt_img span:first-child{right: 13px; top: 13px; }
.option1 .price::before {background: #ec6726 none repeat scroll 0 0; content: ""; height: 27px; position: absolute; right: -11px; top: 0; transform: skewX(30deg); width: 22px; z-index: 1; border-right: 4px solid #ffffff; }
.option1 .property-listing .pro_fac ul li span {background: #ec6726 none repeat scroll 0 0; border-radius: 100%; color: #ffffff; font-size: 12px; height: 20px; line-height: 20px; text-align: center; width: 20px; }
.option1 .client_wrapp {border: none;}
.option1 .pro_fac ul li span {background: #ebebeb none repeat scroll 0 0; border-radius: 100%; color: #5f5f5f; font-size: 12px; height: auto; line-height: normal; padding: 2px 6px; width: auto; }
.option1 .breadcrumb {background: none; }
.option1 .pro_nme {border-bottom: medium none; font-size: 16px; padding: 0 0 0px; text-overflow: ellipsis; white-space: nowrap; overflow:hidden; }
.option1 .pro_nme:after{display: none; }
.option1 .pro_fac > ul li:last-child {border-right: medium none; }
.option1 .pro_fac > ul li {border-right: 1px solid #b0b0b0; line-height: normal; margin: 2px 0; padding: 0 15px 0 15px; }
.option1 .pro_fac > ul li:first-child{padding-left: 0; }
.option1 .pro_fac > ul li:last-child{padding-left: 15px; }
.option1 .details {color: #737373; float: left; font-size: 13px; margin-bottom: 20px; margin-top: 10px; width: 100%; }
.option1 .client_wrapp {background: #ffffff none repeat scroll 0 0; float: left; margin: 20px 0 0; width: 40%; }
.option1 .client_spon {bottom: 5px; position: absolute; right: 15px; width: 90px; }
.option1 .prtinfo_wrapp {width: 61%; }
.option1 .prtlt_img {width: 36%; }
.option1 .lst_box_wrapp::before, .option1 .lst_box_wrapp::after {width: 100%; height:100%; z-index: 3; content:''; position: absolute; top:0; left:0; box-sizing: border-box; 
-webkit-transform: scale(0); -moz-transform:scale(0);-ms-transform:scale(0);-o-transform:scale(0);transform:scale(0);transition: 0.5s; }
.option1 .lst_box_wrapp::before {border-bottom: 2px solid #ec6726; border-left: 2px solid #ec6726; -webkit-transform-origin: 0 100%; }
.option1 .lst_box_wrapp::after {border-top: 2px solid #ec6726; border-right: 2px solid #ec6726 !important; -webkit-transform-origin: 100% 0%; }
.option1 .lst_box_wrapp:hover::after, .option1 .lst_box_wrapp:hover::before {-webkit-transform: scale(1); -moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1); }
.option1 .lst_box_wrapp:focus::after, .option1 .lst_box_wrapp:focus::before {-webkit-transform: scale(1); -moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1); }
.option1 .lst_box_wrapp.grid {margin: 0 0.65% 2%; padding: 10px; }
.option1 .grid .prtlt_img {float: left; width: 100%; }
.option1 .grid .prtinfo_wrapp {width: 100%; float: left; }
.option1 .client_wrapp{background:#F6F6F6;}
.option1 .cli_nme {color: #595959;}
.option1 .client_img {float: left; width: 27%; }
.option1 .client_sect {float: left; margin: 0; padding: 0 0 0 15px; width: 73% !important; }
.option1 .client_spon {bottom: 0 !important; float: left; position: relative; right: 0px; width: 100%; padding:7px 0 0 0 }
.option1 .client_spon img{width: 90px; }
.option1 .prtlt_img{position: relative; }
.option1 .prtlt_img:before {background: rgba(255,255,255,0.6) none repeat scroll 0 0; content: ""; left:10px; top:10px; bottom:10px; right:10px; transform: scale(0.7); position: absolute; z-index: 1; opacity: 0; transition: all 0.5s ease-in-out; }
.option1 .lst_box_wrapp:hover .prtlt_img:before {transform: scale(1); opacity: 1; visibility: visible; transition: all 0.5s ease-in-out; }
.option1 .lst_box_wrapp:hover .pro_nme {color: #333 !important; }
.option1 .favorite {right: 13px; top: 13px; }
.option1 .grid .pro_fac {width: 100%; }
.option1 .grid .client_wrapp {width: 100%; }
.option1 .grid .pro_fac > ul li {padding: 0 5px; }
.option1 .grid .client_spon {bottom: 0 !important; text-align: left; }
.fix_search md-tabs-wrapper {display: block; left: 252px; top: 11.5px; width: 203px; z-index: 99; }
.fix_search .buy_rent_box md-tab-item {background: #000000 none repeat scroll 0 0; color: #ffffff; font-size: 18px; text-transform: capitalize; width: 100px !important; }
.fix_search .search-bar {width: 48%; z-index: 999; }
.option1 .top_sect {margin-top: 5px; }
.option1 .breadcrumb li a {font-size: 14px;}
.fix-head #cd-main-nav ul{visibility: visible !important; }
.option1 .thre_box a {border: 1px solid #ccc; padding: 4px 8px 4px; cursor: pointer; font-size: 18px; color: #838383; width: 35px !important; display: inline-block; text-align: center; }
.option1 .thre_wrapp {bottom: -8px; }
.thre_box a.active_grid {border: 1px solid #f2ad8c; }
/*New Listing page option1 css ends here*/



.box-effect{position: relative; }
.box-effect::before, .box-effect::after {width: 100%; height:100%; z-index: 3; content:''; position: absolute; top:0; left:0; box-sizing: border-box; 
-webkit-transform: scale(0); -moz-transform:scale(0);-ms-transform:scale(0);-o-transform:scale(0);transform:scale(0);transition: 0.5s; }
.box-effect::before {border-bottom: 2px solid #ec6726; border-left: 2px solid #ec6726; 
-webkit-transform-origin: 0 100%;-moz-transform-origin: 0 100%; -ms-transform-origin: 0 100%;-o-transform-origin: 0 100%; }
.box-effect::after {border-top: 2px solid #ec6726; border-right: 2px solid #ec6726 !important; -webkit-transform-origin: 100% 0;-moz-transform-origin: 100% 0; -ms-transform-origin:100% 0;-o-transform-origin: 100% 0px; }
.box-effect:hover::after, .box-effect:hover::before {-webkit-transform: scale(1); -moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1); }
.box-effect:focus::after, .box-effect:focus::before {-webkit-transform: scale(1); -moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1);  }

/*Kishor Added css here 11-04-2017*/
.ui-slider-horizontal .ui-slider-handle:focus {
    outline: none !important;
}
.sel:focus {
    outline: none !important;
}
_::-moz-svg-foreign-content,:root ul.fea_list_top li.amount_price{
	font-weight: normal !important;
}

.Changepassword{
	padding: 60px 0px;
}
.Changepassword h2{
color: #000;
margin: 0px auto;
padding-bottom: 0px;
font-size: 26px;
font-family: 'open_sanssemibold';
float: none;
width: 60%;
}
.Changepassword form {
    float: none;
    width: 60%;
    margin: 30px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;

}
.Changepassword form .form-group .form-control {
    width: 100%;
    float: left;
    border-radius: 0;
    height: 43px;
    border: 2px solid #dfdfdf;
    box-shadow: 0 0;
    font-family: 'open_sansregular'; font-size: 16px;
    color: #000;
}
.Changepassword form .form-group label{font-family: 'open_sansregular'; font-size: 16px; font-weight: normal; float: left; width: 100%; padding: 0 0 8px 0px; color: #000;}
.Changepassword form .form-actions {
    text-align: center;
    padding-top: 6px;
}
.Changepassword form .form-group {
    width: 100%;
    float: none;
    margin-bottom: 12px;
    display: inline-block;
}
.Changepassword form .form-group.btn-class{
	margin-bottom: 0px;
}
.Changepassword form .form-actions .subchangebtn {
    border: 1px solid #EC6726;
    padding: 12px 25px;
    width: auto;
    float: none;
    font-size: 16px;
    background: #EC6726;
    color: #FFF;
    box-shadow: none;
    margin: 0 auto;
}
.Changepassword form .form-actions .subchangebtn:hover{
	background: #000;
	border: 1px solid #000;
}
.privcypolicy{
	padding: 60px 0px;
}
.privcypolicy h2{
color: #000;
margin: 0px 0 15px 0px;
padding-bottom: 20px;
font-size: 28px;
font-family: 'open_sanssemibold';
float: left;
width: 100%;
text-align: center;
}
 .privcypolicy p.main-titl {
    margin-bottom: 6px !important;
    font-size: 16px !important;
}
.privcypolicy p {
    float: left;
    font-size: 15px;
    line-height: 25px;
    margin: 0 0 36px;
    width: 100%;
}
.addstaff{
	float: right;
	margin: 0px 15px 10px 0;
}
.addstaff a {
    border: 1px solid #EC6726;
    padding: 8px 30px;
    width: auto;
    float: right;
    font-size: 16px;
    background: #EC6726;
    color: #FFF;
    box-shadow: none;
    margin: 0px;
}
.addstaff a:hover{
	background: #000;
	border: 1px solid #000;
}
.addstaffsect
{
	padding: 15px 0px;
}
#staffaddprofile .rtshow{
	float: right;
}
#staffaddprofile .ltshow{
	float: left;
}
.addstaffsect h2{
color: #000;
margin: 0px;
padding: 0px 0 10px 25px;
font-size: 26px;
font-family: 'open_sanssemibold';
float: left;
width:100%;

}
.addstaffsect form {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 10px;

}
.addstaffsect form .form-group .form-control {
    width: 100%;
    float: left;
    border-radius: 0;
    height: 43px;
    border: 2px solid #dfdfdf;
    box-shadow: 0 0;
    font-family: 'open_sansregular'; font-size: 16px;
    color: #000;
}
.addstaffsect form .form-group label{font-family: 'open_sansregular'; font-size: 16px; font-weight: normal; float: left; width: 100%; padding: 0 0 4px 0px; color: #000;}
.addstaffsect form .form-actions {
   text-align: center;
    padding-top: 6px;
}
.addstaffsect form .form-group {
    width: 50%;
    float: left;
    margin-bottom: 15px;
    display: block;
    padding: 0 15px;
}
.addstaffsect form .form-group.abotdisc{
	float: left;
	width: 100%;
	
}
.addstaffsect form .form-group.abotdisc textarea.form-control{
	min-height: 180px;
	height: 180px;
	overflow: auto;
	float: left;
	width: 100%;
}
.addstaffsect form .form-group.savebtngroup{
	margin-bottom: 0px;
	float: left;
	width:100%;
	text-align: center;
}
.addstaffsect form .savebtngroup .savbtn {
    border: 1px solid #EC6726;
    padding: 12px 25px;
    width: auto;
    float: none;
    font-size: 16px;
    background: #EC6726;
    color: #FFF;
    box-shadow: none;
    margin: 0 auto;
}
.addstaffsect form .form-actions .savbtn:hover{
	background: #000;
	border: 1px solid #000;
}
.addstaffsect .btn-file {
    position: relative;
    overflow: hidden;
}
.addstaffsect .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.addstaffsect form .form-group .btn.btn-default.btn-file {
    padding: 13px 4px;
    margin: 0;
    background: #EC6726;
    border: 1px solid #EC6726;
    border-right: none;
    color: #fff;
}
.addstaffsect #img-upload {
   width: 100%;
    margin: 15px 0 0 0;
   
}

.addstaffsect .form-control[readonly]{
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1;
}
/*Kishor Added css here 11-04-2017*/











