@media only screen and (max-width: 1600px) {

}

@media only screen and (max-width: 1199px) {
.web_info .container{width: 100%;padding: 0 30px;}
.mail_info li{position:relative;left:0px;}
.info_min_height{width:50%;}
.video_img{height:330px;}
.ifo_h{font-size:54px;}
.opacity_text h1{margin-top:15px;font-size:36px;}
.solu_opacity h1{font-size:29px;margin-top:14px;}
.solu_sec{font-size:36px;}
.img_head_sac{font-size:39px;}
.head_gallery h1{font-size:29px;}
.web_inst{padding:20px 0;}
.opacity_text h1 {margin-top: 15px;font-size: 29px;}
.ifo_h {font-size: 36px;}
.opacity_text{position:absolute;top:9px;}
.img_head_sac {font-size: 36px;}
.head_gallery{position:absolute;top:43px;}
.navbar_header{padding: 0px!important;position: relative;}
.navbar_header .container{width: 100%;padding:0px;}
.navbar_header .row{padding: 0;margin: 0;}
.mail_info{margin: 0px;}
.rightform .panel-body{ padding: 20px;}
.new-frm{padding: 30px 30px 0;}
.section-ttl h1{font-size: 50px;}
.section-ttl h1.solu_sec{font-size: 35px;}
.solution_info {padding: 15px 0 20px;}
.mob_app_img {height: 470px;}
.app_text_btn p{min-height: 185px;}
.link_col{margin-right:18px;}
.about-page, .services-page, .innerpages{margin-top:0px;}
.more-about {padding: 28px 20px 18px;}
.contact-us .address .icon-border{ margin: 0 50px 30px 0;}
.blog-section.style-two .container{margin: 0;width: 100%;}
.blog-section .image-text{ padding: 40px 10px;}
.blog-section .image-text h4{font-size: 18px;}
.blog-section .image-text .text{margin-top: 0px;}
.loginsignup .logininner{padding:60px 0; }
 }

 @media only screen and (max-width: 1024px){
 	.cols_fo .media {margin: 40px auto; width: 80%; }
 	.web_info_forms .panel{width: 80%;margin: 0 auto;}
 	.cols_fo.cols_fosecond{display: block; float: left;}
 	.cols_fo.cols_fofirst{display: none;}
 	.rightform ,.cols_fosecond{width: 100%;}
 	.new-frm {padding: 30px 100px 0; }
 	body .container{ width: 100%;margin: 0px;padding: 0px 15px; float: left;}
 	body .row{ width: 100%;margin: 0px;padding:0 0px; float: left;}
 	.web_info{padding: 20px 0 0;}
 	.app_text_btn p {min-height: 100px; }
 	.mob_app_img{height: 400px;}
 	.app_text_btn.btnsecond {top: 110px; }
 	.app_text_btn p {min-height: 0; }
 	.link_col {margin-bottom: 15px; margin-right: 50px; }
 	.mobile_apps_sec .col_m{width: 100%; float: left;}
 	.theme-container.container.pb-100{padding-bottom: 50px!important;}
 	.more-about {padding: 28px 10px 18px;}
 	.faq_main.innerpages .panel-group.collaps {padding: 0 20px; }

}
@media only screen and (max-width: 991px){
.section-ttl h1.solu_sec{font-size: 30px;}
.web_info {padding: 10px 0; }
.footer_col{width: 100%;}
.link_col {margin-bottom: 0; margin-right: 20px; }
.location_add .col_sm{width: 30px;}
.cli_md{ width: auto;}
.foot_sec_info{padding: 20px 0 20px;}
.col_ulli_head, .col_ulli_head_third, .col_ulli_head_sec{width: 50%;}
.web_info .container {padding: 0px; width: 100%; }
.cols_fo {margin-top: 0; }
.cols_fo .media{width: 100%;margin: 20px 0;}
.text_ifo > p{width: 100%;}
.video_sec_sc {width: 75%; }
.col_md_logo{float:left;width:100%;text-align:center;}
.video_sec{margin-top: -230px;}
.web_info_forms .panel{width: 90%;}
.logo_bar h1 {margin: 10px 0 0;font-size: 0px; }
.col_md_cont{float:left;width:100%;text-align:center;}
.mail_info{display:inline-block;margin-bottom:0px;text-align: center;}
.navbar_header{position:relative;padding:0px;}
.mail_info ul{display:inline-block;float: none; margin: 0 auto;}
.logo_bar a{display:inline-block;}
.navbar_header .container{float:left;width:100%;padding:0px;}
.solu_opacity h1{font-size:26px;}
.solu_sec{font-size:36px;}
.opacity_text h1{font-size:26px;margin-top:13px;}
.ifo_h{font-size:36px;}
.info_min_height{float:left;width:50%;}
.app_text_btn p{font-size:16px;}
.app_head h2{font-size:26px;}
.head_gallery h1{font-size:26px;}
.img_head_sac{font-size:36px;}
.pannel_padd{float:left;width:100%;padding:30px 0;}
.cols_fo{width:100%;}
.opacity_text {position: absolute;top: 13px;}
.btn_cols{float:left;width:50%;}
.cli_md p {font-size: 16px;margin-left: 21px;}
.link_col_sec{width:25%;float:left;}
#quote-carousel .carousel-control.left {left: 20%;}
#quote-carousel .carousel-control.right {right: 20%;}
#idservices.services-page .col-md-4.col-sm-4{width: 70%; margin:20px auto;display: inline-block;float: none;}
#idservices.services-page .theme-container.container.pb-100{text-align: center;}
.contact-us .address .icon-border {margin: 0 100px 30px 0; }
.inner-wrapper{ padding:20px 0;}
.contact-us .address .icon-border {margin: 40px 100px 30px 0; }
.offset-top-30 {padding: 0 15px;}
.address {float: left; margin: 10px auto; width: 100%; }
.contact-us .forms .row{padding: 0px;}
.contact-us .col-md-12, .col-sm-12{padding:0px;}
.contact-us .col-md-12.msg-grp {
    padding: 0 15px;
}
.contact-us .col-md-12.submitbtn {
    padding: 0 15px;
}
.blog-section .item-holder{margin:0 auto 40px;}
.blog-section .image-text .text{margin-top: 45px;}
.blog_main.innerpages .col-sm-6.col-md-4 .thumbnail{margin:20px 0;}

 }
@media only screen and (max-width: 891px) {
.head_gallery{position:absolute;top:46px;} 

}

@media only screen and (max-width:767px){
	.solu_sec {font-size: 31px !important;}
	.col-md-5.pannel_padd.rightform .panel-body .form-group .col-sm-7{width: 50%;float: left;}
	.col-md-5.pannel_padd.rightform .panel-body .form-group .control-label.col-sm-5 {width: 50%;float: left;}
	.pannel_head h2{font-size: 20px;}
	.media-heading{font-size: 20px;}
	.section-ttl .innerttl h1{font-size: 25px;}
	.section-ttl h1{font-size: 40px;}
	.video_sec h1{font-size: 25px;}
	.video_img {height: 270px; }
	.solution_section.section-pad .section-ttl .innerttl h1{font-size: 25px;}
	.info_min_height{width: 100%;}
	.log_wi_p p{min-height:auto;max-height: auto;}
	#quote-carousel .carousel-control.left {left: 10%;}
	#quote-carousel .carousel-control.right {right: 10%;}
	.log_wi_head h4{min-height: auto;}
	.cols_fo.cols_fosecond{padding: 0px;} 
	.media-object {display: block; margin: 0 auto; }
	.media-body{text-align: center;}
	.web_info_forms .media-left{padding:0 0 10px 0;width: 100%;float: left;}
	.web_info_forms .media-body p{text-align: center;}
	.img_info_view{min-height: auto;}
	.log_wi_p p {margin-bottom: 0;}
	.title-wrap p{margin:0;}
	.theme-container.container .col-md-12{padding: 0;}
	#idservices.services-page .col-md-4.col-sm-4{width: 100%; margin:20px auto;display: inline-block;float: none;}
	#idservices.services-page .theme-container.container.pb-100{text-align: center;}
	.faq_main.innerpages .panel-group.collaps {padding: 0 15px; }
	.row1 p, .contentbase p{font-size: 14px; line-height: 20px;}
.inner-wrapper.contact-us .col-sm-4 {float: left;width: 33%;}
.inner-wrapper.contact-us .col-sm-4 p {float: left;width: 100%;}
.contact-us .address .icon-border {margin: 0 0% 22px 0;float: left;width: 100px;}
.inner-wrapper.contact-us .forms {
    float: left;
    width: 100%;
}
.inner-wrapper.contact-us .inner-wrapper h2{
    float: left;
    width: 100%;
}
.inner-wrapper.contact-us .col-sm-12.col-md-6{
    float: left;
    width: 100%;
}   

}

@media only screen and (max-width: 680px){
	.web_inst{padding:20px 0;}
	.web_info{padding:0px 0;}
	.solu_sec{font-size:25px !important;}
	.solu_opacity h1 {font-size: 20px;}
	.head_gallery h1 {font-size: 23px;}
	.img_head_sac {font-size: 32px;}
	.navbar_sec li{padding: 13px 40px 0px;}
	.video_sec {margin-top: -160px; }
	.mail_info li{margin-left:4px;}
	.cols_main_div{margin-left:0px;}
	.video_sec {margin-top: -200px; }
	.section-ttl .img_head_sac {font-size: 30px;}
	.col_ulli_head, .col_ulli_head_third, .col_ulli_head_sec{width: 100%;}

}
@media only screen and (max-width: 600px){
.mail_info ul{width: 100%;padding:0 10px 10px;}
.mail_info li {margin:0px;float: left;width: 50%;}
#regBtn{ float: right!important;}
#loginBtn{ float: left!important;}
.navbar_sec li{padding: 13px 30px 0px;}
.new-frm {padding: 30px 20px 0; }
.solution_section.section-pad .section-ttl .innerttl h1{font-size: 20px;}
.section-ttl h1.solu_sec {font-size: 22px!important;}
.section-ttl .innerttl h1, .video_sec h1 {font-size: 20px;}
.media-heading{font-size: 18px;}
.log_wi_head h4{font-size: 16px;}
.about_btn{padding: 20px 0;}
.video_sec{margin-top: -180px;}
.video_img {height: 250px; }
 
 }
@media only screen and (max-width: 560px){
	.navbar_sec li {padding: 13px 10px 0;}
	.web_info_forms .panel {width: 100%; }
	.video_img {height: 220px; }
	.video_sec {margin-bottom: 0; margin-top: -180px; }
	#quote-carousel .carousel-control.left {left: 0%;}
	#quote-carousel .carousel-control.right {right: 0%;}
	.app_text_btn{top:100px;}
	.img_info_view{padding: 18px 0;}
	.location_add .col_sm {width: 27px; }
	.col-sm-12.sm_box{padding: 0px;}
	#quote-carousel{padding: 0 10 10px;}
	.carousel-inner.text-center .item .row{padding: 0px;}
	.img_slider_sec .row{padding: 0;}
	.item-holder .text > p {margin-bottom: 5px; }
	.image-box img {display: block; height: 200px; margin: 0 auto 20px; }
	.blog-section .image-box{float: left;width: 100%;display: block;}
	.blog-section .image-text{float: left;width: 100%;display: block; padding: 20px;text-align: center;}
	.blog-section .image-text .text {margin-top: 30px; }
	.blog-section .image-text h4::before{width: 20%;left: 40%;}
	.privacy_main.innerpages .contentbase span{padding-left: 20px;}
	.loginform-inner, .signupform-inner{padding: 0 10px;}
	.signupformmain .loginform, .loginformmain .loginform{width: 100%!important;display: block;}
	#frm-first .form-group, #frm-second .form-group{width: 100%;margin:10px 0;}
	.loginform #signupform{padding:0 15px}
	#frm-second .form-group.zip-county .col-md-6:nth-child(2), #frm-second .form-group.zip-county .col-md-6:nth-child(1){width: 100%;float: left;}
	#frm-second .form-group.zip-county .col-md-6:nth-child(1){margin-bottom: 10px;} 
.new-frm{padding: 25px 0px;}
}
@media only screen and (max-width: 490px){
.inner-wrapper.contact-us .col-sm-4 {float: left;width: 100%;}
.inner-wrapper.contact-us .col-sm-4 p {float: left;width: 100%;}
.contact-us .address .icon-border {margin: 0 0% 22px 0;float: left;width: 120px;}
}
@media only screen and (max-width: 460px){
	.navbar_sec li {padding: 13px 10px 0;}
	.section-ttl h1.img_head_sac{font-size: 25px;}
	.img_gallery_head{padding: 20px 0;}
	.app_text_btn{top:150px;}
	.mob_app_img {height: 470px; }
	.blog-section .image-text h4 {font-size: 16px; line-height: normal; }

 }
@media only screen and (max-width: 436px){
	.mail_info .fullwrapp{margin: 0; width: 100%; padding:0 0 10px;}
	.mail_info ul{padding:0 0 10px 0; }
}
@media only screen and (max-width: 420px){
.pannel_head h2{font-size: 16px;}
.pannel_head{padding:15px 10px;}
.pannel_padd{padding: 20px 0;}
body .row{padding: 0px 0px;}
.app_text_btn{padding: 0px;}
.col-md-5.pannel_padd.rightform .panel-body{padding: 10px!important;}
.video_img {height: 170px; }
.video_sec{margin-top: -122px;}
#quote-carousel .carousel-indicators li.active{display: block;margin:0 auto;}
#quote-carousel .carousel-indicators li{display: none;}
.offset-top-30 {padding: 0 10px; }
.faq_main.innerpages .panel-group.collaps {padding: 0 10px; }
.loginsignup .or {float: left; margin: 20px 0; width: 100%; }
.loginsignup .btn.btn-primary.text-uppercase {width: 60%; }
.loginsignup .btn.btn-success.text-uppercase {width: 60%; }
.loginsignup .logininner {padding: 30px 0; }

}
@media only screen and (max-width: 408px){
	.navbar_sec li {padding: 13px 14px 0px 14px;}
}
@media only screen and (max-width: 402px){
	.navbar_sec li {padding: 13px 6px 0px;}
	.contrwrapp .btn.btn-block.btn-primary.text-uppercase{width: 100%;}
}
@media only screen and (max-width: 360px){
	.cli_md{width: 88%;}
}
@media only screen and (max-width: 328px){
	.navbar_sec li {padding: 13px 5px 0;}
	.section-pad{padding: 30px 0 ;}
}