*{margin:0px;padding:0px;}
body {font-family: "montserratlight", sans-serif;font-size: 14px; color: #fff;}
a,button{outline:none !important;}
body p{color:#6f6f6f;}


.col_padding{padding:0!important;margin: 0!important;}
/* navbar section start here */
.navbar{margin-bottom:0px;}
.navbar_header{float:left;width:100%;padding:20px 0;position:absolute;z-index:9;}
.logo_bar{float:left;width:100%;}
.col_md_cont, .col_md_logo{padding: 0!important}
.logo_bar h1{margin: 10px 0 5px 20px;}
.logo_info{float:left;width:100%;background-color:#FFFFFF;}
.mail_info{float:right;width:auto;}
.main_info_cont_f{float:left;width:100%;text-align:center;margin-bottom: 7px;}
.main_info_cont_s{float:left;width:100%;text-align:center;margin-bottom: 16px;}
.main_info_cont_t{float:right;width:100%;text-align:center;}
.mail_info li{float:left;list-style:none;padding:5px;font-size:16px;margin-left:10px;color:black;text-decoration:none;position:relative;}
.mail_info li a{color:#848282;text-decoration:none;}
.mail_info li a:hover{color:#2199ff;}
.btn_btn_hidden{float:left;width:50%;}
.btn_btn_hidden{float:left;width:50%;}
.font_l{color:#0086C3;}
.btn_nav_sec{border-radius:20px;color:white;width:120px;height:36px;border:1px solid #0081BB;margin-top:-6px;}
.btn_nav{background-color: white; border: 1px solid #0081bb; border-radius: 20px; color: #0081bb; height: 30px; line-height: 15px; width: 100px;}
.btn_nav:hover{background-color:#0081BB;color:white;}
.navbar_section{float:left;width:100%;background-color:#01415D;}
.navbar_sec li{list-style:none;margin:0px;list-style: none;margin: 0px;padding: 13px 33px 0px;display: inline-block;}
.navbar_sec ul{text-align:center;}
.navbar_sec li a{color:white;text-decoration:none;}
.navbar{min-height:0px;}
.navbar_sec li a:hover{color:#0086C3;}
.col_md_cont_sec{display: none; position: absolute;}	
/* navbar section end here */

/* img slider section start here */
.img_slider{float:left;width:100%;position:absolute;display: none;}
.carousel-control.left{background:none;}
.carousel-control:hover{background:none;}
.carousel-control.right{background:none;}
.carousel-indicators{margin-left:-75%;z-index:8;}
.img_resp{width:100%;background-size:cover;}
/* img slider section end here */

/* wrap img sectio start here */
.im_wrap{float:left;width:100%;position:relative;}
.img_resp{width:100%;}
/* wrap img sectio start here */

/* web form and information section start here */
.form_section{float:left;width:100%;}
.cols_fo.cols_fosecond{display: none;}
.web_info{float:left;width:100%;padding:50px 0;background-color:#fdfdfd;    padding-top: 20px;    padding-bottom: 0;}
.web_form_info{float:left;width:100%;}
.web_info_forms{float: left;width: 100%;}
.dropdown{width:100%;}
.btn_sec{width: 100%;background: none;border: 1px solid #c0bfbf;text-align:left;}
.btn_sec .caret{text-align:left;color:#0192CB;float:right;margin-top:-11px;}
.panel-default{box-shadow: 0px 0px 30px #d2d2d2; margin-bottom: 0;}
.dropdown-menu{width:100%;}
.panel-body{min-height:20px;}
.panel-heading{padding:4px 15px;}
.pannel_head{padding:20px 0 15px;text-align:center;background-color:#0192CB !important;color:white !important;border-top-left-radius: 10px;border-top-right-radius: 10px;}
.pannel_head h2{font-size:25px;font-family:"montserratsemibold";letter-spacing: 1px;}
.media_img{width:80px;}
.media{overflow: hidden;margin-bottom: 40px;float: left;}
.media-body {overflow: hidden;margin-bottom: 40px;}
.form-group {margin-bottom: 15px;text-align: center;}
.upgrade_box{border-radius:3px !important;appearance: none;-moz-appearance: none;-webkit-appearance: none;background: #fff url(../img/drop_arrow.png) no-repeat;background-position-x: 0%;background-position-y: 0%;background-size: auto auto;background-size: 10px auto;background-position: 98% center;}
.btn_cols .btn_nav{border-radius:20px;color:#0081BB;width:120px;height:36px;border:1px solid #0081BB;margin-top:10px;background-color:white;}
.btn_cols .btn_nav:hover{background-color:#0081BB;color:white;}
/* web form and information section end here */

/* about ifo section start here */

.web_inst{float:left;width:100%;background-color:#fdfdfd;    padding-top: 20px;}
.about_info{float:left;width:100%;position:relative;}
.all_info{float:left;width:100%;}
.info_header{float:left;width:100%;}
/* .ifo_h{font-weight:bold;text-align:center;font-size:62px;opacity:0.1;} */
.opacity_text{float: left;width: 100%;position: absolute;top: 15px;text-align:center;}
.opacity_text h1{font-weight:bold;text-align:center;color:#0094CD;}
.text_ifo{color:#6f6f6f;float: left; width: 100%; text-align: center; padding-top: 20px;}
.text_ifo > p {margin: 0 auto; width: 90%; }
.about_btn{float:left;width:100%;text-align:center;padding:50px 0 ;}
.about_btn_info{border-radius:20px;color:#0081BB;width:120px;height:36px;border:1px solid #0081BB;background:none;}
.about_btn_info:hover{background-color:#0081BB;color:white;}
    /* about ifo section end here */

    /* img and video section start here */
    .video_sec_sc{width:700px;}

    .img_back_video{float:left;width:100%;position:relative;}
    .img_video_section{float:left;width:100%;}
    .img_section{float:left;width:100%;}
    .video_img{width:100%;height: 350px;}
    .video_sec{float: left; margin-top: -270px; position: relative; text-align: center; width: 100%;margin-bottom: 30px;}
    .video{width:100%;height:auto;}
    .video_sec h1{color:white;font-family:"montserratsemibold";font-size: 30px;letter-spacing: 1px;margin: 0 0 20px;}
    /* img and video section end here */

    /* solution section start here */

    .solution_section{float:left;width:100%;}
    .info_solution{float:left;width:100%;position:relative;}
    .section-ttl h1.solu_sec{font-weight:bold;text-align:center;font-size:40px;color: #f3f3f3;}
    .solution_section.section-pad .section-ttl .innerttl h1{font-size:30px;}
    .solu_opacity h1{text-align:center;font-weight:bold;color:#0094CD;font-size:31px;}
    .solu_opacity{position:absolute;text-align:center;top:14px;display:inline-block;width:100%;}
    .ifo_slu_pass p{text-align:center;    text-align: center;color: #6a6a6a;letter-spacing: 1px;}
    .ifo_slu_pass{float:left;width:100%;    margin-top: 15px;}
    .btn_logo_img{border-radius:20px;color:#0081BB;width:120px;height:36px;border:1px solid #0081BB;background:none;}
    .btn_logo_img:hover{background-color:#0081BB;color:white;}
    .logo_with_info{float:left;width:100%;text-align:center;}
    .logo_with_info .main_resp{display:inline-block;}
    .solution_info{float:left;width:100%;padding:50px 0;padding-top: 15px;    padding-bottom: 0px;}
    .log_wi_head{float:left;width:100%;}
    .log_wi_p{float:left;width:100%;padding:7px 0;}
    .log_wi_btn{float:left;width:100%;padding:7px 0;}
    .img_info_view{float:left;width:100%;text-align:center;padding: 18px 30px;min-height:345px;}
    .ifo_lastbtn{float:left;width:100%;text-align:center;}
    .ifo_btn_l{border-radius:20px;color:white;width:120px;height:36px;border:1px solid #0081BB;background-color:#0094CD;}
    .ifo_btn_l:hover{color:white;background-color:#009CE3;}
    /* solution section end here */
    select.form-control * {
    padding: 3px 3px !important;
    margin: 2px 0px 2px 0px;
    color: #000;
    line-height: 16px;
    min-height: auto;
    float: left;
    white-space: normal;
    width: 90%;
    word-break: break-word;
    text-transform: none;
    font-size: 12px;
}
    /* mobile app info section start here */
    .mobile_app{float:left;width:100%;position:relative;}
    .mob_app_img{width:100%;background-size:cover;}
    .img_re{float:left;width:100%;}
    .col_m{padding:0px;}
    .mobile_apps_sec{float:left;width:100%;}
    .mobile_app_head{float:left;width:100%;position:absolute;padding:20px 0;}
    .app_head{float:left;width:100%;text-align: center;}
    .app_head h2{font-weight:bold;text-align:center;color:white;font-family: "montserratsemibold";}
    .app_text_btn p{color: #fff; text-align:center;font-size:17px;margin-bottom: 30px; min-height: 160px;}
    .btn_app_re{border-radius:20px;color:#0081BB;width:120px;height:36px;border:1px solid #0081BB;margin-top:-6px;background-color:rgb(255,0,255);}
    .app_text_btn .btn{text-align:center;margin-bottom:50px 0;}
    .app_text_btn{float: left; width: 100%; text-align: center; color: white; font-size: 15px; position: absolute; top: 140px; padding: 0 20px; }
    .btn_lat{padding:10px 0;}
    .btn-outline {background-color: transparent; color: inherit; transition: all .5s; }
    .btn.btn-outline {color: white; border: 1px solid white; border-radius:20px; height:36px; width:120px; }
    .btn.btn-outline:hover{background-color:white;color:#0094CD;}
/* mobile app info section end here */

/* img gallery about webside section start here */
.info_img_gallery{float:left;width:100%;background-color:#F0FBFF;}
.img_gallery_head{float:left;width:100%;padding:35px 0;}
.img_head_f{float:left;width:100%;}
.section-ttl .img_head_sac{font-size: 40px}
.head_gallery h1{font-weight:bold;text-align:center;font-size:31px;color:#0094CD;}
.head_gallery{float:left;width:100%;position:absolute;top:48px;}
.img_gallery_head{float:left;width:100%;position:relative;}


/* img gallery about webside section start here */

/* foot slider start here */
.img_slider_sec{float:left;width:100%;background-color:#F0FBFF;border-bottom:2px solid #DDDCDC;}
/* Carousel */

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
    float: left;
    width: 100%;
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
    z-index:9999;
}
#quote-carousel .carousel-control.left {
    left: 20%;
    color:#0094CD;
}
#quote-carousel .carousel-control.right {
    right: 20%;
    color:#0094CD;
}
#quote-carousel .carousel-control {
    bottom: auto;
    font-size: 22px;
    margin: 0;
    opacity: 1;
    position: absolute;
    top: 75px;
    width: auto;
}
#quote-carousel .carousel-indicators {
	float:left;
	width:100%;
	text-align:center;
    min-height: 170px;
    position: relative;
}
.img_slider_sec .carousel-indicators {
    width: 100%;
    left: 0px;
    margin: 0px;
    bottom: auto;
    top: 0px;
}
#quote-carousel .carousel-indicators li {
    width: 80px;
    height: 80px;
    margin: 5px;
    cursor: pointer;
    border: 4px solid white;
    border-radius: 50px;
    opacity: 1;
    overflow: hidden;
    transition: all 0.4s;
    vertical-align: middle;
    box-shadow: 0 0 30px #d6d6d6;
}
#quote-carousel .carousel-indicators li img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}
#quote-carousel .carousel-indicators .active {
    background: #333333;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border-color: white;
    opacity: 1;
    overflow: hidden;
}
#quote-carousel .carousel-inner {
    float: left;
    margin: 30px 0;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    float: left;
    margin-right: 10px;
}
.text-center.carousel-indicators{position:absolute;text-align:center;}
.sm_box h4{color:#0094CD;}
.img_star{float:left;width:100%;}
.img_star img{text-align:center;margin:0 auto;}
/* foot slider end here */

/* footer section start here  */
.footer_section{float:left;width:100%;background-color:#2C3F46;}
.foot_sec_info{float:left;width:100%;padding:50px 0 20px;text-align: left;}
.media_sec{margin-top:0px;padding:0px;}
.location_add{float:left;width:100%;padding:5px 0;color:white;}
.media_sec{color:white;font-size:15px;}
.media_style a{color:white;text-decoration:none;}
.cli_md{padding:0px;float: left;width: 88%;}
.font_a{font-size:19px !important;}
.cli_md p{font-size:16px;}
.cli_md a{text-decoration:none;color:white;}
.cols_main_div{float:left;width:100%;padding:0 0 15px;}
.cols_main_div_sec{float:left;width:100%;}
.col_ulli_head{float:left;width:53%;}
.col_ulli_head_sec{float:left;width:171px;}
.col_ulli_head_third{float:left;width:148px;}
.col_ulli_head h4{color:white;}
.col_ulli_head_sec h4{color:white;}
.col_ulli_head_third h4{color:white;}
.location_add{float:left;width:100%;font-size: 16px;}
.location_add .col_sm {float: left; width: 12%; }
.location_add_sec ul{float: left;margin: 0;width: 100%;}
.location_add_sec li{position: relative;list-style:none;color:#0094CD;font-size:16px;float: left;width: 100%;margin: 5px 0;}
.location_add_sec li a{text-decoration:none;color:white;padding-left: 20px; outline: none;}
.col_ulli_head{border-bottom:1px solid white;}
.col_ulli_head_sec{border-bottom:1px solid white;}
.col_ulli_head_third{border-bottom:1px solid white;}
.arro_w{font-size:30px;float: left;line-height: 20px;position: absolute; transition: all 0.4s ease 0s; left: 0;}
.location_add_sec{float:left;width:100%;padding:12px 0px;}
.location_add_sec_link{float:left;width:100%;padding:8px 0px;}
.location_add_sec_link li{list-style:none;text-align:center;margin-top:18px;}
.location_add_sec li a:hover{color:#0098D0;}
.link_col{float: left;margin-right: 20px;margin-top:10px;}
/* footer section end here  */

/* final footer section start here */
.final_footer{float:left;width:100%;padding:1   0px 0;background-color:#28586C;}
.footer_info_text{float:left;width:100%;text-align:center;}
.footer_info_text p{color:white;font-size:14px;margin:10px 0;}
.cli_md p:hover {color: #0094CD;}
.col-md-10.cli_md:hover a {color: #0094CD;}
/* final footer section start here */

/*header*/
.mail_info>ul{
    float: right;
    margin: 15px 20px 0 0;
    width:  auto;
    line-height: 28px;	
}
/*login*/
.loginsignup {
    float: left;
    width: 100%;
}
.logininner{
    background-image: url(../../images/logbg.jpg);
    background-size: cover;
    padding-top: 180px;
    padding-bottom: 60px;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    width: 100%;
}
.signupform-inner{
    float: left;
    width: 100%;
}
.signupformmain{
    float: left;
    width: 100%;
}
 .loginform{
    display: table;
    margin: 0 auto;
    padding-bottom: 1px;
    width: 500px;
}
#loginform {
    float: left;
    width: 100%;
    background-color: #fff;
    padding: 30px 20px;
}
.loginform #signupform{
    float: left;
    width: 100%;
    background-color: #fff;
   padding: 30px 5px 10px;
   position: relative;
}
#signupform #frm-first, #signupform #frm-second{
    float: left;
    width: 100%;
    position: relative;
}
#frm-second .intl-tel-input.allow-dropdown .selected-flag{
	    height: 34px;
}

#frm-first .form-group, #frm-second .form-group{
    float: left;
    margin: 0 2% 18px;
    position: relative;
    width: 46%;
    height: auto;
    display: inline-block;
    z-index: 1;
}
#frm-first .form-group.contrwrapp, #frm-second .form-group.contrwrapp {
    float: left;
    margin: 0;
    width: 100%;
    height: auto;
}
.loginformmain{
    float: left;width: 100%;
}
.loginformmain .loginform{
    width: 500px!important;
}

.signupformmain .loginform {
    width: 500px!important;
}

#resetform .form-group{float: left; width: 100%; margin: 0px 0px 15px 0px;}
.loginformmain select{
   padding-left: 40px;
}

.form-group{
	position: relative;
    margin-bottom: 25px;
    text-align: left;
}
.new-frm .form-group input{
    padding-left: 40px;
    background-color: #f4f4f4;
    outline: none !important;
    border: 1px solid #d8d8d8;
    box-shadow: none !important;	
}

.new-frm .form-group1 input{
    background-color: #f4f4f4;
    outline: none !important;
    border: 1px solid #d8d8d8;
    box-shadow: none !important;    
}

.form-group input:focus{
   border: 1px solid #d8d8d8;
}
.loginform-inner .form-group img{
    position: absolute;
    left: 15px;
    width: 16px;
    top: 9px;
    z-index: 1;
}
.loginform-inner{
float: left;
width: 100%;
position: relative;
}
.form-group i{
    position: absolute;
    top: 37px;
    right: 10px;
    color: #2896C3; 
}
.contrwrapp .btn.btn-block.btn-primary.text-uppercase {
    margin: 0 auto 20px;
    width: 300px;
}
.titlestrip {
    background-color: #01415d;
    color: #fff;
    float: left;
    width: 100%;
}
.titlestrip h3{
    margin: 15px 0;
    font-family: "montserratregular";
}
.loginsignup .btn-primary {
    background-color: #0090ca;
    border-color: #0090ca;
}
.loginsignup input.btn-primary {
    background-color: #0090ca;
    border-color: #0090ca;
    padding-left: 22px !important;
}
.proc_btn {
    display: inline-block;
    width: 100%;
    margin: 15px 0;
}
.new-frm .proc_btn input {
    background-color: #0090ca;
    border-color: #0090ca;
    box-shadow: 0px 5px 18px rgba(0,0,0,0.2) !important;
	-moz-box-shadow: 0px 5px 18px rgba(0,0,0,0.2) !important;
	-webkit-box-shadow: 0px 5px 18px rgba(0,0,0,0.2) !important;
    padding: 7px 10px;
    border-radius: 8px;
	outline:none !important;
}
.new-frm .proc_btn input:hover{
    background-color: #3ecb57;
    border-color: #56cc46;
}
.loginsignup .btn-primary:hover{
    background-color: #204d74;
    border-color: #122b40;	
}
.loginsignup .btn-success {
    background-color: #00ca64;
    border-color: #00ca64;
}
.loginsignup .btn-success:hover{
	background-color: #449d44;
    border-color: #398439;
}
.loginsignup .btn{
	color: #fff;
    padding: 8px 22px;
    font-size: 13px;
    box-shadow: 0px 5px 20px #a9a9a9;
    min-width: 42%;
}
@media (max-width:767px){
	.loginsignup .btn{
       min-width: 100%%;
   }
}
.or{
	color:#0090ca;
    font-size: 12px;	
    margin: 0 15px;
}
.forgot a{
	font-size: 12px;
    color: #575757;	
}
/*signup*/
.loginsignup .signupform-inner .form-group input {
    padding-left: 12px;
}
.form-group label{
    color: #505050;
    font-size: 12px;	
    margin-bottom: 0;
}
.signupform-inner .form-group img {
    width: 17px;
    margin-right: 7px;
    margin-bottom: 7px;
    margin-top: 0; float: left;
}
select.form-control{
	box-shadow:none;
    background-color: #f4f4f4;
    font-size: 13px;
    color:#a2a2a2;
    text-transform:uppercase;
}
select.form-control:focus{
	box-shadow:none;
}
.form-horizontal .form-group.zip-county{
	margin-left: -30px;
    margin-right: -30px;	
}
/*success modal*/
.success-modal .modal-footer{
    text-align: center;
    border-top: none;
    padding-top: 0;
    padding-bottom: 30px;
}
.successtxt{
	color:#0093c5;
}
.success-modal .modal-body .close{
    position: absolute;
    top: 5px;
    right: 10px;	
}
.successmsg{
    color: #545454;
    margin-top: 20px;	
}
@media (min-width: 768px){
	.success-modal .modal-dialog {
		margin-top: 5%;
	}
}
/*Reset password*/
.mt-20{
	margin-top:20px;
}
.success-modal .modal-body{
   padding-top: 25px;
}
.select-nemt .btn.btn-file{
    position: absolute;
    right: 0;
    top: 30px;
    box-shadow: none;
    border: none;
    background-color: transparent;	
    padding: 7px 10px;
    min-width: 1px;
}
.select-nemt .btn.btn-file i{
	font-size: 22px;
    color: #0090ca;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(../../img/registration-icons/select-arrow.png) no-repeat right rgb(244, 244, 244) !important;
    -webkit-appearance: none;
    background-position: 96% 12px !important;
    background-size: 17px !important;
}
/*home page css*/
.rightform .panel-body{
    padding: 35px;	
}
.web_info_forms .panel{
    border: none;	
    border-radius: 10px;
}
.btnrght{
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #0192cb;	
}
.pdlr-0{
	padding-left:0;
	padding-right:0;
}
.top-form {
    background-color: #f5f3f4;
    float: left;
    width: 100%;
    border: 2px solid #d7d7d7;
    border-radius: 6px;
    padding: 15px;
	margin-bottom: 30px;
}
.top-form .form-group .col-sm-6 {
    padding: 0; margin-top: 7px;
}
.top-form .form-group .col-sm-6 .input-group .form-control{height: auto; padding: 4px 0 0 0px;}
.form-group.pickaddress .col-sm-7 {
    padding: 0; margin-top: 7px;
}
.form-group.pickaddress .col-sm-7 .form-control{height: auto; padding: 4px 0 0 0px;}
.req-red {
    float: none;
    width: auto;
    text-align: inherit;
    display: inline-block;
    color: #ff0000;
    font-size: 14px;
    vertical-align: super;
}
.top-form input{
    background-color: transparent;
    border: none;
    box-shadow: none;	
}
.top-form input:focus{
	box-shadow:none;
}
.top-form .ui-datepicker-trigger{
    background-color: transparent;
    border: none;
    color: #0192cb;
    float: right;
    position: relative;
    margin-top: 8px;
    font-size: 12px;
    font-weight: bold;
}
.top-form .ui-datepicker-trigger:after{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f0da";
    margin-left: 10px;	
}
.top-form .hasDatepicker{
    width: 100%;
    padding: 0;
    font-size: 15px;
    padding-left: 0px;
}
.top-form .form-group{
	width:100%;
	float:left;
    text-align: left;
    border-bottom: 1px solid #e3e1e2;
    padding-bottom: 12px; margin-bottom: 0px;
}
.top-form .form-group:last-child{
	border-bottom:none;
    margin-bottom: 0;
}
.top-form .control-label img{
    width: 16px;
    margin-right: 10px;	
}
.control-label {
    color: #4e4e4e;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 10px;	
}
.ui-timepicker-standard .ui-state-hover {
    background-color: #01415d !important;
    color: #ffffff !important;
}
.input-group .timepicker{
   color: #0192cb;
   padding-left: 0;padding-right: 0;
}
.timepicker::-webkit-input-placeholder { /* Chrome/Opera/Safari */
   color: #0192cb;
}
.timepicker::-moz-placeholder { /* Firefox 19+ */
   color: #0192cb;
}
.timepicker:-ms-input-placeholder { /* IE 10+ */
   color: #0192cb;
}
.timepicker:-moz-placeholder { /* Firefox 18- */
   color: #0192cb;
}
.ui-timepicker-standard {
    z-index: 9 !important;
}
.top-form select{
	border:none;
    padding-left: 0;
    padding-right: 0;
}
.top-form input:focus{
	border:none !important;
}
.top-form .input-group {
    width: 100%;
}
.pickaddress input[type="text"]{
    border-bottom: 1px solid #e3e1e2;
    padding-left: 0;
    padding-right: 0;
}
.pickaddress input[type="text"]:focus{
	border-left:0;
	border-right:0;
	border-top:0;
    border-bottom: 1px solid #e3e1e2 !important;
}
.new-frm{
    float: left;
    width: 100%;   
    padding-top: 30px;	
}
.new-frm .form-group{
	text-align:left;
    margin-bottom: 20px;
}
.new-frm select{
    color: #505050;
    font-weight: 700;	
}
.new-frm .text-uppercase > img {
    margin-right: 8px;
    margin-top: -6px;
    max-width: 16px;
}
.new-frm .form-group label {
    margin-bottom: 5px;
}
}
.ui-menu-item a{
	text-align:left;
    font-size: 13px;
}
.web_info_forms .media-body a{
	color: #0090ca;
     font-size: 16px;
}
.web_info_forms .media-body p{
	color: #6f6f6f;
    line-height: 22px;
    text-align: justify;
    max-height: 110px;
    overflow: hidden;
}
.web_info_forms .media-body h3{
    color: #656565;	
    font-family: 'montserratsemibold';
    letter-spacing: 1px;
}
.web_info_forms .media-left{
	padding-right:15px;
}
.cols_fo{
   margin-top: 40px;
}
/**/
.section-pad{
    padding: 50px 0;	
}
.section-ttl h1{
    font-family: "montserratsemibold";
    letter-spacing: 1px;
    font-size: 60px;
    text-align: center;
    color: #f3f3f3;
    margin: 0px;
}
.section-ttl .innerttl h1{
    text-align: center;
    font-size: 30px;
    color: #0094CD;
    margin-top: 7px;
}
.section-ttl{
	position:relative;
}
.innerttl{
    position: absolute;
    top: 5px;
    width: 100%;	
}
.log_wi_head h4{
    font-weight: 700;
    color: #656565;
    font-family: 'montserratregular';
    min-height: 40px;
    margin-bottom: 0;
    letter-spacing: 1px;	
}
.log_wi_p p{
	color: #6f6f6f;
    line-height: 22px;
    max-height: 105px;
    min-height: 105px;
    overflow: hidden;	
}

#idservices .about-us.pt-10 > p{text-align: center;}
/*about us page css start from here */
.about-page, .services-page{ float: left;width:100%;display: block;margin-top: 140px;position: relative;}
.theme-breadcrumb.pad-50 {
    padding-bottom: 0px;
    padding-top: 20px;
}
.pad-50{
    padding:50px 0; 
}
.abtwrapp{
    float: left;
    width: 100%;
    padding:50px 0;   
}
.theme-container {
    padding-left: 0;
    padding-right: 0;
}
.pull-left {
    float: left;
}
.title-wrap {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 100%;
}
.theme-breadcrumb .section-title {
    letter-spacing: 3px;
    color: #0A8CC1;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'montserratbold';
}
.about-us {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    float: left;
}
.about-us p{
    width: 100%;
    float: left;
    text-align: justify;
    font-family: "montserratregular";
}
.title-wrap p{
    text-align: center;
}
.section-title, .bg-text {
    font-weight: 900;
}
.section-title {
    font-size: 28px;
}
.about-wrap::before {
    bottom: -3px;
    height: 5px;
    left: 15%;
    position: absolute;
    width: 70%;
}
.upper_back h2{
    padding:40px 0; 
}
.about-page .about-wrap {
    border-bottom: 0 none;
    float: left;width: 100%;
    position: relative;
}
.bg-text {
    color: #f6f6f6;
    font-size: 114px;
    left: 35%;
    position: absolute;
    text-transform: uppercase;
    top: 0%;
    font-family: "montserratextrabold"
}

.fs-16 {
    font-size: 16px;
}
p {
    line-height: 1.8;
    margin-bottom: 15px;
}
.pt-10 {
    padding: 10px 0;
}
.about-us .feature {
    display: inline-block;
    margin-top: 35px;
    width: 100%;
}
.about-us .feature > li {
    display: inline-block;
    margin-bottom: 25px;
    width: 100%;
}
.feature img {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
    max-width: 60px;
    float: left;
}
.feature-content {
    display: inline-block;
    vertical-align: middle;
    width: 85%;
}
.feature .title-1 {
    margin:10px 0 0;
    font-size: 20px;
    font-weight: 700px;
}
.pad-30 {
    padding-bottom: 30px;
    padding-top: 30px;
}
.pb-100 {
    padding-bottom: 100px;
}

.more-about::before {
    height: 1px;
    left: 0;
    margin: -1px auto auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
}
.clrbg-before::before, .clrbg-after::after, .social-icons li a:hover, .social-icons li a:focus, .pricing-box.active .btn-round {
    background-color: #0A8CC1;
}
.clrbg-before::before {
    content: "";
}
.more-about {
    border: 1px solid #eaeaea;
    padding: 28px 35px 18px;
    text-align: center;
}
.title-1{
    font-size: 20px;
    font-weight:bolder;
    text-align: center;
}

.clrbg-before {
    position: relative;

}
.section-title, .title-1, .title-2, .title-3, .post-title, .widget-title, .font2-title1 {
    color: #333;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'montserratsemibold'
}
h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
    margin-top: 10px;
}
.pad-10 {
    padding-bottom: 10px;
    padding-top: 10px;
}
.bannerimg{width: 540px;}
/*about us page css End here */



/*Contact us page css start HEre*/
.innerpages {
    float: left;
    width: 100%;
    margin: 140px 0 0 0;
}
.inner-banner {
    background-image: url(../images/inner-banner.jpg);
    background-position: center center;
    background-size: cover;
    float: left;
    padding: 55px 0 50px;
    position: relative;
    width: 100%;
    z-index: 2;
    text-align: center;
}
.inner-banner h2 {
    color: #fff;
    font-size: 30px;
    margin: 0 0 30px 0;
    font-weight: 600;
}
.inner-wrapper {
    width: 100%;
    float: left;
    padding:50px 0px;
}
.inner-wrapper h2 {
    font-size: 20px;
    margin: 0 0 35px 0;
    text-transform: uppercase;
    text-align: center;
    color: #333;
    font-family: "montserratsemibold";
}
.contact-us .address .icon-border {
    border: dashed 1px #2b2b2b;
    margin: 0 100px 30px 0;
}
.contact-us .address .icon-border .icon {
    margin: 0 0 -10px 0;
}
.contact-us .address .icon-border .icon i {
    display: block;
    background: #0a8cc1;
    color: #fff;
    font-size: 30px;
    width: 100%;
    height: auto;
    line-height: 66px;
    text-align: center;
    border-radius: 8px;
    margin: 10px 0 0 10px;
}
.contact-us .address:hover .icon-border .icon i {
    background: #01415D;
}
.contact-us .address:hover .icon-border {
    border: dashed 1px #0081BB;
}
.offset-top-30 {
    margin-top: 30px;
}
.contact-us #googleMap iframe {
    width: 100%;
    height: 400px;
    border: solid 1px #ccc;
    border-radius: 6px;
    margin: 40px 0 0 0;
}
.controls.field .form-group label {
    float: left;
    margin: 0 0 3px 0;
    font-size: 15px;
}
.controls.field .form-group input {
    padding: 8px 6px;
    background-color: #fff;
    outline: none !important;
    border: 1px solid #d8d8d8;
    box-shadow: none !important;
    height: auto;
}
.controls.field .form-group textarea {
    padding: 8px 6px;
    background-color: #fff;
    outline: none !important;
    border: 1px solid #d8d8d8;
    box-shadow: none !important;
    height: 100px !important; width: 100% !important; overflow: auto; max-height: 100px;
}
.controls.field .form-group {
    text-align: left;
}
.controls.field .submitbtn .btn-send {
    border-radius: 4px;
    color: #0081BB;
    border: 1px solid #0081BB;
    background: none;
    padding: 8px 30px;
}
.controls.field .submitbtn .btn-send:hover {
    background-color: #0081BB;
    color: #fff;
}
/*Contact us page css close here*/
/*FAQ page css start HERE*/
.inner-wrapper.faq .panel-group {
    margin-bottom: 0;
}
.inner-wrapper.faq .panel {
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.inner-wrapper.faq .panel-heading {
    border-radius: 0;
    padding: 0;
    border: none;
    background-color: inherit;
}
.inner-wrapper.faq .panel-title {
    position: relative;
}
.inner-wrapper.faq .panel-title a {
    color: #000;
    padding: 12px 18px;
    background-color: #fff;
    border: solid 1px #ededed; font-size: 16px; font-weight: normal;
    display: block; text-decoration: none; outline: none;
}
.inner-wrapper.faq .panel-title span {
    font-family: tahoma;
    font-size: 14px;
    padding: 0 5px 0 0;
}
.inner-wrapper.faq .panel-title a::after {
    content: "\f106";
    font-family: "FontAwesome";
    position: absolute;
    right: 15px;
    font-size: 20px;
}
.inner-wrapper.faq .panel-title a.collapsed::after {
    content: "\f107";
    font-family: "FontAwesome";
    position: absolute;
    right: 15px;
    font-size: 20px;
}
.inner-wrapper.faq .panel-title a.collapsed {
    color: #000;
    background-color: #fff;
    border: solid 1px #ededed;
}
.inner-wrapper.faq .panel-body{font-size: 14px; color:#000; line-height: 22px; border:none !important; background-color:#ededed;}
.inner-wrapper.faq .panel-title a:hover{background-color:#e7e7e7;}
/*FAQ page css close here*/

/*Privacy policy page css start here*/
.contentbase{float: left; width: 100%; margin: 10px 0px 15px 0px;}
.contentbase h3{
    color: #0081BB;
    font-size: 20px;
    margin: 0 0 10px 0;
    font-weight:normal; float: left; width: 100%;
    font-family: "montserratsemibold" 
}
.contentbase p {
    font-family: "montserratregular";
    font-size: 14px;
    text-align: justify;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin: 0px; float: left; width: 100%;
    line-height: 22px;
}
.contentbase.wrapp p{
    border-bottom: none;
}
#idpry .inner-wrapper{
    padding: 20px 0;
}
.row1 p{
    font-family: "montserratregular";
    font-size: 14px;
    text-align: justify;
    padding-bottom: 20px;
    border-bottom:2px solid #ccc;
    margin-bottom: 50px; 
    line-height: 22px;
}
.spanwrapp{
    float: left;
    width: 100%;
    padding-left: 30px;
}
.contentbase span {
    color: #000;
    padding-left: 40px;
    display: block; float: left; width: 100%;
}
.privacy_main .privacy h2{margin: 0px 0px 15px 0px; text-align: center;}
/*Privacy policy page css close here*/
/*Blog page css start Here*/
.news .thumbnail {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    position: relative;
    float: left;width: 100%;
}
.news .news-img {
    position: relative;
}
.news .hover-img {
    background: #2d2e2e;
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.news .hover-img > img {
    min-height: 100%;
    transition-duration: 0.5s;
}
.news .thumbnail img {
    width: 100%;
    position: relative;
}
.news .thumbnail .hover-link {
    display: block;
    height: 100%;
    left: 0;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 100%;
}
.news .thumbnail .link {
    margin-top: 28%;
    position: relative;
    text-align: center;
    top: 0;
}
.news .thumbnail .link i {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 50%;
    color: #333333;
    font-size: 14px;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    opacity: 0;
    position: relative;
    top: 20px;
    transition: all 0.6s ease 0s;
    width: 30px;
    z-index: 2;
}
.news .thumbnail .hover-link::after {
    background: #6bb601;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 0.4s ease 0s;
    width: 100%;
    z-index: 1;
}
.news .date {
    position: absolute;
    bottom: 12px;
    left: 12px;
    z-index: 1;
}
.news ul {
    margin: 0;
    padding: 0;
}
.news ul li {
    float: left;
    list-style: none;
}
.news .date li {
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    background: #0A8CC1;
}
.news .caption {
    border: solid 1px #ccc;
    margin: 0;
    padding: 20px 20px 30px;
    float: left;
    width: 100%;
}
.news .caption h3 {
    margin: 10px 0;
}
.news .caption h3 a {
    font-size: 20px;
}
.news .caption a {
    color: #000000;
    font-weight: 600;
}
.news .thumbnail:hover .caption a{color:#0081BB; text-decoration: none; }
.news .details {
    margin: 5px 0 0 0;
    display: inline-block;
    width: 100%;
}
.news .details li {
    margin: 0 12px 0 0;
    color: #262626;
}
.news .caption .posted {
    color: #7a7a7a;
    font-size: 16px;
}
.news .caption p {
    line-height: 24px;
    margin: 0 0 20px 0;
    color: #7a7a7a;
}
.news .caption a.readmore {
    color: #262626;
}
.news .caption a.readmore i {
    padding-right: 4px;
}
.news .thumbnail:hover .caption {
    border: solid 1px #0081BB;
}
.news .thumbnail:hover .hover-img > img {
    transform: scale(1.1);
    transition-duration: 0.5s;
}
.news .thumbnail:hover .hover-link::after {
    opacity: 0.7;
}
.news .thumbnail .hover-link::after {
    background: #0081BB;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 0.4s ease 0s;
    width: 100%;
    z-index: 9999;
}
/*Blog page css close here*/

/*services page css starts here */
#idservices .bg-text {color: #f6f6f6; font-size: 114px; left: 29%; position: absolute; text-transform: uppercase; top: 15%; }

/*News page css Starts here */
.blog-section.style-two{
    float: left;
    width: 100%;
    position: relative;
}
.blog-section .item-holder {
    display: table;
    margin-bottom: 40px;
    position: relative;
}
.blog-section .image-box {
    display: table-cell;
}
.blog-section .image-text {
    border: 1px solid #e5e5e5;
    display: table-cell;
    padding: 40px 28px 40px 35px;
    vertical-align: middle;
}
.blog-section .image-text span {
    color: #0a8cc1;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
}
.blog-section .image-text h4::before {
    background: #0a8cc1 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 40px;
}
.blog-section .image-text .text {
    border-top: 1px solid #e5e5e5;
    margin-top: 45px;
    padding-top: 15px;
}
.blog-section .image-text .text span {
    color: #848484;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin-left: 20px;
}
.readwrapp {
    background: transparent none repeat scroll 0 0;
    border-radius: 0;
    color: #0a8cc1;
    padding: 5px 15px;
    border:1px solid #0a8cc1;
    transition: 1s ease 0s;
}
.readwrapp:hover{
    background: #0a8cc1;
    color: #fff;
}
.blog-section .image-text h4 {
    color: #222222;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}
#frm-first .row-comm {
    float: left;
    width: 100%;
}
#frm-first .row-comm .form-group div {
    font-size: 12.8px;
    margin: 3px 0 0px 0;
    float: left;
    width: 100%;
    line-height: normal;
    color: #ff0000 !important;
}
#frm-second .row-comm .zip-county {
    width: 96%;
}
#frm-second .form-group.zip-county .col-md-6:nth-child(2) {
    width: 48%;
    float: right;padding: 0;
}
#frm-second .form-group.zip-county .col-md-6:nth-child(1) {
    width: 48%;padding: 0;
}
#frm-second .row-comm {
    float: left;
    width: 100%;
}
form#resetform {
    float: left;
    width: 100%;
    padding: 30px 20px;
    background: #fff;
}
#frm-second .row-comm.buton-group .form-group {
    width: 96%;
}
#frm-second .row-comm.buton-group .form-group .btn {
    float: left;
    width: 48%;
    margin: 0 8px 0 0;
}
#frm-second .row-comm.buton-group .form-group #btn-back.btn {
    float: right;
    margin: 0;
}
.file {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 35px;
    left: 0;
    margin: 0;
    padding: 0;
}

.input-group-addon:first-child i {
    position: relative !important;
    top: auto;
    right: auto;
}
.loginsignup .btn.browse  {
    color: #fff;
    padding: 6px 6px 7px 6px;
    font-size: 13px;
    box-shadow: 0px 5px 20px #a9a9a9;
    min-width: auto;
    width: auto;
    height: auto;
}
.loginsignup .btn.browse i {
    position: relative;
    top: auto;
    color: #fff;
    right: auto;
    font-size: 15px;
    vertical-align: middle;
}
.select-nemt .form-group .form-group.brows-doc{float: left; width: 100% !important; margin: 0px !important;}
select.form-control *{
    font-size: 13px;
    padding: 6px 0px !important;
    margin: 2px 0px 2px 0px;
    color: #6d6d6d;
    line-height: 20px;
    min-height: auto;
    font-weight: normal;	
}
option {color:#6666;font-weight:bold; padding:5px}
option:hover {color:blue}
/*News page css End here */
.navbar_section #showmenu {
    display: none;
}
#menu-toggle {
    border-radius: 0px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    margin: 0;
    padding:0px;
    position: inherit;
    text-align: center;
    width: auto;
}
#menu-toggle i {
    font-size: 25px;
}
.tab_menu{
    margin:10px 0;
}

@media only screen and (max-width: 767px) {
    .navbar_section .tab_menu {display: none; float: left; width: 100%; }
    .navbar_section #showmenu {display: block; padding:10px;float: left;width: 100%;}
    .navbar.navbar_sec{display:none;}
}
.tab_menu ul li:hover::after {opacity: 1; transform: scale(1); visibility: visible; z-index: 1; }
.tab_menu ul li::after {background: #0081bb none repeat scroll 0 0; bottom: -10px; content: ""; display: block; height: 2px; left: 0; opacity: 0; position: relative; transform: scale(0); transform-origin: 50% 0 0; transition: all 0.3s ease 0s; width: 100%; }
#mobileview.tab_menu ul li {border-bottom: 1px solid #ccc; float: left; font-size: 16px; height: auto; line-height: normal; margin: 0 0 6px 0px; padding: 7px 0px 8px 0px; text-align: left; width: 100%; list-style-type: none; }
#mobileview.tab_menu ul li a{color: #fff;transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s; outline: none; text-decoration: none;}
#mobileview.tab_menu ul li a:hover, #mobileview.tab_menu ul li a:active{text-decoration: none;}
#mobileview.tab_menu ul li a:hover{padding-left: 10px;}

.location_add_sec li:hover .arro_w {left: 5px; }
.news-img > ul li {background: #0a8cc1 none repeat scroll 0 0; color: #fff; float: left; margin-top: -20px; padding: 10px 15px; position: absolute; z-index: 99999; }
.faq_main.innerpages .inner-wrapper.faq{padding-top:10px;}


/*harshad B css here 11-8-2017*/
.inner_dashboard{float:left; width:100%; position:relative;}
.inner_img{ display:block; height:240px; background-size:cover; -moz-background-size:cover; -webkit-background-size:cover; background-position:center center; background-repeat:no-repeat;}
.inner_top_wrapp { position: absolute; margin: 0 auto; width: 100%; text-align: center; bottom: 30px; }
.inner_head{ font-family:'montserratmedium'; color:#fff; font-size:25px; position:relative; text-transform:uppercase; padding-bottom: 5px; }
.inner_head::before { content: " "; position: absolute; width: 80px; height: 3px; background-color:#0090ca; text-align: center; left: 50%; bottom: 0; margin-left: -40px; }
.inner_menu_section{float:left; width:100%; position:relative; background-color:#0090ca;}
.dash_inn_menu{float:left; width:100%;}
.dash_inn_menu ul{float:left; width:100%; list-style:none; margin: 0; text-align: center;}
.dash_inn_menu ul li {display:inline-block; width:auto; position:relative;}
.dash_inn_menu ul li a { position:relative; font-family: 'montserratregular'; font-size: 16px; text-decoration:none; color: #fff; padding: 14px 24px; display: block; -webkit-transition:all 0.3s ease-out;-moz-transition:all 0.3s ease-out;-o-transition:all 0.3s ease-out;transition:all 0.3s ease-out;}
.dash_inn_menu ul li a:hover {background-color: #00ca64;}
.act_inn_menu{background-color: #00ca64;}
.not_cnt { width: 22px; height: 22px; border-radius: 50%; background-color: #e33c3c; color: #fff; font-family: 'montserratregular'; font-size: 12px;   position: absolute; right: 0px; top: 5px; text-align: center; line-height: 24px; }
.dash_inn_menu ul li .act_inn_menu:before { z-index: 99; content: "\f0d7"; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit; color: #00ca64; font-size: 26px; position: absolute; bottom: -20px; left: 0; width: 100%; text-align: center; right: 0; }
.dash_inn_menu ul li:hover a:after { z-index: 99; content: "\f0d7"; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit; color: #00ca64; font-size: 26px; position: absolute; bottom: -20px; left: 0; width: 100%; text-align: center; right: 0;}
.inner_body_wrapp{float:left; width:100%;  margin-top: 40px;}
.ts_dash_wrap{float:left; width:100%;}
.top_dash_sec{float:left; width:100%; padding:0 50px;}
.pro_wrap { float: right; max-width: 410px; height: 160px; background: linear-gradient(141deg, #0091CA 0%, #009DB3 43%, #00B686 75%); width: 100%; padding: 20px 20px 15px 20px; }
.prof_cir { line-height: 109px; display: inline-block; width: 122px; height: 122px; border-radius: 100%; background: #fff; overflow: hidden;   border: 3px solid #fff; }
.prof_cir img {width: 100%;}
.mypro_head{float:left; width:100%; font-family:'montserratmedium'; font-size:20px; margin-bottom: 8px;}
.prof_info { float: right; width: 220px;     color: #fff;}
.mypro_name{float:left; width:100%; font-size:18px; line-height: 18px; min-height: 60px;}
.mypro_name span{font-size:14px;}
.view_pro_btn{float:right; width:auto;}
.view_pro_btn a{color:#0090ca; text-decoration:none; padding:8px 22px; background-color:#fff; border-radius:2px;}
.view_pro_btn a:hover{
    color: #ffffff;
    background-color: #1b90cd;
}
.driv_map{display: block; max-width: 410px;}
.driv_sec{position: relative; display:block; height:160px; background-size:cover; -moz-background-size:cover; -webkit-background-size:cover; background-position:center center; background-repeat:no-repeat;}
.driv_sec:before { position: absolute; display: block; content: ''; top: 0; right: 0; bottom: 0; left: 0; opacity: 0.4; background: #000; }
.lt_prof {padding-right: 25px;}
.rt_dri {padding-left: 25px;}
.driv_rute{float:left; width:100%;    color: #fff; font-family:'montserratmedium'; font-size:20px; text-align: center; position:relative; margin-top:20px; text-transform:uppercase;}
.view_map_btn{position:absolute; bottom:28px; right:15px; width:auto;}
.view_map_btn a{color:#fff; text-decoration:none; padding:8px 22px; background-color:#0090ca; border-radius:2px;}
.view_map_btn a:hover{
    background-color: #3ecb57;
}
.my_rides_sec{float:left; width:100%; margin-top:75px; /*min-height: 450px;*/    padding-bottom: 40px;}
.inn_tit_wrap{float:left; width:100%; position:relative; margin-bottom:45px;}
.inn_head { font-family: "montserratsemibold"; letter-spacing: 1px; font-size: 57px; text-align: center; color: #f3f3f3; margin: 0px; position: relative; text-transform:uppercase; }
.inn_head span { text-align: center; font-size: 29px; color: #0094CD; position: absolute; width: 100%; top: 14px; left: 0; right: 0; text-transform:uppercase; }
.rides_box{float:left; width:100%;}
.inn_rides{float:left; width:100%;  background-color:#f0fafe;    border: 1px solid #d1f1ff;}
.ltrid_img {float: left; width: 160px; position:relative; }
.ltrid_img img {width:100%;}
.rid_cnt {font-family: 'montserratregular'; font-size: 41px; display: block; width: auto; position:absolute; top:70px; left:20px;    color: #fff; }
.tot_wrapp{float: right; width: 190px; margin-top: 31px;}
.tot_name{float:left; width:100%; font-family: 'montserratsemibold'; font-size:20px; color:#0090ca; margin-bottom: 18px; line-height: 24px;}
.view_rides_btn{float:left; width:100%;}
.view_rides_btn a{color:#fff; text-decoration:none; padding:8px 34px; background-color:#00ca64; border-radius:25px;}
.view_rides_btn a:hover{
    background-color: #1b90cd;
}
.myprof_wrapp{float:left; width:100%;}
.probgimg{position: relative; display:block; height:160px; background-size:cover; -moz-background-size:cover; -webkit-background-size:cover; background-position:center center; background-repeat:no-repeat;}
.probgimg:before { position: absolute; display: block; content: ''; top: 0; right: 0; bottom: 0; left: 0; opacity: 0.5; background: #e7f4f9; }
.mypro_info_wrapp{float:left; width:100%; margin-top: -90px; position: relative;}
.tp_pro_sect{float:left; width:100%; position: relative; }
.pro_img_box{float:left; position:relative; width:156px; height:171px; overflow: hidden; box-shadow: 0px 0 6px rgba(0,0,0,0.5); -moz-box-shadow: 0px 0 6px rgba(0,0,0,0.5); -webkit-box-shadow: 0px 0 6px rgba(0,0,0,0.5); border: 3px solid #fff; background-color: #ddf1f9; background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; background-repeat: no-repeat; background-position: center center;}
.edit_icon{ cursor:pointer; position: absolute; background-color: #0090ca; width: 26px; height: 26px; border-radius: 50%; bottom: 8px; right: 8px; text-align: center; line-height: 27px; }
.edit_icon i{color:#fff;}
.edit_icon:hover {    background-color: #3ecb57 !important;}
.pro_img_name{float:left; width:auto; margin-left:35px;}
.pro_nme{font-family: 'montserratregular'; font-size:20px; text-transform:uppercase; color:#0090ca; margin-bottom:10px;}
.pro_name_box{position: absolute; bottom: 8px;}
.edit_prof_btn { float: left; width: auto; }
.edit_prof_btn a { color: #fff; text-decoration: none; padding: 8px 16px; background-color: #0090ca; border-radius: 26px; font-size:12px; }
.edit_prof_btn a:hover{
    background-color: #3ecb57;
}
.basic_info_wrapp{float:left; width:100%; margin-top:30px; /*min-height: 600px;*/     padding-bottom: 40px;}
.info_head{float:left; width:100%; font-family: 'montserratregular'; font-size:16px; color:#0090ca; border-bottom:1px solid #e8e8e8; padding-bottom:5px; margin-bottom:20px;}
.basic_box{float:left; width:100%;}
.basic_inner{float:left; width:100%; margin-bottom:15px;}
.bas_lt{float:left; width:30%;}
.bas_lt img {float: left; width: auto;}
.bas_lt span{ display: inline-block; margin-left:15px; font-family: 'montserratregular'; font-size:14px; color:#666; text-transform:uppercase;}
.bas_rt{float: right; width: 68%; font-size:14px; color:#878585;}
.add_box .bas_lt{float:left; width:22%;}
.add_box .bas_rt{float:left; width:76%;}
.personal_box .bas_lt{float:left; width:62%;}
.personal_box .bas_rt{float:left; width:36%;}
.ins_head{float:left; width:100%; font-family: 'montserratregular'; font-size:14px; color:#666666; text-transform:uppercase;}
.ins_search{float:left; width:100%; margin-top:5px;}
.ins_search input { box-shadow: none !important; border-radius: 3px !important; width:300px; }
.pro_nme_input{float:left; width:100%; height: 45px;}
.pro_nme_input input{ font-family: 'montserratregular'; font-size: 16px; color: #666; border-radius: 2px !important; box-shadow: none !important; }
.edit_box label img{margin-right:10px; float: left; width: auto;}
.edit_box label{ font-family: 'montserratregular'; font-weight:normal; font-size: 14px; color: #666;text-transform: uppercase;}
.edit_inpt input{ font-size: 14px; color: #878585; border-radius: 2px !important; box-shadow: none !important; }
.edit_box{margin-bottom:18px;}
.edit_inpt select{ font-size: 14px; color: #878585 !important; border-radius: 2px !important; box-shadow: none !important; background: #fff url("../img/down_arrow.png") !important; background-position:98% center !important; background-repeat:no-repeat !important; background-size:12px auto !important;}
.edit_inpt textarea { width: 100%; font-size: 14px; color: #878585; border-radius: 2px !important; box-shadow: none !important; height: 82px; resize: none !important; text-align: left; float: left; }
.edit_inpt .image-preview-filename{background: #fff !important;}
.image-preview-input input[type="file"] { position: absolute; top: 0; left: 0; right: 0; margin: 0; padding: 0; font-size: 20px; cursor: pointer; opacity: 0; filter: alpha(opacity=0); }
.btn-primary.image-preview-input { color: #fff; font-size: 14px; background-color: #0090ca; border-color: #0090ca;}
.edit_pro_wrapp .basic_info_wrapp{min-height: 750px;}
.radio_btn {margin-right: 15px;}
.edit_inpt_radio { float: left; width: 100%; margin: 5px 0 0 25px; }
.radio_cust [type="radio"]:checked,
.radio_cust [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.radio_cust [type="radio"]:checked + label,
.radio_cust [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
.radio_cust [type="radio"]:checked + label:before,
.radio_cust [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 2px solid #0090ca;
    border-radius: 100%;
    background: #fff;
}
.radio_cust [type="radio"]:checked + label:after,
.radio_cust [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 18px;
    height: 18px;
    background: #0090ca;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.radio_cust [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.radio_cust [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.upld_sign {float: left; width: 100%; margin-top: 20px; }
.upld_sign .image-preview-input {border-radius: 2px !important;}
.my_rides_wrapp{ float: left; width: 100%;}
.all_rides_box{float: left; width: 100%; margin-top:25px; min-height: 500px;}
.rides_tab .nav-tabs { background-color: #0090ca; border: none !important; border-radius: 0 !important; padding: 0 15px; margin-bottom:25px; }
.rides_tab .nav-tabs  li{margin-bottom: 0px; cursor:pointer !important; margin-right: 10px;} 
.rides_tab .nav-tabs li a{padding: 14px 15px 10px !important; background-color: #0090ca; color:#fff;  font-family: 'montserratlight'; font-size:16px; text-transform:uppercase; border: none !important;
border-radius: 0 !important; margin:0px; cursor:pointer;}
.nav-tabs > li > a:hover {color: #fff;  background: none !important; border: 1px solid #ddd; border-bottom-color: transparent; border-bottom: 5px solid #00ca64 !important; padding-bottom: 5px; }
.rides_tab .nav-tabs > li.active > a, .rides_tab .nav-tabs > li.active > a:focus, .rides_tab .nav-tabs > li.active > a:hover {
    color: #fff;    
    background: none !important;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    border-bottom: 5px solid #00ca64 !important;
    padding-bottom: 5px;
}
.all_content{background-color:#f7f7f7;float: left; width: 100%; padding: 15px 25px; margin-bottom: 50px;}
.rid_head{float: left; width: 100%; font-size:16px; color:#0090ca; text-transform:uppercase; font-family: 'montserratmedium'; margin-top: 0;}
.rides_table { float: left; width: 100%; }
.rides_table thead { background-color: #7ca5b5; font-size:14px; font-weight:normal; font-family: 'montserratlight'; text-transform: uppercase; }
.rides_table thead th{border-bottom:none !important;    color: #fff;}
.rid_pic{  float: left; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-position: center center; background-repeat: no-repeat; width:48px; height:48px; border-radius:50%; border:2px solid #0090ca; }
.rides_table tbody tr td{color:#666666; font-size:14px; font-family: 'montserratlight'; vertical-align: middle;}
.rid_nme { float: left; width: auto; margin-left: 10px; line-height: 47px; color:#0090ca; }
.btn.btn-track { background-color: #0090ca; color: #fff; border-radius: 20px; text-transform: uppercase; font-size: 11px; width: 84px; }
.btn.btn-cancel { background-color: #fb4646; color: #fff; border-radius: 20px; text-transform: uppercase; font-size: 11px; width: 84px; }
.btn.btn-view{ background-color: #7ca5b5; color: #fff; border-radius: 20px; text-transform: uppercase; font-size: 11px; width: 84px; }
.btn.btn-status{ background-color: #00ca64; color: #fff; border-radius: 20px; text-transform: uppercase; font-size: 11px; width: 100px; }
.rides_table tbody tr{background-color: #fff;}
.rides_table tbody tr:nth-child(2n) {background-color: #f4fafc !important;}
.rides_table tbody tr td{border-top: 1px solid #e9edee !important;}
.driver_sched_wrapp{ float: left; width: 100%;}
.driver_sched_inner{float: left; width: 100%; margin-top: 20px;}
.heal_head{float: left; width: 100%; font-size:16px; color:#0090ca; text-transform:uppercase; font-family: 'montserratmedium'; margin-top: 0; border-bottom: 1px solid #9b9a9a;
padding-bottom: 8px; position:relative;}
.search_filt_wrap{float: left; width: 100%; background-color:#f3f3f3; padding:10px;}
.sera_title{float: left; width: 100%; font-size:12px; color:#5b7078; border-bottom: 1px solid #c6c6c6; padding-bottom: 6px;}
.sear_bt_box{float: left; width: 100%; margin-top:16px;}
.sea_box input { font-size: 14px; color: #878585; border-radius: 2px !important; box-shadow: none !important; }
.sea_box label {   font-weight: normal; font-size: 14px; color: #5b7078; }
.cat_inpt select { font-size: 14px; color: #878585 !important; border-radius: 2px !important; box-shadow: none !important; background: #fff url("../img/down_arrow.png") !important;        background-size: auto auto; background-position: 96% center !important; background-repeat: no-repeat !important; background-size: 12px auto !important; text-transform:none; }
.slider-example {color: #000;}
.apply_btn { display: inline-block; margin-top: 4px; }
.apply_btn button { border: none !important; color: #fff; background-color: #0090ca; padding: 8px 42px; font-size: 14px; width: auto; border-radius: 2px; }
.heal_wrapp{float: left; width: 100%; margin-top:40px; margin-bottom:50px;}
.heal_rides { float: left; width: 100%; background-color: #fff; border: 1px solid #ededed; height: 146px; margin-bottom:42px; }
.heal_img { float: left; width: 125px; position: relative; height: 100%; }
.heal_img img { width: 100%; height: 100%; }
.hela_logo_box { display: block; width: 74px; height: 74px; position: absolute; top: 29px; left: 14px;	 border-radius: 50%; border: 3px solid #0090ca; overflow: hidden; padding: 12px; }
.hela_logo { background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-position: center center; background-repeat: no-repeat; display: block; height: 100%; width: 100%; }
.heal_inn { float: right; width: 227px; padding-right: 10px; position: relative; }
.hel_name { float: left; width: 100%; font-family: 'montserratregular'; font-size: 14px; color: #0090ca; margin-bottom: 2px;   text-transform:uppercase; margin-top: 5px; line-height: 17px; height: 38px; overflow: hidden; }
.hel_txt { float: left; width: 100%; font-size: 10px; color: #9d9b9b; margin-bottom: 5px; margin-top: 0; line-height: 14px; }
.heal_btn { float: left; width: 100%; text-align: right; }
.heal_btn a { color: #fff; text-decoration: none; padding: 8px 16px; background-color: #0090ca; border-radius: 25px; font-size:11px; display: inline-block; }
.driver_sched_trip_deta{float: left; width: 100%; margin-top: 20px;}
.driver_sched_deta{float: left; width: 100%; margin-bottom: 40px;}
.sched_deta_box{float: left; width: 100%; background-color:#e7f4f9;padding:15px; margin-top:5px;}
.schdeta_sec{float: left; width: 100%; border-bottom:1px solid #d8e0e4; padding-bottom:12px; margin-bottom:12px;}
.rid_tim label{float: left; width: 100%; font-weight: normal; font-size:16px; font-family: 'montserratregular'; color:#0090ca;}
.rid_info{float: left; width: 100%; font-weight: normal; font-size:14px; color:#505050;}
.pick_deta{float: left; width: 100%;}
.pick_lab{float: left; font-weight: normal; font-size:14px; font-family: 'montserratregular'; color:#666; margin-right:10px; height:auto;}
.pick_info{font-weight: normal; font-size:14px; color:#505050;}
.sched_deta_box_one{margin-top:10px;}
.not_pay{float: left; width: 100%; color:#fd4343; font-size:14px;}
.pay_rad{float: left; width: 100%; margin-top:8px;}
.pay_rad .radio_btn{display:inline-block;}
.pay_rad label{font-weight:normal; font-family: 'montserratlight'; font-size: 14px;}
.iunsur_box{margin-bottom:10px; float: left; width: 100%;}
.com_pt { box-shadow: none !important; border-radius: 3px !important; width: 300px; }
.lst_bor{border-bottom:none !important;}
.pay_btn_box { float: left; width: 100%; margin: 15px 0 0; text-align: right;}
.req_btn{ margin-left: 8px; border:none; color: #fff; text-decoration: none; padding: 8px 16px; background-color: #95a0a4; border-radius: 25px; font-size: 14px; display: inline-block; }
.add_btn{background-color: #0090ca;}
.pay_btn{background-color: #00ca64;}
.ride_trip_deta{float: left; width: 100%; margin-bottom: 40px;}
.trip_deta_box { float: left; width: 100%; background-color: #e7f4f9; padding: 15px; margin-top: 5px; }
.view_sec { float: left; width: auto; margin-top: 10px;}
.pick_lab_new { float: left !important; width:auto !important; font-weight: normal !important; font-size: 14px !important; font-family: 'montserratregular' !important; color: #666 !important; margin-right: 10px; }
.view_pop { position: absolute; right: 155px; bottom: 15px; }
.comp_btn{background-color: #0090ca;}
.cancel_btn{background-color: #fa2a2a;}
.back_box { position: absolute; right: 0; top: -7px; }
.back_btn{ border:none; color: #fff;     height: 25px;text-decoration: none; padding: 6px 16px; background-color: #95a0a4; border-radius: 25px; font-size: 12px; display: inline-block; }
.all_comp_wrapp{float: left; width: 100%; margin-top: 25px;}
.comp_inner{float: left; width: 100%; position:relative;}
.comp_box{float: left; width: 100%; margin-top:5px; min-height:500px;}
.comp_lab label{font-family: 'montserratregular'; font-size: 14px; color: #666666; font-weight:normal; text-transform: uppercase;}
.comp_inpt input { font-size: 12px; color: #878585; border-radius: 2px !important; box-shadow: none !important; }
.comp_inpt select { font-size: 14px; color: #878585 !important; border-radius: 2px !important; box-shadow: none !important; background: #fff url("../img/down_arrow.png") !important;    background-position: 96% center !important; background-repeat: no-repeat !important; background-size: 12px auto !important; text-transform: none; }
.comp_inpt textarea { width: 100%; font-size: 14px; color: #878585; border-radius: 2px !important; box-shadow: none !important; height: 82px; resize: none !important; text-align: left; float: left; }
.comp_lab {margin-bottom: 18px;}
.dri_comp_wrapp{float: left; width: 100%; margin-top: 25px;}
.dri_inner{float: left; width: 100%;}
.dri_det_sec{float: left; width: 100%; position:relative; }
.dri_box_wrapp{float: left; width: 100%; margin-top: -90px;}
.dri_bsc_wrap{float: left; width: 100%; margin-top: 30px;}
.dri_bsc_name {float: left; width: 100%; font-weight: normal; font-size: 16px; font-family: 'montserratregular'; color: #0090ca; border-bottom:1px solid #e8e8e8; padding-bottom:8px; margin-bottom:15px; }
.info_sec .pick_lab{text-transform:uppercase;}
.info_sec i {margin-right: 8px;}
.info-basic{float:left; width: 100%; margin-bottom: 25px;}
.driver_deta_map{float:left; width: 100%;}
.driver_deta_map img{width: 100%;}
.noti_wrapp{float:left; width: 100%; margin-top:25px; min-height: 680px;}
.noti_inner{float:left; width: 100%; background-color:#f7f7f7; padding:15px 25px;}
.noti_head {float: left; width: 100%; font-size: 16px; color: #0090ca; text-transform: uppercase; font-family: 'montserratmedium'; margin-top: 0; margin-bottom:15px; position: relative; }
.noti_box{float: left; width: 100%; margin-bottom: 20px; border: 1px solid #f1f1f1; box-shadow: 0 0 4px rgba(0,0,0,0.1); -moz-box-shadow: 0 0 4px rgba(0,0,0,0.1); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.1);}
.lt_noti_wrap{float: left; width: 100%; position:relative;}
.lt_not_tit{float: left; width: 100%; font-size: 15px; text-transform: uppercase; font-family: 'montserratregular'; color: #fff; background-color:#0090ca; padding:10px 6px;}
.delete_sec{float: right;}
.delete_sec a{color:#fff;}
.not_tit_wrap{float: left; width: 100%; position:relative;}
.noti_box_inn{float: left; width: 100%; padding:10px; background-color: #fff; cursor:pointer;}
.lt_rat{float: left; width: 20px; margin-right:4px;}
.lt_rat	i{color:#00ca64; font-size:18px;}
.rt_box{float: right; width: 320px;}
.not_head{float: left; width: 100%; font-size:14px; color:#0090ca;}
.not_txt{float: left; width: 100%; font-size:11px; color:#666;}
.not_ago{float: left; width: 100%; text-align:right; color: #909090;font-size:11px;}
.bg_chan{background-color: #f4fafc;}
.act_noti{background-color: #285060;}
.act_noti .not_head{color:#fff;}
.act_noti .not_txt{color:#fff;}
.act_noti .not_ago{color:#fff;}
.not_mess_wrapp{float: left; width: 100%; background-color: #fff;}
.rt_not_tit{float: left; width: 100%; font-size: 15px; text-transform: uppercase; color: #666; padding:10px 15px; border-bottom: 1px solid #d7e2e7;}
.noti_sec{float: left; width: 100%; }
.rt_noti {padding-left: 0;}
.rt_noti i{color:#ff0000;}
.delete_rat {margin-right: 12px; float: right;}
.delete_rat i{color:#0090ca; font-size: 13px;}
.lt_noti {padding-right: 0; border-right: 1px solid #dfeaef;}
.noti_mess{float: left; width: 100%; padding:15px}
.not_new{float: left; width: 100%; font-size: 16px; font-family: 'montserratregular'; color: #666; margin-bottom: 5px;}
.not_mes_txt{float: left; width: 100%; font-size: 14px; color: #666;}
.cust_care{position:relative;}
.cust_sub_menu {display: none;}
.cust_care:hover .cust_sub_menu { display:block !important; position: absolute; top: 52px; width: 172px; background-color:#b6ddec; list-style:none; color:#666; }
.cust_care .cust_sub_menu li a { color: #666 !important; background: none !important; font-size: 13px !important; display: block; border-bottom: 1px solid #98acb3 !important; padding: 8px 10px !important; text-decoration:none; }
.cust_care .cust_sub_menu li { margin: 0 !important; }
.cust_care .cust_sub_menu li a:hover { color: #0090ca !important; }
.logg_sec { float: right; width: auto; margin: 16px 20px 0 0; }
.logg_sec .bs-example{float: right; width: auto;}
.logg_sec .dropdown-toggle{padding-right:25px; display:inline-block;}
.user_ico { float: left; width: 35px; height: 35px; background-color: #0090ca; color:#fff; border-radius:50%; text-align: center; line-height: 36px; }
.user_ico  i{font-size:16px;}
.user_nme { float: left; width: auto; margin-left: 10px; color: #666; font-family: 'montserratregular'; text-decoration: none !important; font-size:13px; line-height: 16px; margin-top: 2px; }
.logg_sec .dropdown-toggle { background: #fff url("../img/down_arrow.png") !important; background-position: 98% center !important; background-repeat: no-repeat !important; background-size: 12px auto !important;}
.logg_sec .dropdown.open .dropdown-menu{padding: 0 !important; margin: 13px 0 0 !important; border:none !important; border-radius:0px !important; min-width: 151px !important; box-shadow: 0 8px 10px rgba(240, 216, 216, 0.5) !important; -moz-box-shadow: 0 8px 10px rgba(240, 216, 216, 0.5) !important; -webkit-box-shadow: 0 8px 10px rgba(240, 216, 216, 0.5) !important;}
.logg_sec .dropdown.open .dropdown-menu li i{margin-right:10px; color:#3c3131;}
.logg_sec .dropdown.open .dropdown-menu li a{padding: 7px 20px !important; font-size: 13px !important; font-family: 'montserratregular';}
.logg_sec .dropdown.open .dropdown-menu li a:hover{background-color:#e4ecf0 !important;}
.subedit_form { float: left; width: 100%; border-top: 1px solid #e8e8e8; padding-top: 15px; }
.subedit_form .comp_btn { padding: 8px 30px; margin: 0; }
.per_doc a {color: #666 !important;}
.per_doc i{margin-right:5px;}
.funct_image {float: left; width: 100%;}
.funct_image img{width: 100%;}
#noti_box {height: 530px;}
.driver_sched_strt{float: left; width: 100%; margin-top: 25px; margin-bottom: 25px;}
.driver_strt_inn{background-color:#e7f4f9; float: left; width: 100%; padding:20px;}
.dri_main{float: left; width: 100%; margin-top:20px;}
.sch_log { float: left; width: 100%; background-color: #fff; padding: 25px 30px; border-radius: 10px; box-shadow: 0 0 7px rgba(0,0,0,0.2); -moz-box-shadow: 0 0 7px rgba(0,0,0,0.2); -webkit-box-shadow: 0 0 7px rgba(0,0,0,0.2);}
.pickaddress select {border: 1px solid #dcdcdc; padding: 0 8px;border-radius: 2px !important; box-shadow: none !important; background: transparent url("../img/down_arrow.png") !important;      background-position: 98% center !important; background-repeat: no-repeat !important; background-size: 10px auto !important; }
.new-frm { float: none; width: 320px ; margin: 0 auto; }
.new-frm select { border: 1px solid #dcdcdc; border-radius: 2px !important; box-shadow: none !important; background: #f4f4f4 url("../img/down_arrow.png") !important;      background-position: 98% center !important; background-repeat: no-repeat !important; background-size: 10px auto !important; }
#loginform #emailaddrss {padding-left: 43px;}
#login-password {padding-left: 43px;}
#signupform input.form-control {background-color: #f4f4f4;box-shadow: none !important;}
#signupform input.form-control:focus {border: 1px solid #66afe9 !important;}
#loginform input.form-control {background-color: #f4f4f4;box-shadow: none !important;}
#loginform input.form-control:focus {border: 1px solid #66afe9 !important;}
#loginform  select {box-shadow: none !important; background:#f4f4f4 url("../img/down_arrow.png") !important; background-position: 98% center !important; background-repeat: no-repeat !important; background-size: 10px auto !important; }
#signupform  select {box-shadow: none !important; background:#f4f4f4 url("../img/down_arrow.png") !important; background-position: 98% center !important; background-repeat: no-repeat !important; background-size: 10px auto !important; }
.sch_img { display:block; position: relative; width: 100%; height: 585px;          background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; background-repeat: no-repeat; background-position: center center; top: 132px; }
.err_mes { float: left; width: 100%; color: #666; font-size: 15px; margin-bottom: 5px; }







/*popup css*/
.modal-dialog .modal-header{background-color: #0090ca; border-bottom: none !important;}
.modal-dialog .modal-title{font-size: 16px; text-transform:uppercase; font-family: 'montserratregular';}
.modal-content{border-radius: 10px !important; overflow: hidden;}
.modal-header .close { margin-top: -2px; background-color: #fff; opacity: 1; border-radius: 50%; width: 26px; height: 26px; font-size: 17px; color: #0090ca; }
.modal-dialog { width: 600px; margin: 0; position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%) !important; -moz-transform: translate(-50%, -50%) !important; -webkit-transform: translate(-50%, -50%) !important;}
.modal-footer{border-top:none; margin-bottom:15px;}
#health_pop .modal-dialog{max-width:700px; width:100%;}
.inner-title {color: #0090ca; text-align: center; text-transform: uppercase; font-size: 16px; }
.add_details{ display: inline-block; width: 100%; background-color:#e7f4f9; padding:10px;}
#health_pop .add_box{display: inline-block; width: 100%; border-bottom: 1px solid #d8e0e4; padding-bottom: 10px; margin-bottom: 8px;}
#health_pop .add_box label{display: inline-block; width: 100%; font-weight: normal; font-size:16px; font-family: 'montserratregular'; color:#0090ca; margin-bottom: 2px; position:relative;}
.lab_txt{display: inline-block; width: 100%; font-size:14px; color:#505050; position:relative;}
.add_sec{display: inline-block; width: 100%;}
.add_lt { float: left; width: 100%; max-width: 100px; margin-right:20px; font-size:14px; font-family: 'montserratregular'; }
.add_rt { float: left; width: 100%; max-width: 520px; font-size: 14px; color: #505050; }
.map_pop{position:absolute; right:0; bottom:0; }
.com_btn{display:block; background-color:#0090ca; font-size:12px; color:#fff;     padding: 8px 12px; border-radius:20px; border: none;}
.com_btn:hover, .com_btn:focus{
    background-color: #08415e;
	color:#fff;
	text-decoration:none;
}
.lt_mob{font-size:14px;	font-family: 'montserratregular';}
.cont_btn{background-color:#0090ca; color:#fff; border-radius:20px; text-transform:uppercase; border: none; padding: 8px 26px; font-size:16px; box-shadow: 0 6px 15px rgba(0,0,0,0.3); -moz-box-shadow: 0 6px 15px rgba(0,0,0,0.3); -webkit-box-shadow: 0 6px 15px rgba(0,0,0,0.3);}
#succpay_pop .modal-dialog{width: 400px;}
#succpay_pop .modal-dialog .modal-header{background-color: #fff;}
#succpay_pop .modal-body{padding: 0 15px;}
#succpay_pop .modal-header .close{background-color: #0090ca; color: #fff;}
.succ_icon {display: inline-block; width: 100%; text-align: center;}
.succ_icon img{width: auto;}
.succ_tit{font-size: 16px; color:#0093c5; font-family: 'montserratmedium'; display: inline-block; width: 100%; text-align:center; text-transform:uppercase;}
.succ_trip { display: inline-block; width: 100%; text-align: center; color: #545454; font-size: 16px; margin-top: 0; margin-bottom: 20px; }
.trip_id{display: inline-block; width: 100%; text-align:center; margin-bottom: 20px;}
.trip_id span { color: #545454; background-color: #e9f7fd; font-family: 'montserratbold'; padding: 12px 26px; border-radius: 5px; letter-spacing: 6px; }
.ok_btn { display: inline-block; width: 100%; text-align: center; }
.ok_btn .cont_btn{padding: 8px 36px;}
.read_trip { display: inline-block; width: 100%; text-align: center; color: #545454; font-size: 16px; margin: 25px 0 0;}
.sma_pop .modal-header{background-color: #fff !important;}
.sma_pop .modal-header .close {background-color: #0090ca !important; color: #fff !important;}
.sma_pop .modal-body{padding-top:0px;}
#canride_pop .modal-dialog{width: 400px;}
#returnride_pop .modal-dialog{width: 400px;}
.date-picker {background: url(../../assets/img/calendar.png); background-repeat: no-repeat; background-size: 17px; background-position: 96% 50%; padding-right: 33px; cursor: pointer;}
.error {color:red; font-size:13px; }
/*************************************24 11 2017************************************/
.required{
	position:relative;
}
.required:after{
    content: "*";
    color: red;
    padding-left: 4px;
    font-size: 14px;
    position: absolute;
    margin-top: -2px;
    /* top: -2px; */
    /* right: -8px; */
}
#frm-first .phnnumbernew{
    float: left;
    margin: 0 2% 18px;
    position: relative;
    width: 46%;
    height: auto;
    display: inline-block;	
}
.phnnumbernew label{
    color: #505050;
    font-size: 12px;
    margin-bottom: 0;
}
.signupform-inner .phnnumbernew img {
    width: 17px;
    margin-right: 7px;
    margin-bottom: 7px;
    margin-top: 0;
    float: left;
}
.signupform-inner .phnnumbernew .intl-tel-input .selected-flag {
    height: 34px;
}
.intl-tel-input .country-list{
	    max-width: 225px;
}
/*******/
.driver_deta_map #googleMap iframe{
    width: 100%;
    height: 280px;	
}
/*****contact page******/
.contact-us .intl-tel-input{
	    width: 100%;
}
/******about page**********/
.about-page{
    padding-bottom: 20px;	
}
/*****services page*******/
.services-page .pb-100 {
    padding-bottom: 40px;	
}
/*************************transportation solution tabs********************/
.tabsdiv{
	
}
.tabsdiv .tabsmenu{
	width: 250px;	
    float: left;
}
.tabsmenu li{
    width: 100%;	
}
.tabsmenu li a h4{
    padding-left: 60px;
    font-size: 15px;
    color: #656565;
    font-family: 'montserratregular';
    line-height: 20px;
}
.tabsmenu li a img{
    width: 50px;
    float: left;
}
.tabsmenu li a{
    padding: 10px 10px;
    border-radius: 0px 0px 0 0;
    border: 1px solid #eaeaea;
    min-height: 70px;
    border-bottom: none !important;
    margin-right: 0;
}
.tabsmenu li a:hover {
    border-bottom-color: transparent !important;
    color: #23527c;
    border-bottom: none !important;
	padding-bottom: 10px;
	    background-color: #ecf9ff !important;
}
.tabscont {
    width: calc(100% - 250px);
    margin-left: 250px;
    height: 100%;
    background-color: #f4f3f3;
    padding: 15px;
    min-height: 570px;
}
.tabsmenu .nav-tabs>li.active>a{
    border: 1px solid #eaeaea;
    border-bottom: none !important;
    background-color: #f4f3f3 !important;
    border-right: none;
    border-left: 5px solid #1d95d0;
}
.tabscont .tab-pane .tbinner{
	    line-height: 25px;
}
.ui-datepicker .ui-datepicker-title select{
	padding: 0 5px;
}
/*****************27 nov 2017************/
.view_sec.viewnew{
	float: none;
}
.viewnew .com_btn{
	display: inline-block;
    padding: 5px 8px;
    margin-left: 5px;
    height: auto;
}
.viewnew .com_btn:hover{
	background-color: #3ecb57;
}
.view_pop.viewnew{
    position: relative;
    left: 5px;
    bottom: 4px;	
}
.infofloat{
    float: left;	
}
.viewnew{
    float: left;	
}
/*******/
.unread_not{
	font-weight:bold;
}
.innermenus{
	display:none;
}	
.innermenus .btn{
	background-color: #3ecb57;
    color: #fff;
    border: none;
    border-radius: 40px;
    padding: 8px 8px;
    height: 30px;
    width: 30px;
    margin: 5px 0;
}
.icon-bar {
    background-color: #ffffff;
    display: block;
    width: 15px;
    height: 2px;
    border-radius: 1px;
}
.innermenus .icon-bar+.icon-bar {
    margin-top: 4px;
}
/**********************************24 jan 2018***************************/
.address-show h4.modal-title {
    color: #fff;
}
.addrs{
    color: #1b90cd;
    margin-top: 0;
	    font-weight: bold;
}
.bluebg{
    background-color: #e7f4f9;
    float: left;
    width: 100%;
	    padding: 15px;
}
.bluebg .form-group{
float: left;
    width: 100%;
    border-bottom: 1px solid #cecece;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.bluebg .form-group:last-child{
	border-bottom:0;
}
.bluebg .form-group label {
    color: #1b90cd;
    font-size: 14px;
    text-shadow: none;
font-weight: 700;
    font-family: "montserratregular";
}
.address-show .comp_btn {
    margin-top: 15px;
	    box-shadow: 0px 10px 14px #bbbbbb;
}
.address-show .modal-footer {
    margin-bottom: 0;
}
.innrechild label{
	color: #555 !important;
	width: 100%;
	    font-weight: bold !important;
}
.address_main.innerpages{
	margin:0;
}
.search-health-form{
	    background-color: #e8e8e8;
    padding: 30px 15px;
}
.search-health-form h2{
	text-align:left;
	margin-bottom: 20px;
}
.address_main .inner-wrapper {
    padding: 0px 0px;
}
.schedule-ridetable thead {
    background-color: #7ca5b5;
    font-size: 14px;
    font-weight: normal;
    font-family: 'montserratlight';
    text-transform: uppercase;
    color: #fff;
}
.schedule-details .table>thead>tr>th {
    border: none;
}
.schedule-details .table>tbody>tr>td{
    border-color: transparent;
    border-top-color: #ddd;
}
.inner-wrapper h2.mb15{
margin-bottom: 15px;	
}
.address-show label, .address-show span, .address-show .innrechild{
    padding: 0;	
}
/****/
.showridedetails.comp_box {
    min-height: 1px;
}
.showridedetails.bluebg .form-group .comp_lab{
	padding-left:0;
}
.showridedetails.bluebg .form-group:last-child {
    border-bottom: 0;
    margin-bottom: 0;
}
.showridedetails label{
    color: #1b90cd;
    font-size: 14px;
    text-shadow: none;
	font-weight: 700;
	text-transform: capitalize;
}
.pdl0{
	padding-left:0;
}
.showridedetails.bluebg .form-group .comp_lab.pdl0{
	padding-left:0;
}
.mb15{
	margin-bottom: 15px;	
}
.showridedetails .comp_inpt {
    margin-top: 5px;
}
.showridedetails .comp_lab {
    margin-bottom: 0px;
}
.table {
    border: 1px solid #dddddd;
    border-top: none;
}
.schedule-details thead {
    background-color: #7ca5b5;
    font-size: 14px;
    font-weight: normal;
    font-family: 'montserratlight';
    text-transform: uppercase;
    color: #fff;
}
.rides_table thead {
    background-color: #7ca5b5;
    font-size: 14px;
    font-weight: normal;
    font-family: 'montserratlight';
    text-transform: uppercase;
}
thead {
    background-color: #7ca5b5;
    font-size: 14px;
    font-weight: normal;
    font-family: 'montserratlight';
    text-transform: uppercase;
	color:#fff;
}
.table>thead>tr>th {
    border: none;
}
.table>tbody>tr>td{
    border-color: transparent;
    border-top-color: #ddd;
}
/********collapse menu desktop******/
/*.inner_menu_section.collapse_desk{
	min-height:50px;
}
.inner_menu_section.collapse_desk .container{
	position:relative;
}
.collapse_desk .innermenus {
    display: block;
    position: absolute;
    right: 0;
}
.collapse_desk .innermenus .btn{
	    width: auto;
    line-height: 15px;
    padding: 8px 18px;
}*/
/********end collapse menu desktop******/























